<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Install vue-formio</h3>
  </div>
  <div class="panel-body">
    <p>Install the <strong>vue-formio</strong> module.</p>
    <pre><code>npm install --save vue-formio</code></pre>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Render the directive</h3>
  </div>
  <div class="panel-body">
    <p>To embed a form within your vue application, create a vue component using the formio component.</p>
    <pre><code>
      &lt;template&gt;
      &nbsp;&nbsp;&lt;formio :src="formUrl" v-on:submit="onSubmitMethod" /&gt;
      &lt;/template&gt;
      &lt;script&gt;
      import { Formio } from 'vue-formio';

      export default {
      &nbsp;&nbsp;data: function() {
      &nbsp;&nbsp;&nbsp;&nbsp;// Load these from vuex or some other state store system.
      &nbsp;&nbsp;&nbsp;&nbsp;return {
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;formUrl: "{{ projectUrl }}/{{ form.path }}"
      &nbsp;&nbsp;&nbsp;&nbsp;}
      &nbsp;&nbsp;},
      &nbsp;&nbsp;components: {
      &nbsp;&nbsp;&nbsp;&nbsp;formio: Formio
      &nbsp;&nbsp;},
      &nbsp;&nbsp;methods: {
      &nbsp;&nbsp;&nbsp;&nbsp;onSubmitMethod: function(submission) {
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(submission);
      &nbsp;&nbsp;&nbsp;&nbsp;}
      &nbsp;&nbsp;}
      };
      &lt;/script&gt;
    </code></pre>
  </div>
</div>
