<upgrade-warning ng-if="!minPlan('team') && projectSettingsVisible()" warning="Upgrade your project to team pro or above to configure LDAP settings."></upgrade-warning>
<h2>LDAP</h2>
<div class="well">
  <p>LDAP Server must be accessible to the form.io server hosting the project. The Bind DN and Password should have sufficient rights to search and validate users.</p>
  <p>To complete LDAP integration, be sure to add an LDAP Login action to your user login form.</p>
</div>
<div class="form-group">
  <label for="ldapURL">Server URL</label>
  <input ng-model="currentProject.settings.ldap.url" type="text" class="form-control" id="ldapURL" name="ldapURL" placeholder="ldaps://ldap.example.com:636">
</div>
<div class="form-group">
  <label for="ldapBindDn">Bind DN</label>
  <input ng-model="currentProject.settings.ldap.bindDn" type="text" class="form-control" id="ldapBindDn" name="ldapBindDn" placeholder="dn=mybindusername,ou=users,dc=example,dc=org">
</div>
<div class="form-group">
  <label for="ldapBindPassword">Bind Password</label>
  <input ng-model="currentProject.settings.ldap.bindPassword" type="text" class="form-control" id="ldapBindPassword" name="ldapBindPassword" placeholder="mypassword">
</div>
<div class="form-group">
  <label for="ldapSearchBase">Search Base</label>
  <input ng-model="currentProject.settings.ldap.searchBase" type="text" class="form-control" id="ldapSearchBase" name="ldapSearchBase" placeholder="ou=users,dc=example,dc=org">
</div>
<div class="form-group">
  <label for="ldapSearchFilter">Search Filter</label>
  <input ng-model="currentProject.settings.ldap.searchFilter" type="text" class="form-control" id="ldapSearchFilter" name="ldapSearchFilter" placeholder="(uid={{'{' + '{username}' + '}'}})">
</div>
<button ng-disabled="!minPlan('commercial')" class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
