$icon-font-path: '../fonts/';
@import "variables.scss";

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "bower_components/bootswatch/yeti/_bootswatch.scss";

body {
  padding-top: 50px;
}

.datetime-picker div > table .btn-default {
  border: 0;
  background-color: #fff;
}

.datetime-picker div > table .btn-default:hover {
  background-color: #ccc;
}

.datetime-picker div > table .btn-default.active {
  background-color: #ccc;
}

.has-feedback .datetime-picker .form-control {
  padding: inherit;
}

.form-control.btn-default {
  background-color: #fff;
}

ul.dropdown-menu {
  padding-bottom: 5px;
}

.navbar-brand {
  padding: 6px 0 0 0;
}

.breadcrumb {
  font-size: 14px;
}

.play-pres-overlay {
  text-align:center;
  z-index:2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000)";
}

.play-pres-overlay .play-pres-overlay-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
  border: none;
  opacity: 0.9;
  padding-top: 12px;
  z-index:3;
  color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: rgba(23, 35, 34, 0.746094);
  box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
}

.play-pres-overlay .play-pres-overlay-play span {
  display: block;
  font-size: 4em;
}

.navbar-fixed-top {
  border: 0;
}

.btn-xxs, .btn-group-xxs > .btn {
  padding: 2px 2px;
  font-size: 10px;
  line-height: 1.2em;
  border-radius: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xs {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 9px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #444;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  #main-wrapper {
    margin: 0;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  #main-wrapper {
    margin: 0 100px;
  }
}
.main .page-header {
  margin-top: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.form-builder-body {
  width: 100%;
  min-height: 400px;
}

.ngdialog.ngdialog-theme-default.component-settings .ngdialog-content {
  width: 65%;
}

.component-btn-group {
  position:absolute;
  right: 0;
  z-index: 1000;
}

.component-btn-group button.component-settings-button {
  float: right;
  z-index: 1002;
  z-index: 20;
  margin: 4px 4px 0 0;
}

.component-form-group .component-btn-group button.component-settings-button {
  display: none;
  z-index: 1001;
}

.component-form-group.col-xs-6 {
  clear: right;
}

.component-form-group.highlight {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
  -moz-box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
  box-shadow: 0px 0px 10px 1px rgba(48,113,169,0.6);
}

.component-form-group.highlight .component-btn-group button.component-settings-button {
  display: inherit;
}

#component-settings .tab-pane {
  padding: 10px;
}

.component-settings-key {
  margin: -1em 1em 1em 1em;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.formbuilder .nav-tabs {
  margin-bottom: 0;
}

.form-component-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-component-list li {
  margin-bottom: 10px;
}

.submission-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

.field-required {
  color:red;
  z-index: 5;
}

/* Fixes line-height issue where labels don't line up caused by ngDialog */
.checkbox label, .radio label {
  line-height: 1em;
}

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul.component-list,
ul.component-list > li {
  position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul.component-list {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul.component-list li {
  display: block;
  padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
  opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
  background-color: #ddd;
  min-height: 42px;
  display: block;
  position: relative;
}

/***************************** Element Selection *****************************/

.dropzone .selected .item {
  color: #3c763d;
  background-color: #dff0d8;
}

.dropzone .selected .box {
  border-color: #d6e9c6;
}

.dropzone .selected .box > h3 {
  color: #3c763d;
  background-color: #dff0d8;
  background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
  border-color: #d6e9c6;
}

/***************************** Element type specific styles *****************************/

.dropzone .item {
  padding: 10px 15px;
}

.dropzone .container-element {
  margin: 10px;
}

.dropzone .container-element .column {
  float: left;
  width: 50%;
}

/***************************** Toolbox *****************************/

.toolbox ul {
  list-style: none;
  padding-left: 0px;
  cursor: move;
}

.toolbox button {
  margin: 5px;
  width: 123px;
  opacity: 1.0;
}

.toolbox .dndDragging {
  opacity: 0.5;
}

.toolbox .dndDraggingSource {
  opacity: 1.0;
}

/***************************** Trashcan *****************************/

.trashcan ul {
  list-style: none;
  padding-left: 0px;
}

.trashcan img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.trashcan .dndDragover img {
  width: 100%;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.trashcan .dndPlaceholder {
  display: none;
}

.ui-select-toggle.btn {
  text-align: left;
}
