<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Include Formio.js + Bootstrap</h3>
  </div>
  <div class="panel-body">
    <pre style="font-size: 0.8em;"><code>&lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" href="https://unpkg.com/formiojs@latest/dist/formio.full.min.css"&gt;
    &lt;script src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js"&gt;&lt;/script&gt;</code></pre>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Embed the HTML Element</h3>
  </div>
  <div class="panel-body">
    <p>Place the following where you would like to show this form.</p>
    <pre><code>&lt;div id="formio"&gt;&lt;/div&gt;</code></pre>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Attach the form to the element</h3>
  </div>
  <div class="panel-body">
    <p>Next, you will attach the form to the HTML element.</p>
    <pre style="font-size:0.8em;"><code>&lt;script type="text/javascript"&gt;
      &nbsp;&nbsp;window.onload = function() {
      &nbsp;&nbsp;&nbsp;&nbsp;Formio.createForm(document.getElementById('formio'), '{{ projectUrl }}/{{ form.path }}');
      &nbsp;&nbsp;};
      &lt;/script&gt;</code></pre>
  </div>
</div>
