<br/>
<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Form Actions</h3></div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="action in actions">
                <td>
                    <a ui-sref="app.{{ resourceInfo.name }}.action.item.view({actionId: action._id})">{{ action.title }}</a>
                </td>
                <td>
                    <div class="button-group">
                        <a ui-sref="app.{{ resourceInfo.name }}.action.item.edit({actionId: action._id})" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                        <a ui-sref="app.{{ resourceInfo.name }}.action.item.delete({actionId: action._id})" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <form class="form-inline">
            <div class="form-group">
                <select id="action-select" name="action-select" ng-model="newAction" class="form-control" ng-options="action as action.title for action in availableActions"></select>
            </div>
            <a ng-click="addAction()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Action</a>
        </form>
    </div>
</div>
