<div class="container">
  <ul class="list-inline project-title-header">
    <li><h2><a ui-sref="home" title="Home"><i class="fa fa-home"></i><br /></a></h2></li>
    <li><h2>›</h2></li>
    <li><h2><i class="fa fa-users"></i> Teams</h2></li>
  </ul>
  <h2>New Team</h2>
  <div class="row">
    <div class="col-sm-8">
      <formio form="teamFormObj" submission="team" hide-components="['members', 'admins']"></formio>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Best Practices</h3>
        </div>
        <div class="panel-body">
          <div class="well">
            <p>Enter a name for your Team and start adding Members.</p><br/>
            <p>Members are Form.io users, that can be added to your project by their username.</p><br/>
            <p>Still need help? Check out the <a href="https://help.form.io/userguide/teams/" target="_blank">complete documentation</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
