<h3>{{ team.data.name }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Member</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="member in team.data.members">
      <td>
        <div class="col-sm-11">
          {{ member.data.name }}
        </div>
        <div class="col-sm-1">
          <button ng-show="(team.owner !== member._id) && (member._id === user._id)" class="btn btn-danger btn-xs" ng-click="leaveTeam(team._id)">Leave</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
