<div class="alert alert-info" ng-if="!belongs(user, team)">
  <p><strong>IMPORTANT:</strong> You have been added to the team <strong>{{ team.data.name }}</strong>.</p>
  <p>Do not accept this invitation unless you know the user who invited you and were expecting to be added to this team.</p>
</div>
<div class="row">
  <div class="col col-sm-3">
    <ul class="list-group">
      <li class="list-group-item">
        <h3>{{ team.data.name }}</h3>
        <div ng-if="ssoPortal">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="team.metadata.ssoteam" ng-change="saveTeam()">
              SSO Team
            </label>
          </div>
          <p clas="text-muted">Check this if you wish this team to be mapped to a Single-Sign-On Role</p>
        </div>
        <!--<a ng-if="team.owner === user._id" ui-sref="team.edit()">Edit</a>-->
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6">
            <h5>{{ team.data.members.length + team.data.admins.length || 0 }}</h5>
            <div>Members</div>
          </div>
          <div class="col-sm-6">
            <h5>{{ teamPermissions.length || 0 }}</h5>
            <div>Projects</div>
          </div>
        </div>
      </li>
      <li class="list-group-item" ng-if="!belongs(user, team)" >
        <span class="btn btn-success btn-xs btn-block" ng-click="accept()">Accept Invitation</span>
      </li>
      <li class="list-group-item" ng-if="belongs(user, team) && !isAdmin" >
        <span class="btn btn-danger btn-xs btn-block" ng-click="leaveTeam(team._id)">Leave</span>
      </li>
      <li class="list-group-item" ng-if="belongs(user, team) && isAdmin" >
        <a class="btn btn-danger btn-xs btn-block" ui-sref="team.delete()">Delete Team</a>
      </li>
    </ul>
  </div>
  <div class="col col-sm-9">
    <div class="team-header" ng-if="belongs(user, team)" style="margin-bottom: 10px;">
      <div class="col-xs-5 pull-right" ng-if="activeView === 'members' && isAdmin">
        <div class="input-group ">
          <span class="input-group-addon"><i class='fa fa-user' /></span>
          <ui-select ng-model="add.Person" theme="bootstrap" ng-change="changeRole($select.selected, 'members')">
            <ui-select-match placeholder="Add a person">{{$select.selected.data.name}}</ui-select-match>
            <ui-select-choices repeat="member in selectMembers" refresh="refreshMembers($select.search)" refresh-delay="250" minimum-input-length="3">
              <span>{{ member.data.name }}</span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="btn-group">
        <span ng-click="switchView('members')" ng-class="{ 'btn-primary': activeView === 'members' }" class="btn btn-default btn-sm">Team Members</span>
        <span ng-click="switchView('projects')" ng-class="{ 'btn-primary': activeView === 'projects' }"  class="btn btn-default btn-sm">Projects</span>
      </div>
    </div>
    <div class="panel panel-default" ng-if="activeView === 'members'">
      <ul class="list-group">
        <li class="list-group-item" ng-if="team.data.admins.length" ng-repeat="member in team.data.admins">
          <div class="btn-group pull-right" ng-if="isAdmin && team.owner !== member._id">
            <span class="dropdown" ng-if="belongs(user, team)">
              <span ng-if="authenticated" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog" /></span>
              <ul class="dropdown-menu">
                <li><a ng-click="changeRole(member, 'members')">Make team member</a></li>
                <li><a ng-click="changeRole(member)">Remove from team</a></li>
              </ul>
            </span>
          </div>
          <div><strong>{{ member.data.name }}</strong></div>
          <span class="label label-success" ng-if="team.data.name">{{ team.owner === member._id ? 'OWNER' : 'ADMIN' }}</span>
          <span class="label label-warning" ng-if="invitationPending(member)">INVITATION PENDING</span>
        </li>
        <li class="list-group-item" ng-if="team.data.members.length" ng-repeat="member in team.data.members">
          <div class="btn-group pull-right" ng-if="isAdmin && team.owner !== member._id">
            <span class="dropdown" ng-if="belongs(user, team)">
              <span ng-if="authenticated" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog" /></span>
              <ul class="dropdown-menu">
                <li><a ng-click="changeRole(member, 'admins')">Make team admin</a></li>
                <li><a ng-click="changeRole(member)">Remove from team</a></li>
              </ul>
            </span>
          </div>
          <div><strong>{{ member.data.name }}</strong></div>
          <span class="label label-success" ng-if="team.data.name">{{ team.owner === member._id ? 'OWNER' : 'TEAM MEMBER' }}</span>
          <span class="label label-warning" ng-if="team.data.name && invitationPending(member)">INVITATION PENDING</span>
        </li>
        <li class="list-group-item" ng-if="!team.data.members.length">
          No members in this team.
        </li>
        <li class="list-group-item disabled" ng-if="isAdmin">
          Team Admins can add this team to their projects and manage team members.
        </li>
      </ul>
    </div>
    <div ng-if="activeView === 'projects'">
      <table class="table table-striped" ng-if="teamPermissions.length">
        <thead>
        <tr>
          <th class="col-sm-6">Project</th>
          <th class="col-sm-6">Permission</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in teamPermissions">
          <td class="col-sm-6 ellipsis">{{project.title}}</td>
          <td class="col-sm-5">{{ getPermissionLabel(project.permission) }}</td>
          <td class="col-sm-1">
            <span ui-sref="project.teams({projectId: project._id})" class="btn btn-default btn-xs" ng-if="isAdmin">
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Modify
            </span>
          </td>
        </tr>
        </tbody>
      </table>
      <ul ng-if="!teamPermissions.length" class="list-group">
        <li class="list-group-item">
          Team is not assigned to any project. Visit the project team page to assign.
        </li>
      </ul>
    </div>
  </div>
</div>
