<h3>{{ team.data.name }}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Member</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="member in team.data.members">
      <td>
        {{ member.data.name }}
      </td>
      <td>
        <span class="label label-success">{{ team.owner === member._id ? 'OWNER' : 'MEMBER'}}</span>
      </td>
      <td>
        <button ng-show="(team.owner !== member._id) && (member._id === user._id)" class="btn btn-danger btn-xs" ng-click="leaveTeam(team._id)">Leave</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<div ng-if="team.owner === user._id">
  <h3>Team Permissions</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-sm-6">Project</th>
      <th class="col-sm-6">Permission</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in teamPermissions">
      <td class="col-sm-6 ellipsis">{{project.title}}</td>
      <td class="col-sm-5">{{ getPermissionLabel(project.permission) }}</td>
      <td class="col-sm-1">
        <button ui-sref="project.teams.edit({teamId: team._id, projectId: project._id})" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
