<h3>Public Configurations</h3>
<hr></hr>
<div class="row">
  <div class="col col-sm-8">
    <div class="checkbox" class="form-group">
      <label>
        <input type="checkbox" ng-model="currentProject.settings.allowConfig">
        Enable Public Configurations
      </label>
    </div>
    <p>These are <strong>Public</strong> configurations that will be available at the following endpoint</p>
    <pre>{{ projectUrl }}/config.json</pre>
    <div ng-if="currentProject.settings.allowConfig" class="checkbox" class="form-group">
      <label form-builder-tooltip="Check this if you would like to include this to all Form JSON schemas.">
        <input type="checkbox" ng-model="currentProject.settings.addConfigToForms"> Add Public Configuration to Forms schema.
      </label>
    </div>
    <div ng-if="currentProject.settings.allowConfig">
      <div class="alert alert-warning">
        <strong>Do not put any private information within these settings as they are available to the public.</strong>
      </div>
      <formio form="configForm" submission="configuration"></formio>
    </div>
    <button class="btn btn-primary" ng-click="saveConfiguration()">Save</button>
  </div>
  <div class="col col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">How to use Public Configurations</div>
      <div class="panel-body">
        <p>You can provide any <strong>Key</strong> and <strong>Value</strong> pairs that will be represented as follows at the url <a target="_blank" href="{{ projectUrl }}/config.json">{{ projectUrl }}/config.json</a>.</p>
        <pre>
{
   key: "value"
}
</pre>
        <p>If you wish to have the value as a JSON object, then ensure you click on the <strong>JSON</strong> checkbox when providing the value for that configuration. The value would then look something like the following.</p>
        <pre>
{"one": "Item One", "two": "Item Two"}
</pre>
      </div>
    </div>
    <div class="panel panel-success" ng-if="onPremise">
      <div class="panel-heading">Form Manager Configurations</div>
      <div class="panel-body">
        <p>These configurations can also be used to configure the parameters for the <strong>Form Manager</strong> application. Click the link below to view all of the <strong>Form Manager Configurations</strong>.</p>
        <a class="btn btn-primary" href="https://help.form.io/userguide/portalsso/#form-manager-configurations" target="_blank">Form Manager Configurations</a>
      </div>
    </div>
  </div>
</div>

