<h3>Public Configurations</h3>
<hr></hr>
<div class="row">
  <div class="col col-sm-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="currentProject.settings.allowConfig">
        Enable Public Configurations
      </label>
    </div>
    <p>These are <strong>Public</strong> configurations that will be available at the following endpoint</p>
    <pre>{{ projectUrl }}/config.json</pre>
    <div ng-if="currentProject.settings.allowConfig">
      <div class="alert alert-warning">
        <strong>Do not put any private information within these settings as they are available to the public.</strong>
      </div>
      <formio form="configForm" submission="configuration"></formio>
      <div ng-if="onPremise">
        <p>These configurations can also be used to configure the parameters for the <strong>Form Manager</strong> application. The following configurations apply.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Key</th>
              <th>Description</th>
              <th>Example</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>title</td>
              <td>The title you would like to give to the Form Manager Application</td>
              <td>Form Manager</td>
            </tr>
            <tr>
              <td>logo</td>
              <td>The url for the logo to present within the Form Manager</td>
              <td>https://manager.form.io/assets/logo.png</td>
            </tr>
            <tr>
              <td>logoHeight</td>
              <td>The height of the logo within the Form Manager</td>
              <td>40px</td>
            </tr>
            <tr>
              <td>js</td>
              <td>The URL to a custom JavaScript file that allows for custom components and logic.</td>
              <td>https://yoursite.com/js/custom.js</td>
            </tr>
            <tr>
              <td>css</td>
              <td>The URL to a custom CSS file for custom styling. This can also be used to change the Bootswatch theme as follows.</td>
              <td>assets/lib/bootswatch/dist/cosmo/bootstrap.min.css</td>
            </tr>
            <tr>
              <td>navbar</td>
              <td>The class to apply to the Navbar to allow for inverted, etc.</td>
              <td>navbar-dark bg-primary</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="saveConfiguration()">Save</button>
  </div>
  <div class="col col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">How to use Public Configurations</div>
      <div class="panel-body">
        <p>You can provide any <strong>Key</strong> and <strong>Value</strong> pairs that will be represented as follows at the url <a target="_blank" href="{{ projectUrl }}/config.json">{{ projectUrl }}/config.json</a>.</p>
        <pre>
{
   key: "value"
}
</pre>
        <p>If you wish to have the value as a JSON object, then ensure you click on the <strong>JSON</strong> checkbox when providing the value for that configuration. The value would then look something like the following.</p>
        <pre>
{"one": "Item One", "two": "Item Two"}
</pre>
      </div>
    </div>
  </div>
</div>

