<div class="well">
  <h4>Mailgun Settings</h4>
  <p><a href="http://www.mailgun.com/" target="_blank">Mailgun</a> is an online service for sending and managing emails. If you wish to send emails using your Mailgun account, then provide the API key and domain below.</p>
</div>
<div class="form-group">
  <label for="mailgunAPIKey">API Key</label>
  <input ng-model="currentProject.settings.email.mailgun.auth.api_key" type="text" class="form-control" id="mailgunAPIKey" name="mailgunAPIKey" placeholder="Mailgun API Key">
</div>
<div class="form-group">
  <label for="mailgunDomain">Domain</label>
  <input ng-model="currentProject.settings.email.mailgun.auth.domain" type="text" class="form-control" id="mailgunDomain" name="mailgunDomain" placeholder="One of your domain names listed at your https://mailgun.com/app/domains">
</div>
