<!--<div class="jumbotron">
  <p><a class="btn btn-primary btn-lg btn-block" ui-sref="createQuote()" role="button"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Create Quote</a></p>
  <p><a class="btn btn-primary btn-lg btn-block" ui-sref="listQuotes()" role="button"><span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span> View Quotes</a></p>
  <p><a class="btn btn-primary btn-lg btn-block" ui-sref="listCustomers()" role="button"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Customers</a></a></p>
  <p><a class="btn btn-primary btn-lg btn-block" ui-sref="listCompanies()" role="button"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Companies</a></a></p>
</div>-->
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><a ui-sref="listQuotes()" class="btn btn-default"><i class="fa fa-dollar"></i> Quotes</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Type</th>
            <th>Submitted</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="quote in quotes">
            <td>
              <a ui-sref="viewQuote({quoteId: quote._id})">{{ quote.data.type }}</a>
            </td>
            <td>{{ quote.created | amDateFormat:'MMMM Do YYYY' }}</td>
            <td>
              <div class="button-group">
                <a ui-sref="editQuote({quoteId: quote._id})" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a ui-sref="deleteQuote({quoteId: quote._id})" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <bgf-pagination collection="quotes" url="quotesUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="createQuote()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> New Quote</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><a ui-sref="listCustomers()" class="btn btn-default"><i class="fa fa-users"></i> Customers</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Submitted</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="customer in customers">
            <td>
              <a ui-sref="viewCustomer({customerId: customer._id})">
                {{ customer.data.firstName }} {{ customer.data.lastName }}
              </a>
            </td>
            <td>{{ customer.created | amDateFormat:'MMMM Do YYYY' }}</td>
            <td>
              <div class="button-group">
                <a ui-sref="editCustomer({customerId: customer._id})" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a ui-sref="deleteCustomer({customerId: customer._id})" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <bgf-pagination collection="customers" url="customersUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="createCustomer()" class="btn btn-primary btn-lg"><i class="fa fa-user-plus"></i> New Customer</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><a ui-sref="listCompanies()" class="btn btn-default"><i class="fa fa-building"></i> Companies</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Submitted</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="company in companies">
            <td>
              <a ui-sref="viewCompany({companyId: company._id})">{{ company.data.name }}</a>
            </td>
            <td>{{ company.created | amDateFormat:'MMMM Do YYYY' }}</td>
            <td>
              <div class="button-group">
                <a ui-sref="editCompany({companyId: company._id})" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a ui-sref="deleteCompany({companyId: company._id})" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <bgf-pagination collection="companies" url="companiesUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="createCompany()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> New Company</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><a ui-sref="listAgents()" class="btn btn-default"><i class="fa fa-money"></i> Sales Agents</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Submitted</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="agent in agents">
            <td>
              <a ui-sref="viewAgent({agentId: agent._id})">
                {{ agent.data.firstName }} {{ agent.data.lastName }}
              </a>
            </td>
            <td>{{ agent.created | amDateFormat:'MMMM Do YYYY' }}</td>
            <td>
              <div class="button-group">
                <a ui-sref="editAgent({agentId: agent._id})" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                <a ui-sref="deleteAgent({agentId: agent._id})" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <bgf-pagination collection="agents" url="agentsUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="createAgent()" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> New Agent</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-file-excel-o"></i> Reports</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-success btn-block">Overview</button>
        <button type="button" class="btn btn-success btn-block">Sales Report</button>
        <button type="button" class="btn btn-success btn-block">Quote Backlog</button>
        <button type="button" class="btn btn-success btn-block">Export(s)</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-line-chart"></i> Analytics</h3>
      </div>
      <div class="panel-body" style="font-size: 1.2em;">
        <div class="well">
          <i class="fa fa-pie-chart"></i> Graphs
        </div>
        <div class="well">
          <i class="fa fa-bar-chart"></i> Business Metrics
        </div>
      </div>
    </div>
  </div>
</div>
