<p class="well"><a ui-sref="home()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></p>
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:isActive(resourceName + '.view')}"><a ui-sref="{{ resourceName }}.view()">View</a></li>
  <li role="presentation" ng-class="{active:isActive(resourceName + '.edit')}"><a ui-sref="{{ resourceName }}.edit()">Edit</a></li>
  <li role="presentation" ng-class="{active:isActive(resourceName + '.delete')}"><a ui-sref="{{ resourceName }}.delete()">Delete</a></li>
</ul>
<div ui-view></div>
