<i id="roles-loader" ng-if="rolesLoading" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
<div ng-if="!rolesLoading">
  <div class="well">
    <h4>Access Settings</h4>
    <p>Manage what roles can access and interact with this application.</p>
  </div>
  <div class="form-group">
    <label for="gmailUser">Default Access Role</label>
    <select ng-model="currentApp.defaultAccess" type="text" class="form-control" id="defaultAccess" name="defaultAccess" placeholder="Default Access Role" ng-options="role._id as role.title for role in currentAppRoles">
    </select>
  </div>
  <legend>Access Permissions</legend>
  <permission-editor permissions="currentApp.access" labels="permissionLabels" roles="currentAppRoles" wait-for="loadAppPromise"></permission-editor>
  <button class="btn btn-primary" ng-click="saveApplication()">Save Settings</button>

</div>
