<div ng-show="formioForm[componentId].$error && !formioForm[componentId].$pristine">
  <p class="help-block" ng-show="formioForm[componentId].$error.email">{{ component.label || component.key }} must be a valid email.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.required">{{ component.label || component.key }} is required.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.number">{{ component.label || component.key }} must be a number.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.maxlength">{{ component.label || component.key }} must be shorter than {{ component.validate.maxLength + 1 }} characters.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.minlength">{{ component.label || component.key }} must be longer than {{ component.validate.minLength - 1 }} characters.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.min">{{ component.label || component.key }} must be higher than {{ component.validate.min - 1 }}.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.max">{{ component.label || component.key }} must be lower than {{ component.validate.max + 1 }}.</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.custom">{{ component.customError }}</p>
  <p class="help-block" ng-show="formioForm[componentId].$error.pattern">{{ component.label || component.key }} does not match the pattern {{ component.validate.pattern }}</p>
</div>
