<div>
  <i style="font-size: 2em;" ng-if="formLoading" ng-class="{'formio-hidden': !formLoading}" class="formio-loading glyphicon glyphicon-refresh glyphicon-spin"></i>
  <formio-wizard ng-if="form.display === 'wizard'" src="src" form="form" submission="submission" form-action="formAction" read-only="readOnly" hide-components="hideComponents" disable-components="disableComponents" formio-options="formioOptions" storage="form.name"></formio-wizard>
  <form ng-if="!form.display || (form.display === 'form')" role="form" name="formioForm" ng-submit="onSubmit(formioForm)" novalidate>
    <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert" ng-if="::!builder">
      {{ alert.message | formioTranslate:null:builder }}
    </div>
    <!-- DO NOT PUT "track by $index" HERE SINCE DYNAMICALLY ADDING/REMOVING COMPONENTS WILL BREAK -->
    <formio-component
      ng-repeat="component in form.components track by $index"
      component="component"
      ng-if="builder ? '::true' : isVisible(component)"
      data="submission.data"
      formio-form="formioForm"
      formio="formio"
      submission="submission"
      hide-components="hideComponents"
      read-only="isDisabled(component, submission.data)"
      builder="builder"
    ></formio-component>
  </form>
</div>
