<form role="form">
  <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert">
    {{ alert.message | formioTranslate:null:options.building }}
  </div>
  <h3>{{ deleteMessage | formioTranslate:null:options.building }}</h3>
  <div class="btn-toolbar">
    <button ng-click="onDelete()" class="btn btn-danger">{{ 'Yes' | formioTranslate:null:options.building }}</button>
    <button ng-click="onCancel()" class="btn btn-default">{{ 'No' | formioTranslate:null:options.building }}</button>
  </div>
</form>
