<div>
  <i style="font-size: 2em;" ng-if="formLoading" ng-class="{'formio-hidden': !formLoading}" class="formio-loading glyphicon glyphicon-refresh glyphicon-spin"></i>
  <formio-wizard ng-if="form.display === 'wizard'" src="src" form="form" submission="submission" form-action="formAction" read-only="readOnly" hide-components="hideComponents" disable-components="disableComponents" formio-options="formioOptions" storage="form.name"></formio-wizard>
  <div ng-if="form.display === 'pdf' && form.settings.pdf" style="position:relative;">
    <span style="position:absolute;right:10px;top:10px;cursor:pointer;" class="btn btn-default no-disable" ng-click="zoomIn()"><spann class="glyphicon glyphicon-zoom-in"></spann></span>
    <span style="position:absolute;right:10px;top:60px;cursor:pointer;" class="btn btn-default no-disable" ng-click="zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span></span>
    <a ng-if="downloadUrl" style="position:absolute;right:10px;top:110px;cursor:pointer;" class="btn btn-primary no-disable" href="{{ downloadUrl | trustAsResourceUrl }}" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span></a>
    <iframe src="{{ getIframeSrc(form.settings.pdf) | trustAsResourceUrl }}" seamless class="formio-iframe"></iframe>
    <button ng-if="!readOnly && !form.builder" type="button" class="btn btn-primary" ng-click="submitIFrameForm()">Submit</button>
  </div>
  <form ng-if="!form.display || (form.display === 'form')" role="form" name="formioForm" ng-submit="onSubmit(formioForm)" novalidate>
    <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert" ng-if="::!builder">
      {{ alert.message | formioTranslate:null:builder }}
    </div>
    <!-- DO NOT PUT "track by $index" HERE SINCE DYNAMICALLY ADDING/REMOVING COMPONENTS WILL BREAK -->
    <formio-component
      ng-repeat="component in form.components track by $index"
      component="component"
      ng-if="builder ? '::true' : isVisible(component)"
      data="submission.data"
      formio-form="formioForm"
      formio="formio"
      submission="submission"
      hide-components="hideComponents"
      read-only="isDisabled(component, submission.data)"
      builder="builder"
      options="options"
    ></formio-component>
  </form>
</div>
