<div class="formio-wizard-wrapper">
  <div class="row bs-wizard" style="border-bottom:0;" ng-class="{hasTitles: hasTitles}" ng-if="activePage.breadcrumb !== 'none'">
    <div ng-class="{disabled: ($index > currentPage) && !formioOptions.wizardFreeNavigation, active: ($index == currentPage), complete: ($index < currentPage), noTitle: !page.title}" class="{{ colclass }} bs-wizard-step" ng-repeat="page in pages track by $index">
      <div class="bs-wizard-stepnum-wrapper">
        <div class="text-center bs-wizard-stepnum" ng-if="page.title">{{ page.title | formioTranslate:null:options.building }}</div>
      </div>
      <div class="progress"><div class="progress-bar progress-bar-primary"></div></div>
      <a ng-click="goto($index)" class="bs-wizard-dot bg-primary"><div class="bs-wizard-dot-inner"
        ng-class="{
          'bg-success': !pageHasErrors[$index],
          'bg-danger': pageHasErrors[$index],
          'bg-warning': !pageWasVisited[$index] && currentPage > $index
        }"></div></a>
    </div>
  </div>
  <style type="text/css">.bs-wizard > .bs-wizard-step:first-child { margin-left: {{ margin }}%; }</style>
  <i ng-show="!wizardLoaded" id="formio-loading" style="font-size: 2em;" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert">{{ alert.message | formioTranslate:null:options.building }}</div>
  <div class="formio-wizard">
    <formio
      ng-if="wizardLoaded"
      submission="submission"
      form="page"
      url="url"
      read-only="readOnly"
      hide-components="hideComponents"
      disable-components="disableComponents"
      formio-options="formioOptions"
      id="formio-wizard-form"
      options="options"
    ></formio>
  </div>
  <ul ng-show="wizardLoaded" class="list-inline">
    <li><a class="btn btn-default formio-wizard-button-cancel" ng-click="cancel()">{{ 'cancel' | formioTranslate:null:options.building }}</a></li>
    <li ng-if="currentPage > 0"><a class="btn btn-primary formio-wizard-button-previous" ng-click="prev()">{{ 'previous' | formioTranslate:null:options.building }}</a></li>
    <li ng-if="currentPage < (pages.length - 1)">
      <a class="btn btn-primary formio-wizard-button-next" ng-click="next()">{{ 'next' | formioTranslate:null:options.building }}</a>
    </li>
    <li ng-if="currentPage >= (pages.length - 1)">
      <a class="btn btn-primary formio-wizard-button-submit" ng-click="submit()">{{ 'submit' | formioTranslate:null:options.building }}</a>
    </li>
  </ul>
</div>
