<div>
  <i style="font-size: 2em;" ng-if="formLoading" class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  <formio-wizard ng-if="form.display === 'wizard'" src="src" form="form" submission="submission" form-action="formAction" read-only="readOnly" hide-components="hideComponents" formio-options="formioOptions" storage="form.name"></formio-wizard>
  <form ng-if="!form.display || (form.display === 'form')" role="form" name="formioForm" ng-submit="onSubmit(formioForm)" novalidate>
    <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert">
      {{ alert.message }}
    </div>
    <!-- DO NOT PUT "track by $index" HERE SINCE DYNAMICALLY ADDING/REMOVING COMPONENTS WILL BREAK -->
    <formio-component ng-repeat="component in form.components" component="component" data="submission.data" formio-form="formioForm" formio="formio" read-only="readOnly || component.disabled" ng-if="!component.hide"></formio-component>
  </form>
</div>
