<div class="well">
  <h4>Dropbox OAuth Settings</h4>
  <p>This allows you to use Dropbox user accounts to authenticate. To set up Dropbox OAuth, go to your <a href="https://www.dropbox.com/developers/apps">Dropbox account settings</a> and register a new application.</p>
  <p>Fill in the application details. The <strong>Authorization callback URL</strong> MUST be set to the domain name of your application (ex: <code>https://mydomain.com</code>. Then save your client ID and secret below.</p>
</div>
<div class="form-group">
  <label for="dropboxClientId">Client ID</label>
  <input ng-model="currentProject.settings.oauth.dropbox.clientId" type="text" class="form-control" id="dropboxClientId" name="dropboxClientId" placeholder="Enter Dropbox Application Client ID">
</div>
<div class="form-group">
  <label for="dropboxClientSecret">Client Secret</label>
  <input ng-model="currentProject.settings.oauth.dropbox.clientSecret" type="text" class="form-control" id="dropboxClientSecret" name="dropboxClientSecret" placeholder="Enter Dropbox Application Client Secret">
</div>
