<accordion close-others="true">
  <accordion-group heading="GitHub" is-open="false">
    <ng-include src="'views/project/oauth/github.html'"></ng-include>
  </accordion-group>
  <accordion-group heading="Facebook" is-open="false">
    <ng-include src="'views/project/oauth/facebook.html'"></ng-include>
  </accordion-group>
  <accordion-group heading="Dropbox" is-open="false">
    <ng-include src="'views/project/oauth/dropbox.html'"></ng-include>
  </accordion-group>
  <accordion-group heading="Office 365" is-open="false">
    <ng-include src="'views/project/oauth/office365.html'"></ng-include>
  </accordion-group>
</accordion>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
