<uib-accordion close-others="true">
  <uib-accordion-group heading="GitHub">
    <ng-include src="'views/project/oauth/github.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Facebook">
    <ng-include src="'views/project/oauth/facebook.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Dropbox">
    <ng-include src="'views/project/oauth/dropbox.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Office 365">
    <ng-include src="'views/project/oauth/office365.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Google">
    <ng-include src="'views/project/oauth/google.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Twitter">
    <ng-include src="'views/project/oauth/twitter.html'"></ng-include>
  </uib-accordion-group>
   <uib-accordion-group heading="Linkedin">
    <ng-include src="'views/project/oauth/linkedin.html'"></ng-include>
  </uib-accordion-group>
</uib-accordion>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
