<div class="col-md-6">
  <p>To add an email action you have to go to the actions page in your form and select the email action,
    then click on Add Action</p>
  <p>
    This will create an action when a form is submitted, let's send an email notification from
    no-reply@form.io to
    the email that we submit in our form.
    We are going to use our <b>data object</b> to select the field component that is called "email" and then we
    can write any message to send.</p>
</div>
<div class="col-md-6">
  <ul class="gallery gallery1">
    <li ng-repeat="image in formAction">
      <a ng-click="openLightboxModal(formCreate,$index)">
        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
      </a>
    </li>
  </ul>
</div>
<div class="row">

</div>
<div class="text-center">
  <h4>That's it! we set an Email Action to our API Web Form, in this case every time that our form is
    submitted we send an Email. Now, how we put this form in our app?.</h4>
  <h4 class="btn btn-primary " ng-click="nextStep('embed')">Let's Embed the Form!</h4>
</div>