<div class="row">
  <div class="col-md-12">
    <ul class="list-group steps">
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">1</span>
          <h5>Configure the app</h5>
        </div>
        <h4>This step helps configure your application so that it is easy to manage the forms and stages for your project.</h4>
        <p>The StarterKit app and our general recommendation is to have a config.js file typically located at <strong>/src/config.js</strong>. You can see an example at <a href="https://github.com/formio/ng-app-starterkit/blob/master/src/config.js" target="_blank">https://github.com/formio/ng-app-starterkit/blob/master/src/config.js</a>.</p>
        <p>You can locate the Project URL of your project in the upper right hand corner where it says <strong>Live Project Url</strong>. This Project URL is shared by all the forms and resources within your project.</p>
        <p>Projects that are on the Enterprise plan can have multiple stages. Each stage has a different Project URL. By creating a config file and referencing every form with this Project URL variable it is easy to change which Stage the application is pointed at.</p>
        <p>To set your project in the application you have set up, change the first line of <strong>/src/config.js</strong> to say the following.</p>
        <p><pre>var APP_URL = '{{ variables.projectUrl }}';</pre></p>
        <p>Notice that all the form urls should now be pointing to that project's forms. If you change the APP_URL to a different stage, all the forms will change as well.</p>
      </li>
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">2</span>
          <h5>Running the app</h5>
        </div>
        <p>You can run a development version of the application from the command line.</p>
        <p><pre>gulp serve</pre></p>
        <p>This should open up a browser window and refresh the page each time you make changes to the application.</p>
      </li>
    </ul>
  </div>
</div>
