<h4>Now that you have your application up and running, check out some of our more advanced features.</h4>
<ul class="list-group">
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">1</span>
      <h5>3rd Party Integrations</h5>
    </div>
    <p>Form.io has connectors into many 3rd party services including email, file storage, authentication and data connections.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/developer/integrations/start/">More Info</a>
  </li>
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">2</span>
      <h5>Teams</h5>
    </div>
    <p>Using Teams you can share this project with other developers on the Form.io platform.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/userguide/teams/">More Info</a>
  </li>
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">3</span>
      <h5>PDF Forms</h5>
    </div>
    <p>PDF Forms allows you to both make your forms look like PDFs but also to export your responses as PDFs.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/userguide/pdf/">More Info</a>
  </li>
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">4</span>
      <h5>Offline Forms</h5>
    </div>
    <p>Offline Forms is a plugin for your application that allows your forms to work offline, both loading and submitting new data.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/developer/info/offline/">More Info</a>
  </li>
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">5</span>
      <h5>Staging and Deployments</h5>
    </div>
    <p>Staging and Deployment allows a true Dev -> Stage -> Prod rollout process for changes to your project.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/userguide/staging/">More Info</a>
  </li>
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">6</span>
      <h5>On Premise with Docker</h5>
    </div>
    <p>By deploying our server into your own on-premise or private cloud platform you can control all the forms and data for security and compliance reasons.</p>
    <a class="btn btn-success" target="_blank" href="https://help.form.io/userguide/docker/">More Info</a>
  </li>
</ul>
