<div class="row">
  <div class="col-md-12">
    <h4>Create an Admin User account</h4>
    <p>Your project came pre-configured with three roles: <strong>Administrator</strong>, <strong>Authenticated</strong>, and <strong>Anonymous</strong>. In order to begin using your application, you will need to create an admin user within your project so that you can log in and have the correct permissions. You can adjust the Access for your project by going to the <a ui-sref="project.access">Access</a> settings.</p>
    <p>Submit the following form to create an Admin. You can also go to <strong>Resources -> Admin -> Use</strong> to create additional Admin users.</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        Create an Admin user account
      </div>
      <div class="panel-body" ng-if="variables.projectUrl">
        <formio src="variables.projectUrl + '/admin'" />
      </div>
    </div>
    <p>You can use this account to log in to your application for the first time.</p>
  </div>
</div>
