<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Create an account
    </div>
    <div class="panel-body">
      <h4>Now you have on your local an application with Form.io</h4>
      <p>Form.io provides you with an authentication process that is configured when creating a <a href="https://help.form.io/userguide/forms/" target="_blank">Resource</a> or a <a href="https://help.form.io/userguide/resources/" target="_blank">Form</a>, these are called <a href="https://help.form.io/userguide/actions/" target="_blank">Form Actions</a>.
      </p>
      <p>Now that we have our running application, let's build a Form with Actions</p>
    </div>
  </div>
</div>