<div class="well">
  <h4>S3 Storage</h4>
  <p>You can use any S3 compatible storage system for files. Enter the s3 information below.</p>
</div>
<div class="form-group">
  <label for="AWSAccessKeyId">Access Key ID</label>
  <input ng-model="currentProject.settings.storage.s3.AWSAccessKeyId" type="text" class="form-control" id="AWSAccessKeyId" name="AWSAccessKeyId" placeholder="Enter the Access Key">
</div>
<div class="form-group">
  <label for="AWSSecretKey">Secret Access Key</label>
  <input ng-model="currentProject.settings.storage.s3.AWSSecretKey" type="text" class="form-control" id="AWSSecretKey" name="AWSSecretKey" placeholder="Enter the Secret Key">
</div>
<div class="form-group">
  <label for="bucket">Bucket Name - Enter the name of your s3 bucket.</label>
  <input ng-model="currentProject.settings.storage.s3.bucket" type="text" class="form-control" id="bucket" name="bucket" placeholder="Enter the bucket name">
</div>
<div class="form-group">
  <label for="bucketUrl">Bucket URL - The url of the bucket endpoints.</label>
  <input ng-model="currentProject.settings.storage.s3.bucketUrl" type="text" class="form-control" id="bucketUrl" name="bucketUrl" placeholder="Enter the bucket url">
</div>
<div class="form-group">
  <label for="startsWith">Starts With (optional) - Put all files in a folder such as "uploads/"</label>
  <input ng-model="currentProject.settings.storage.s3.startsWith" type="text" class="form-control" id="startsWith" name="startsWith" placeholder="Enter a folder">
</div>
<div class="form-group">
  <label for="acl">Access Control List (optional) - Require all files uploaded to this bucket to have this access level.</label>
  <select ng-model="currentProject.settings.storage.s3.acl" class="form-control" id="acl" name="acl" placeholder="Select an Access Control List">
    <option value="">Any</option>
    <option value="public-read">Public</option>
    <option value="private">Private</option>
  </select>
</div>
<div class="form-group">
  <label for="maxSize">Max Size (optional) - The maximum file size (in bytes). Defaults to 100MB.</label>
  <input ng-model="currentProject.settings.storage.s3.maxSize" type="text" class="form-control" id="maxSize" name="maxSize" placeholder="Enter the max file size">
</div>
<div class="form-group">
  <label for="expiration">Policy Expiration (optional) - How long the s3 upload policy is valid for (in seconds). Defaults to 1 hour.</label>
  <input ng-model="currentProject.settings.storage.s3.expiration" type="text" class="form-control" id="expiration" name="expiration" placeholder="Enter the seconds the policy should be valid.">
</div>
