<div class="well">
  <h4>Custom Url</h4>
  <p>If you have a file server that allows files to be posted and read from, set it up here. See <a href="https://github.com/danialfarid/ng-file-upload#server-side">https://github.com/danialfarid/ng-file-upload#server-side</a> for how to set up the server.</p>
</div>
<div class="form-group">
  <label for="url">Url</label>
  <input ng-model="currentProject.settings.storage.url.url" type="text" class="form-control" id="url" name="url" placeholder="Enter the upload url">
</div>
