<br/>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Permissions
      <a class="pull-right" href="http://help.form.io/userguide/#permissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign "></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="well">
      Permissions allow you to control who create, view, and modify form submissions. Here you may assign Project Roles to permissions. Roles can be created and edited in <a ui-sref="app.settings.roles.view({appId: currentApp._id})">Project Settings</a>.
    </div>
    <div ng-if="form.submissionAccess">
      <permission-editor permissions="form.submissionAccess" labels="submissionAccessLabels" roles="currentAppRoles" wait-for="loadFormPromise"></permission-editor>
    </div>
    <div class="form-group pull-right">
      <a class="btn btn-default" ng-click="back()">Cancel</a>
      <input type="submit" class="btn btn-primary" ng-click="saveForm()" value="{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}" />
    </div>
  </div>
</div>
