<h2>{{ resource.data.name }}</h2>
<p><strong>Address: </strong> {{ resource.data.address.formatted_address }}</p>
<map zoom="8" center="[{{ position.lat }}, {{ position.lng }}]">
  <marker position="[{{ position.lat }}, {{ position.lng }}]" title="{{ resource.data.address.formatted_address }}" visible="true"></marker>
</map>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Primary Contact Information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item"><strong>Name:</strong> {{ resource.data.firstName }} {{ resource.data.lastName }}</li>
      <li class="list-group-item"><strong>Phone:</strong> {{ resource.data.phoneNumber }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ resource.data.email }}</li>
    </ul>
  </div>
</div>
