<div class="row">
  <div class="col-sm-{{column.width}} col-sm-offset-{{column.offset}} col-sm-push-{{column.push}} col-sm-pull-{{column.pull}}" ng-repeat="column in component.columns track by $index">
    <formio-component-view
      ng-repeat="_component in column.components track by $index"
      component="_component"
      data="data"
      form="form"
      submission="submission"
      ignore="ignore"
      ng-if="options.building ? '::true' : isVisible(_component, data)"
      options="options"
    ></formio-component-view>
  </div>
</div>
