<div class="panel panel-{{ component.theme }}" id="formio-panel-{{ component.key }}">
  <div ng-if="component.title" class="panel-heading">
    <h3 class="panel-title">{{ component.title }}</h3>
  </div>
  <div class="panel-body">
    <formio-component-view
      ng-repeat="_component in component.components track by $index"
      component="_component"
      data="data"
      submission="submission"
      form="form"
      ignore="ignore"
      ng-if="options.building ? '::true' : isVisible(_component, data)"
      options="options"
    ></formio-component-view>
  </div>
</div>
