{% extends 'page.html' %}
{% block form %}
<div class="alert alert-info" role="alert">Thank you for your interest in our product. Please provide the following information and we will contact you when the BETA version is ready.</div>
<form action="/" method="POST">
  <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="beta" name="beta"> I am interested in being a BETA tester.
      </label>
    </div>
  </div>
  <input type="hidden" id="customerType" name="customerType" value="customer" />
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
{% endblock %}
