<!DOCTYPE html>
<html>
<head>
  <title>API Specification</title>
  <link href='/swagger/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/swagger/css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/swagger/css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='/swagger/css/screen.css' media='print' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="/swagger/lib/shred.bundle.js"></script>
  <script src='/swagger/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
  <script src='/swagger/lib/jquery.slideto.min.js' type='text/javascript'></script>
  <script src='/swagger/lib/jquery.wiggle.min.js' type='text/javascript'></script>
  <script src='/swagger/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
  <script src='/swagger/lib/handlebars-2.0.0.js' type='text/javascript'></script>
  <script src='/swagger/lib/underscore-min.js' type='text/javascript'></script>
  <script src='/swagger/lib/backbone-min.js' type='text/javascript'></script>
  <script src='/swagger/lib/swagger-client.js' type='text/javascript'></script>
  <script src='/swagger/swagger-ui.js' type='text/javascript'></script>
  <script src='/swagger/lib/highlight.7.3.pack.js' type='text/javascript'></script>
  <script src='/swagger/lib/marked.js' type='text/javascript'></script>
  <script src='/bower_components/seamless/build/seamless.child.min.js'></script>
  <script type="text/javascript">

    // http://stackoverflow.com/questions/979975/how-to-get-the-value-from-the-url-parameter
    var QueryString = function () {
      // This function is anonymous, is executed immediately and
      // the return value is assigned to QueryString!
      var query_string = {};
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        // If first entry with this name
        if (typeof query_string[pair[0]] === "undefined") {
          query_string[pair[0]] = pair[1];
          // If second entry with this name
        } else if (typeof query_string[pair[0]] === "string") {
          var arr = [ query_string[pair[0]], pair[1] ];
          query_string[pair[0]] = arr;
          // If third or later entry with this name
        } else {
          query_string[pair[0]].push(pair[1]);
        }
      }
      return query_string;
    }();

    // Connect the child to the parent.
    jQuery.seamless.connect();
    jQuery(function () {
      window.swaggerUi = new SwaggerUi({
        url: QueryString.token ? '{{ url }}?x-jwt-token=' + QueryString.token : '{{ url }}',
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
        docExpansion: "none",
        sorter : "alpha"
      });
      window.swaggerUi.load();
    });
  </script>
</head>
<body class="swagger-section">
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
