{% extends 'page.html' %}
{% block form %}
<form action="/" method="POST">
  <div class="input-group">
    <input type="email" id="email" name="email" class="form-control" placeholder="Enter email address.." value="{{ email }}">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Subscribe!</button>
    </span>
  </div>
  <br/>
  <p>Cannot wait until Spring?</p>
  <button type="submit" id="customer" name="customer" class="btn btn-lg btn-primary">Customer</button>
  <button type="submit" id="investor" name="investor" class="btn btn-lg btn-success">Investor</button>
</form>
{% endblock %}
