<br/>
<div class="panel panel-info">
    <div class="panel-heading">
      <a class="pull-right" href="http://help.form.io/userguide/#actions" target="_blank"><i class="glyphicon glyphicon-question-sign "></i></a>

      <h3 class="panel-title">Form Actions</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="action in actions">
                <td>
                    <span ng-if="!action._id">{{ action.title }}</span>
                    <a ng-if="action._id" ui-sref="app.form.action.item.edit({actionId: action._id})">{{ action.title }}</a>
                </td>
                <td>
                    <span ng-if="!action._id">none</span>
                    <div class="button-group" style="display:flex;" ng-if="action._id">
                        <a ui-sref="app.form.action.item.edit({actionId: action._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                        <a ui-sref="app.form.action.item.delete({actionId: action._id})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <form class="form-inline">
            <div class="form-group">
                <select id="action-select" name="action-select" ng-model="newAction" class="form-control" ng-options="action as action.title for action in availableActions"></select>
            </div>
            <a ng-click="addAction()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Action</a>
        </form>
    </div>
</div>
