<div class="row">
  <div class="col col-sm-12">
    <!-- Header -->
    <h3>PDF Server Deployment</h3>

    <p>Our Enterprise PDF solution allows you to deploy our PDF server within your own environment. To set up your server, please click on the following button to go to our online PDF Server deployment instructions.</p>
    <p><a class="btn btn-primary" href="https://help.form.io/userguide/pdfserver/" target="_blank">PDF Server Deployment Instructions</a></p>
    <hr/>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Deployment Code</h3>
      </div>
      <div class="panel-body">
        <p>Once your deployment is set up, you can run the following Docker command to spin up your new server:</p>
        <pre>docker run -itd \
  -e "LICENSE_KEY=[LICENSE KEY WITH <strong>pdfServer</strong> SCOPE]" \
  -e "FORMIO_S3_BUCKET=[YOUR S3 BUCKET NAME]" \
  -e "FORMIO_S3_REGION=[YOUR S3 REGION]" \
  -e "FORMIO_S3_KEY=[YOUR S3 AUTH KEY]" \
  -e "FORMIO_S3_SECRET=[YOUR S3 AUTH SECRET]" \
  --restart unless-stopped \
  --name formio-files-core \
  -p 80:4005 \
  formio/formio-files-core;</pre>
      </div>
    </div>
    <hr />
    <div class="panel panel-default">
      <div class="panel-heading">Deployment Settings</div>
      <div class="panel-body">
        <div class="form-group">
          <label for="pdfserver">PDF Server URL</label>
          <input type="text" class="form-control" id="pdfserver" ng-model="currentProject.settings.pdfserver" placeholder="https://files.form.io" />
        </div>
        <button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
      </div>
    </div>
  </div>
</div>
