<div ng-if="!purchaseAsk && !buyComplete">
  <h2>Select your plan</h2>
  <div class="form-group">
    <select class="form-control" ng-model="currentPlan" name="plan" id="plan" ng-change="onPlanChange()">
      <option value="basic" ng-if="pdfInfo.data.plan !== 'basic'">Basic</option>
      <option value="hosted" ng-if="pdfInfo.data.plan !== 'hosted'">Hosted</option>
      <option value="enterprise" ng-if="pdfInfo.data.plan !== 'enterprise'">Enterprise: On-Premise or Private Cloud</option>
    </select>
  </div>
  <table class="table table-bordered" style="background-color:white">
    <tr>
      <td>
        <h3>PDF Forms</h3>
        <p>These are the hosted PDF forms that are converted into Form.io API driven forms.</p>
      </td>
      <td><h3>{{ numForms }} hosted forms</h3></td>
    </tr>
    <tr>
      <td>
        <h3>Submission PDF's</h3>
        <p>Anytime that a pdf form submission is downloaded as a PDF form, that counts as a single PDF submission.</p>
      </td>
      <td><h3>{{ numSubmissions }} downloads per month</h3></td>
    </tr>
    <tr>
      <td class="text-right text-primary"><h3><strong>Price</strong></h3></td>
      <td><h3><strong class="text-primary">${{ totalPrice }}</strong> <small>additional per month</small></h3></td>
    </tr>
  </table>
  <ul class="list-inline">
    <li><button class="btn btn-success" ng-click="askToBuy()">Purchase</button></li>
    <li><button class="btn btn-default" ng-click="cancel()">Cancel</button></li>
  </ul>
</div>
<div ng-if="purchaseAsk && !buyComplete">
  <h3>Are you sure you wish add the following purchase?</h3>
  <table class="table table-bordered" style="background-color:white">
    <tr>
      <th><h3>Plan</h3></th>
      <td><h3>{{ getPlan() }}</h3></td>
    </tr>
    <tr>
      <th><h3>Total</h3></th>
      <td><h3>${{ totalPrice }} <small>additional per month</small></h3></td>
    </tr>
  </table>
  <button class="btn btn-success" ng-click="makePurchase()">Yes. Make Purchase</button>
  <button class="btn btn-danger" ng-click="cancel()">No</button>
</div>
<div ng-if="buyComplete">
  <div class="alert alert-danger" role="alert" ng-if="buyError">{{ buyError }}</div>
  <h3>Thank you for your purchase!</h3>
  <p ng-if="currentPlan === 'hosted'">This will be added to your next invoice.</p>
  <p ng-if="currentPlan === 'enterprise'">We will contact you shortly on the next steps to deploy our PDF Solution in your own environment.</p>
  <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>

