<div class="feedback" ng-class="state" ng-controller="FeedbackController" ng-if="!onPremise">
  <a ng-if="state == 'closed'" class="feedback-link" ng-click="showFeedback()">Feedback <i class="fa fa-plus"></i>&nbsp;</a>
  <div ng-if="state == 'open'">
    <h4>Have some feedback?</h4>
    <a class="feedback-cancel" ng-click="hideFeedback()">Close</a>
    <formio src="feedbackForm" submission="feedbackInfo"></formio>
  </div>
  <div ng-if="state == 'thanks'">
    <h4>Thank you!</h4>
  </div>
</div>
