<div class="well">
  <h4>Custom Email Settings</h4>
  <p>This requires a server to receive the Custom email messages. We recommend using the Webhook reciever to test this capability, which can be found at <a href="https://github.com/formio/formio-webhook-receiver">https://github.com/formio/formio-webhook-receiver</a>.</p>
</div>
<div class="form-group">
  <label for="customUrl">Custom URL</label>
  <input ng-model="currentProject.settings.email.custom.url" type="text" class="form-control" id="customUrl" name="customUrl" placeholder="The url of your custom email server.">
</div>
<div class="form-group">
  <label for="customUser">HTTP Basic Auth Username</label>
  <input ng-model="currentProject.settings.email.custom.username" type="text" class="form-control" id="customUser" name="customUser" placeholder="The HTTP Basic Auth username">
</div>
<div class="form-group">
  <label for="customPassword">HTTP Basic Auth Password</label>
  <input ng-model="currentProject.settings.email.custom.password" type="password" class="form-control" id="customPassword" name="customPassword" placeholder="The HTTP Basic Auth password">
</div>
