<div class="alert alert-warning" role="alert" ng-if="['basic'].indexOf(currentProject.plan) !== -1 && projectSettingsVisible() && !onPrem">
  Please <a ng-click="showUpgradeDialog(currentProject)">Upgrade</a> this project to access the Premium Providers.
</div>
  <div uib-accordion-group class="panel panel-default" heading="Custom Email Server" is-disabled="['basic'].indexOf(currentProject.plan) !== -1 && projectSettingsVisible() && !onPrem">
    <ng-include src="'views/project/env/integrations/email/custom.html'"></ng-include>
  </div>
  <div uib-accordion-group class="panel panel-default" heading="SendGrid Settings" is-disabled="['basic'].indexOf(currentProject.plan) !== -1 && projectSettingsVisible() && !onPrem">
    <ng-include src="'views/project/env/integrations/email/sendgrid.html'"></ng-include>
  </div>
  <div uib-accordion-group class="panel panel-default" heading="Mailgun Settings" is-disabled="['basic'].indexOf(currentProject.plan) !== -1 && projectSettingsVisible() && !onPrem">
    <ng-include src="'views/project/env/integrations/email/mailgun.html'"></ng-include>
  </div>
</uib-accordion>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
