<div class="container">
  <ul class="list-inline project-title-header">
    <li><h2><a ui-sref="home" title="Home"><i class="fa fa-home"></i><br /></a></h2></li>
    <li><h2>›</h2></li>
    <li><h2><i class="fa fa-user"></i> User</h2></li>
    </li>
  </ul>
  <ul class="nav nav-tabs action-nav">
    <li role="presentation" ng-class="{active:isActive('profile.view')}"><a ui-sref="profile.view()">View</a></li>
    <li role="presentation" ng-class="{active:isActive('profile.edit')}"><a ui-sref="profile.edit()">Edit</a></li>
    <li role="presentation" ng-class="{active:isActive('profile.payment')}" ng-if="!onPrem"><a ui-sref="profile.payment.view()">Payment Info</a></li>
  </ul>
  <div ui-view></div>
</div>
