<uib-accordion close-others="true">
  <uib-accordion-group heading="GMail Settings" is-open="true">
    <ng-include src="'views/project/email/gmail.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Custom Email Server">
    <ng-include src="'views/project/email/custom.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="SendGrid Settings">
    <ng-include src="'views/project/email/sendgrid.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Mandrill Settings">
    <ng-include src="'views/project/email/mandrill.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Mailgun Settings">
    <ng-include src="'views/project/email/mailgun.html'"></ng-include>
  </uib-accordion-group>
</uib-accordion>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
