<div class="project-section-inner-content">
  <div class="row overview">
    <div class="col-md-12 overview-content">
      <step-flow steps="current.steps" />
      <div class="flow">
        <div class="flow-container">
          <div class="flow-side">
            <div class="flow-side-content">
              <div class="flow-side-line">
                <div class="flow-side-steps">
                  <div class="flow-side-step">
                    <div ng-click="nextStep('adFeatures')" class="flow-side-logo"
                         ng-class="{'logo-active': stepActive=='adFeatures' }">
                      <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('adFeatures')" class="flow-side-step__title">
                        Next Steps
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'adFeatures'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flow-content">
            <div class="" ng-if="stepActive== 'adFeatures' && step=='adFeatures'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">There is more for you</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-6">
                  <h4>Form.io provides you with a lot of features to build awesomes applications.</h4>
                </div>
              </div>

              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
