<div class="project-section-inner-content">
  <div class="row overview">
    <div class="col-md-12 overview-content">
      <div class="flow">
        <div class="flow-container">
          <div class="flow-side">
            <div class="flow-side-content">
              <div class="flow-side-line">
                <div class="flow-side-steps">
                  <div class="flow-side-step">
                    <div ng-click="nextStep('welcome')" class="flow-side-logo"
                         ng-class="{'logo-active': stepActive=='welcome' }">
                      <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('welcome')" class="flow-side-step__title">
                        Welcome
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'welcome'">
                      </div>
                    </div>
                  </div>
                  <div class="flow-side-step" ng-if="welcome">
                    <div ng-click="nextStep('download')" class="flow-side-logo"
                         ng-class="{'logo-active': stepActive=='start' }">
                      <i class="fa fa-sliders"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('download')" class="flow-side-step__title">
                        Application Setup
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'start'">
                        <div class="step-item">
                          <a ng-click=" nextStep('download')" ng-class="{'info-active': step === 'download'}"><i
                            class="fa fa-download"></i>
                            Download</a>
                        </div>
                        <div class="step-item">
                          <a ng-click="nextStep('setup')" ng-class="{'info-active': step === 'setup'}"><i
                            class="fa fa-sliders"></i> Configure</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flow-side-step" ng-if="welcome">
                    <div class="flow-side-logo" ng-click="nextStep('account')"
                         ng-class="{'logo-active': stepActive=='account' }">
                      <i class="fa fa-user-plus"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('account')" class="flow-side-step__title">
                        Application User
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'account'">
                      </div>
                    </div>
                  </div>
                  <div class="flow-side-step" ng-if="welcome">
                    <div class="flow-side-logo" ng-click="nextStep('form')" ng-class="{'logo-active': stepActive=='form' }">
                      <i class="fa fa-wpforms"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('form')" class="flow-side-step__title">
                        Create a Form
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'form'">
                        <div class="step-item">
                          <div class="step-item">
                            <a  ng-click="nextStep('action')" ng-class="{'info-active': step === 'action'}"><i
                              class="fa fa-paper-plane"></i> Add action</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flow-side-step" ng-if="welcome">
                    <div ng-click="nextStep('embed')" class="flow-side-logo"
                         ng-class="{'logo-active': stepActive=='embed' }">
                      <i class="fa fa-code"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('embed')" class="flow-side-step__title">
                        Embed Form
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'embed'">

                      </div>
                    </div>
                  </div>
                  <div class="flow-side-step" ng-if="welcome">
                    <div ng-click="nextStep('launch')" class="flow-side-logo" ng-class="{'logo-active': stepActive=='launch' }">
                      <i class="fa fa-rocket"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('launch')" class="flow-side-step__title">
                        Launch
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'launch'">

                      </div>
                    </div>
                  </div>
                </div>

                <div class="flow-side-steps">
                  <div class="flow-side-step">
                    <div ng-click="nextStep('adFeatures')" class="flow-side-logo"
                         ng-class="{'logo-active': stepActive=='adFeatures' }">
                      <i class="fa fa-check-circle"></i>
                    </div>
                    <div class="steps">
                      <h4 ng-click="nextStep('adFeatures')" class="flow-side-step__title">
                        Next Steps
                      </h4>
                      <div class="step-info" ng-if="stepActive == 'adFeatures'">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flow-content">
            <div class="" ng-if="stepActive == 'welcome' && step == 'welcome'">
              <div class="col-sm-12 text-center">
                <h2>Welcome to Form.io Portal</h2>
                <h3>Is this your first project with Form.io?</h3>
                <h4>Don't worry, we provide you a simple getting start steps to show you how easy is build an
                  application with us</h4>
                <img src="http://placehold.it/350x150" alt="">
              </div>
            </div>
            <div class="" ng-if="stepActive == 'start' && step == 'start'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Application</h3>
              </div>
              <div class="flow-content__container">
                <div class="content text-center">
                  <h3>How easy can you create an Application with us?</h3>
                  <h4>As easy as following these steps</h4>
                </div>
                <div class="col-sm-12 text-center">
                  <button type="button" class="btn btn-lg btn-success" ng-click="nextStep('download')">Start
                  </button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'start' && step=='download'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Application: Download</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-sm-12 text-center">
                  <h4>To begin development of this application you will need to set up a local development environment. Start by either downloading or cloning the github repo.</h4>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Download the repo
                    </div>
                    <div class="panel-body">
                      <p>Downloading the repo does not require git but also does not track and manage changes you make unless you set it up manually with a new git repo.</p>
                      <p>Go to <a href="{{ repository }}" target="_blank">{{ repository }}</a></p>
                      <p>Click the <strong>Download Zip</strong> button.</p>
                      <p>Unzip the file, open your terminal and change directory to the app directory.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Clone the repo
                    </div>
                    <div class="panel-body">
                      <p>In order to clone the github repo you must have git installed on your computer. If you don't already have it, you can get it at <a href="https://git-scm.com/" target="_blank">https://git-scm.com/</a>.</p>
                      <p>Once you have git, go to your terminal and type</p>
                      <p><pre>git clone {{ repository }}.git
cd {{ appFolder }}</pre>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-primary pull-right" ng-click="nextStep('setup')">Next</button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'start' && step=='setup'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Application: Set Up</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Install dependencies & Set Up
                    </div>
                    <div class="panel-body">
                      <p>This step requires that that nodejs, npm and bower are installed. Bower can be installed after nodejs
                        and npm by typing this in the terminal. Then install both node and bower dependencies by typing this in your terminal from the application base directory.</p>
                      <p><pre>npm install -g bower</pre></p>
                      <pre>npm install

bower install</pre>
                      <h4>Configure for your project</h4>
                      <p>In order for the app to use your form.io project, you need to configure the app to know where it is.</p>
                      <p>Change the first line of <strong>/src/config.js</strong> to say the following.</p>
                      <p><pre>var APP_URL = '{{ projectUrl }}';</pre></p>
                      <h4>Running the app</h4>
                      <p>You can run a development version of the application from the command line.</p>
                      <p><pre>gulp serve</pre></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left" ng-click="prevStep('download')">Back</button>
                  <button type="button" class="btn btn-primary pull-right" ng-click="nextStep('account')">Next</button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'account' && step=='account'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Application Setup: Account</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      Create an account
                    </div>
                    <div class="panel-body">
                      <h4>Now you have on your local an application with Form.io</h4>
                      <p>Form.io provides you with an authentication process that is configured when creating a <a href="https://help.form.io/userguide/forms/" target="_blank">Resource</a> or a <a href="https://help.form.io/userguide/resources/" target="_blank">Form</a>, these are called <a href="https://help.form.io/userguide/actions/" target="_blank">Form Actions</a>.
                      </p>
                      <p>Now that we have our running application, let's build a Form with Actions</p>
                      <div class="col-sm-12">
                        <button type="button" class="btn btn-primary pull-right" ng-click="nextStep('form')">Createa form</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left"
                          ng-click="prevStep('account')">Back
                  </button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'form' && step=='form'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Form: Create</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-6">
                  <p>To create a form, we have to go to the Forms page and click on <a target="_blank" ui-sref="project.form.index">Create  Form</a> Choose API Web Form, Let's name the form Email Action and set an API path</p>
                  <p>With the Drag-n-Drop components select the Special Components and Drag the Email Component, then let's put a Label and a Placeholder to our field component. Finally, hit save and then
                    click Create Form.</p>
                </div>
                <div class="col-md-6">
                  <ul class="gallery gallery1">
                    <li ng-repeat="image in formCreate">
                      <a ng-click="openLightboxModal(formCreate,$index)">
                        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">

                  <h4 class="text-center">Congrats! we have created an API Web Form, now let's add Actions to this form
                    .</h4>
                </div>

                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left" ng-click="prevStep('account')">Back</button>
                  <button type="button" class="btn btn-primary pull-right" ng-click="nextStep('action')">Add an
                    Action</button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'form' && step=='action'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Form: Add Action</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-6">
                  <p>To add an email action you have to go to the actions page in your form and select the email action,
                    then click on Add Action</p>
                  <p>
                  This will create an action when a form is submitted, let's send an email notification from
                  no-reply@form.io to
                  the email that we submit in our form.
                  We are going to use our <b>data object</b> to select the field component that is called "email" and then we
                  can write any message to send.</p>
                </div>
                <div class="col-md-6">
                  <ul class="gallery gallery1">
                    <li ng-repeat="image in formAction">
                      <a ng-click="openLightboxModal(formCreate,$index)">
                        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="row">

                </div>
                <div class="text-center">
                  <h4>That's it! we set an Email Action to our API Web Form, in this case every time that our form is
                    submitted we send an Email. Now, how we put this form in our app?.</h4>
                  <h4 class="btn btn-primary " ng-click="nextStep('embed')">Let's Embed the Form!</h4>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left" ng-click="prevStep('form')">Back</button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'embed' && step=='embed'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">Form: Add Action</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-12" ng-if="framework == 'react'">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">React</h3>
                    </div>
                    <div class="panel-body">
                      <h5>Include the react-formio library</h5>
                      <p>Be sure you have added the <a href="https://github.com/formio/react-formio" target="_blank">react-formio</a> libary to your application.</p>
                      <h5>Render the directive</h5>
                      <p>To embed a form within your react application, import the Formio library and add it to the render tree.</p>
                      <span><pre><code>
          import React from 'react';
          import ReactDOM from 'react-dom';
          import { Formio } from 'react-formio';

          ReactDOM.render(
          &nbsp;&nbsp;&lt;Formio src="{{ projectUrl }}/email" /&gt;,document.getElementById('example')
          );

        </code></pre></span>
                    </div>
                  </div>
                </div>

                <div  class="col-md-12" ng-if="framework == 'angular'">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title">Angular 1.x</h3>
                    </div>
                    <div class="panel-body">
                      <h5>Include the ngFormio module</h5>
                      <p>Be sure you have added the <a href="https://github.com/formio/ngFormio" target="_blank">ngFormio</a> library to your application and have included it in the modules list in the app declaration.</p>
                      <h5>Embed within a template</h5>
                      <p>To embed a form within your angular 1.x application, add the formio directive within a template.</p>
                      <span><pre><code>
          angular.module('yourApp', [
          &nbsp;&nbsp;'formio'
          ]);

          ---

          &lt;formio src="'{{ projectUrl }}/email'" /&gt;
        </code></pre></span>
                    </div>
                  </div>
                </div>
                <div  class="col-md-12" ng-if="framework == 'vue'">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">Vue.JS</h3>
                    </div>
                    <div class="panel-body">
                      <h5>Creating a Vue component</h5>
                      <p>Be sure you have added the <a href="https://github.com/formio/formio.js" target="_blank">formiojs</a> library to your application and imported it in the app declaration.</p>
                      <h5>Embed within a template</h5>
                      <p>To embed a form within your Vue application, lets create a component call FormVue, first you have to import
                        FormioForm from the formiojs library.</p>
                      <span><pre><code>
          // FormVue.vue
          &lt;template&gt;
           &nbsp;&nbsp; &lt;div id="formio"&gt; &lt;/div&gt;
          &lt;/template&gt;
          &lt;script&gt;
          &nbsp;&nbsp;import FormioForm from 'formiojs/form';
            &nbsp;&nbsp;export default {
           &nbsp;&nbsp; &nbsp;&nbsp;name: 'formio-vue',
          &nbsp;&nbsp;  &nbsp;&nbsp;props: ['src'],
    &nbsp;&nbsp;&nbsp;&nbsp; mounted () {
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;let self = this;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;let form = new FormioForm(document.getElementById('formio'));
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form.src = self.src;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form.on('submit', (submission) => {
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; console.log('The form was just submitted!!!');
     &nbsp;&nbsp;&nbsp;&nbsp; });
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form.on('error', (errors) => {
      &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;console.log('We have errors!');
     &nbsp;&nbsp; &nbsp;&nbsp;})
     &nbsp;&nbsp; &nbsp;&nbsp;}
    &nbsp;&nbsp;}
  &lt;/script&gt;

          ---
          // Then we can use our component in our App.vue.
                &lt;template&gt;
           &nbsp;&nbsp;&lt;div id="app"&gt;
           &nbsp;&nbsp;&lt;formio-vue src="'{{ projectUrl }}/email'"&gt;&lt;/formio-vue&gt;
           &lt;/div&gt;
          &lt;/template&gt;
          &lt;script&gt;
		&nbsp;&nbsp;import FormioVue from './components/Formio.vue'
    &nbsp;&nbsp;export default {
      &nbsp;&nbsp;&nbsp;&nbsp;name: 'app',
      &nbsp;&nbsp;&nbsp;&nbsp;components: {
          &nbsp;&nbsp;&nbsp;&nbsp;FormioVue
      &nbsp;&nbsp;}
    &nbsp;&nbsp;}
   &lt;/script&gt;
        </code></pre></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" ng-if="framework == 'angular2'">
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                      <h3 class="panel-title">Angular 2.x</h3>
                    </div>
                    <div class="panel-body">
                      <h5>Include the ng2-formio module</h5>
                      <p>Be sure you have added the <a href="https://github.com/formio/ng2-formio" target="_blank">ng2-formio</a> library to your application and have included it in the modules list in the app declaration.</p>
                      <h5>Embed within a template</h5>
                      <p>To embed a form within your angular 2.x application, add the formio directive within a template.</p>
                      <span><pre><code>
          import { FormioModule } from 'ng2-formio';
          @NgModule({
          &nbsp;&nbsp;imports: [ BrowserModule, ReactiveFormsModule, FormioModule ],
          &nbsp;&nbsp;declarations: [ AppComponent ],
          &nbsp;&nbsp;bootstrap: [ AppComponent ]
          })
          export class AppModule { }

          ---

          &lt;formio src='{{ projectUrl }}/email' /&gt;
        </code></pre></span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 text-center">
                  <h4>Done, easy right? Now you know how to create a form, add actions and embed it to your
                    application!</h4>
                  <h5>What's next?.. Yes, there are more things for you.</h5>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left" ng-click="prevStep('form')">Back</button>
                  <button type="button" class="btn btn-primary pull-right" ng-click="nextStep('launch')">Launch
                  </button>
                </div>
              </div>
            </div>
            <div class="" ng-if="stepActive== 'launch' && step=='launch'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">All done</h3>
              </div>
              <div class="flow-content__container">
                <div class="row col-margin-bottom">
                  <div class="col-md-12">
                    <h4>You did your first steps with Form.io. If you are running on Form.io you're good to go. If
                      you want deploy to another Backend, you can go <a href="https://help.form.io/userguide/docker/" target="_blank">here</a></h4>
                  </div>

                  </div>
                </div>

                <div class="col-sm-12">
                  <button type="button" class="btn btn-default pull-left" ng-click="prevStep('embed')">Back</button>
                </div>
              </div>
            <div class="" ng-if="stepActive== 'adFeatures' && step=='adFeatures'">
              <div class="flow-content-header">
                <h3 class="flow-content-title">There is more for you</h3>
              </div>
              <div class="flow-content__container">
                <div class="col-md-6">
                  <h4>Form.io provides you with a lot of features to build awesomes applications.</h4>
                </div>
              </div>

              <div class="col-sm-12">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


