<div class="row">
  <div class="col-sm-6 col-margin-bottom" ng-controller="ProjectCreateController">
    <h2>Create a New {{ selectedFramework.title }}</h2>
    <ng-include src="'views/project/settings.html'"></ng-include>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Free 30 day Enterprise Trial</h2>
      </div>
      <div class="panel-body">
        <p>Test out the features of Enterprise free for 30 days. No Credit Card required!</p>
        <p>Enterprise Plan Features</p>
        <ul>
          <li><strong>Team Collaboration</strong> - Create teams and collaborate with other developers</li>
          <li><strong>Premium Actions</strong> - Test out 3rd party integrations such as Email, File storage and Data connectors</li>
          <li><strong>Deployment Environments</strong> - Create multiple environments for Dev/Stage/Live and set up a deployment and testing workflow for your project.</li>
        </ul>
        <p>You can upgrade or downgrade your project at any time.</p>
      </div>
    </div>
  </div>
</div>
