<p>
  A <strong>project</strong> serves as a container for the <strong>Resources</strong>, <strong>Forms</strong>, <strong>Data</strong>, and <strong>Settings</strong> for a specific application you are building. Once created, a project can serve as the backend API platform for your application.
</p>
<p>
  You can either create an empty project, or chose from a number of our existing Project Templates to help get your project started quickly.
</p>
<p>
  Please refer to our help guides @ <a href="https://help.form.io" target="_blank">https://help.form.io</a> for more information.
</p>
