<p>
  A <strong>project</strong> serves as a container for the <strong>Resources</strong>, <strong>Forms</strong>, <strong>Data</strong>, and <strong>Settings</strong> for a specific application you are building. Once created, a project can serve as the backend API platform for your application.
</p>
<p>
  By Choosing a framework we can provide a centralized documentation for your selection, in addition to kit started projects to provide you with a solid base of your project corresponding to the framework of your selection.
</p>
<p>
  Refer to our help guide @ <a href="https://help.form.io/intro/explore/" target="_blank">Getting Started Guide</a> for more information.
</p>
