<div class="project-section-inner-content">
  <div class="row overview">
    <div class="col-md-8 overview-content">
      <ul class="list-group list-group-striped">
        <li class="list-group-item list-group-heading">
          <h3>Recent Resources</h3>
        </li>
        <li class="list-group-item" ng-repeat="form in recentResources track by $index">
          <div class="row">
            <div class="col-sm-12">
              <strong><a ui-sref="project.{{form.type}}.form.edit({formId: form._id})">{{form.title}}</a></strong>
              <a ui-sref="project.{{form.type}}.form.edit({formId: form._id})" class="btn btn-default pull-right">Edit</a>
            </div>
          </div>
        </li>
        <li class="list-group-item text-center">
          <a ui-sref="project.form.index">More...</a>
        </li>
      </ul>
      <ul class="list-group list-group-striped">
        <li class="list-group-item list-group-heading">
          <h3>Recent Forms</h3>
        </li>
        <li class="list-group-item" ng-repeat="form in recentForms track by $index">
          <div class="row">
            <div class="col-sm-12">
              <strong><a ui-sref="project.{{form.type}}.form.edit({formId: form._id})">{{form.title}}</a></strong>
              <a ui-sref="project.{{form.type}}.form.edit({formId: form._id})" class="btn btn-default pull-right">Edit</a>
            </div>
          </div>
        </li>
        <li class="list-group-item text-center">
          <a ui-sref="project.form.index">More...</a>
        </li>
      </ul>
      <!--<ul class="list-group list-group-striped">
        <li class="list-group-item list-group-heading">
          <h3>Recent Submissions</h3>
        </li>
        <li class="list-group-item list-group-heading">
          <div class="row">
            <div class="col-sm-2">
              <strong>Created</strong>
            </div>
            <div class="col-sm-8">
              <strong>Form</strong>
            </div>
            <div class="col-sm-2">
              <strong class="pull-right">Links</strong>
            </div>
          </div>
        </li>
        <li class="list-group-item" ng-repeat="submission in submissions track by $index">
          <div class="row">
            <div class="col-sm-2">
              {{submission.created | date : 'short'}}
            </div>
            <div class="col-sm-8">
              <strong>{{forms[submission.form].title}}</strong>
            </div>
            <div class="col-sm-2 pull-right" ng-if="forms[submission.form]">
              <a ui-sref="project.{{forms[submission.form].type}}.form.submission.item.view({formId: submission.form, subId: submission._id})" class="btn btn-default pull-right">View</a>
            </div>
          </div>
        </li>
        <li class="list-group-item text-center">
          <a ui-sref="project.data">Coming Soon...</a>
        </li>
      </ul>-->
    </div>
    <div class="col-md-4">
      <ul class="list-group list-group-striped" ng-if="!onPremise">
        <li class="list-group-item list-group-heading">
          <h3>Project Limits</h3>
        </li>
        <li class="list-group-item" ng-if="currentProject._id === localProject._id">
          <h4>Forms and Resources <i uib-tooltip="The total amount of combined forms and resources that this project is allowed to have within this plan." class="fa fa-info-circle"></i></h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{width: getAPICallsPercent(currentProject.apiCalls, 'forms')}" ng-class="getProgressBarClass(currentProject.apiCalls, 'forms')"></div>
            <span>{{ currentProject.apiCalls.used.forms | number }} / {{ getAPICallsLimit(currentProject.apiCalls.limit.forms) }}</span>
          </div>
          <h4>Form Requests <i uib-tooltip="The total amount of API requests (per month) that can be made to Create, Read, Update, and Delete forms." class="fa fa-info-circle"></i></h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{width: getAPICallsPercent(currentProject.apiCalls, 'formRequests')}" ng-class="getProgressBarClass(currentProject.apiCalls, 'formRequests')"></div>
            <span>{{ currentProject.apiCalls.used.formRequests | number }} / {{ getAPICallsLimit(currentProject.apiCalls.limit.formRequests) }} per month</span>
          </div>
          <h4>Submission Requests <i uib-tooltip="The total amount of API requests (per month) that can be made to Create, Read, Update, and Delete form submissions." class="fa fa-info-circle"></i></h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{width: getAPICallsPercent(currentProject.apiCalls, 'submissionRequests')}" ng-class="getProgressBarClass(currentProject.apiCalls, 'submissionRequests')"></div>
            <span>{{ currentProject.apiCalls.used.submissionRequests | number }} / {{ getAPICallsLimit(currentProject.apiCalls.limit.submissionRequests) }} per month</span>
          </div>
          <h4>Emails <i uib-tooltip="The total amount of emails per month that can be sent using the Default email transport. If your project uses its own Email provider, then this limit does not apply." class="fa fa-info-circle"></i></h4>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{width: getAPICallsPercent(currentProject.apiCalls, 'emails')}" ng-class="getProgressBarClass(currentProject.apiCalls, 'emails')"></div>
            <span>{{ currentProject.apiCalls.used.emails | number }} / {{ getAPICallsLimit(currentProject.apiCalls.limit.emails) }} per month</span>
          </div>
        </li>
        <li class="list-group-item" ng-if="currentProject._id !== localProject._id">
          <h4>Enterprise Edition (On Premise)</h4>
        </li>
      </ul>
      <ul class="list-group list-group-striped">
        <li class="list-group-item list-group-heading">
          <h3>Current Framework</h3>
        </li>
        <li class="list-group-item">
          <p><img src="{{currentFramework.img}}" alt="{{currentFramework.title}}" style="width: 50px;"> {{currentFramework.title}} <a ui-sref="project.settings" class="btn btn-default">Change</a></p>
          <a class="btn btn-primary" ui-sref="project.tour">View Walkthrough</a>
        </li>
      </ul>
      <ul class="list-group list-group-striped" ng-if="hasTeams()">
        <li class="list-group-item list-group-heading">
          <h3>Team Status</h3>
        </li>
        <li class="list-group-item">
          <div class="list-group">
            <a ui-sref="team.view({teamId: team._id})" class="list-group-item" ng-repeat="team in currentProjectTeams">
              <span class="badge"><i class="fa fa-users"></i>&nbsp;{{ team.data.members.length || 0 }}</span>
              <h4 class="list-group-item-heading">
                {{ team.data.name }}
                <small ng-if="team.permission === 'team_read'">Read-only</small>
                <small ng-if="team.permission === 'team_admin'">Admin</small>
              </h4>
              <span class="label label-success">{{ team.owner === user._id ? 'OWNER' : 'MEMBER'}}</span>
            </a>
          </div>
          <h4>
            <span ng-if="highestRole === 'owner'">You are the project <strong>owner</strong>.</span>
            <span ng-if="highestRole === 'team_admin'">You are a project <strong>admin</strong>.</span>
            <span ng-if="highestRole === 'team_write'">You are a project <strong>member</strong>.</span>
            <span ng-if="highestRole === 'team_read'">You are a <strong>read-only project member</strong>.</span>
            You can:
          </h4>
          <dl class="dl-horizontal">
            <dt ng-class="{'text-muted': !projectPermissions.read}">Read</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.read, 'text-muted fa-times': !projectPermissions.read}"></i></dd>
            <dt ng-class="{'text-muted': !projectPermissions.write}">Write</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.write, 'text-muted fa-times': !projectPermissions.write}"></i></dd>
            <dt ng-class="{'text-muted': !projectPermissions.admin}">Administrate</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.admin, 'text-muted fa-times': !projectPermissions.admin}"></i></dd>
          </dl>
        </li>
      </ul>
      <div ng-if="!hasTeams()">
        <div class="well">
          <h4><a href="" ui-sref="project.billing({projectId: primaryProject._id})">Upgrade Plan</a> to enable teams for this project</h4>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="submission-activity">-->
      <!--<div class="col-md-12">-->
        <!--<h3>Submission Activity</h3>-->
      <!--</div>-->
      <!--<div class="project-data project-summary" ng-if="projectUrl" ng-controller="ChartController">-->
        <!--<div class="col-sm-12">-->
          <!--<h3 class="center">{{label[currentType]}}</h3>-->
          <!--<h4>{{viewDate.year}} / {{viewDate.month}} / {{viewDate.day}}&nbsp;(UTC)&emsp;<select ng-init="graphChange()" ng-options="type for type in types" ng-model="graphType" ng-change="graphChange()"></select></h4>-->
          <!--<chartist class="ct-chart" chartist-data="analytics" chartist-chart-type="Line" chartist-chart-options="analyticsOptions" chartist-events="analyticsEvents"></chartist>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
