<div class="project-section-content">
  <div ng-if="!hasTemplate" class="alert alert-warning text-center" role="alert">
    <strong>This project doesn't have a pre-defined template, but you can use our Example template to help you get started.</strong>
  </div>
  <div ng-if="hasTemplate" class="alert alert-info text-center" role="alert">
    <p>This is a preview of your project with its demo application. To download and modify the app, follow the instructions on the <a href="" ui-sref="project.launch">Launch</a> page.</p>
  </div>
  <div class="project-section-inner-content" style="padding-top: 0">
    <div class="row">
      <div class="col-md-12 text-right">
        <a href="{{ previewUrl }}" target="_blank"><i class="fa fa-external-link"></i></a>
      </div>
      <div class="col-md-12" style="text-align: center;">
        <div id="application-preview">
          <img src="images/tablet.png" class="img-responsive" />
          <iframe ng-if="previewUrl" id="application-frame" ng-src="{{ previewUrl }}" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
