<div class="project-section-header">
  <a class="pull-right project-section-header-icon" ng-if="highestRole === 'team_admin' || highestRole === 'owner'" ui-sref="project.settings" uib-tooltip="Project Settings" tooltip-placement="bottom"><i class="fa fa-cog" title="Project Settings"></i></a>
  <a class="btn btn-primary pull-right project-section-header-button" ng-if="highestRole === 'team_admin' || highestRole === 'owner'" ui-sref="project.teams"><i class="fa fa-users"></i> Teams</a>
  <a ng-if="tenantEnabled && (highestRole === 'team_admin' || highestRole === 'owner')" class="btn btn-warning pull-right project-section-header-button" ui-sref="project.tenants"><i class="fa fa-sitemap"></i> Tenants</a>
  <a ng-if="hasFormManager" class="btn btn-info pull-right project-section-header-button" href="{{ projectUrl }}/manage" target="_blank"><i class="fa fa-wpforms"></i> Form Manager</a>
  <a class="btn btn-blink pull-right project-section-header-button" ng-if="!$state.includes('project.tour') && createdDays <= 3" ui-sref="project.tour"><i class="fa fa-hand-o-right"></i> Continue Walkthrough</a>
  <span class="pull-right" style="margin: 10px;">
    <span class="text-warning" ng-if="status.save === 'saving'">
      Saving <i class="fa fa-spinner"></i>
    </span>
  </span>
  <ul class="list-inline project-title-header">
    <li><h2><a ui-sref="home" title="Home"><i class="fa fa-home"></i><br /></a></h2></li>
    <li ng-if="currentSection.title"><h2>›</h2></li>
    <li><h2 class="project-title"><a ui-sref="project.overview">{{ primaryProject.title }}</a></h2></li>
    <li ng-if="currentSection.title"><h2>›</h2></li>
    <li ng-if="currentSection.title"><h2><i class="{{ currentSection.icon }}"></i> {{ currentSection.title }}</h2></li>
    <li><a class="project-plan {{ getPlanLabel(primaryProject.plan) }}" ng-disabled="!projectSettingsVisible()" ui-sref="project.billing({projectId: primaryProject._id})">{{ getPlanName(primaryProject.plan) }}</a> <span ng-if="primaryProject.plan === 'trial'" class="project-trial-remaining"><strong>{{trialDaysRemaining}}</strong> Days remaining <a class="" ui-sref="project.billing({projectId: primaryProject._id})" ng-if="projectPermissions.admin"><i class="fa fa-arrow-circle-up"></i> Upgrade Now</a></span>
    </li>
  </ul>
  <ul class="nav nav-tabs project-nav">
    <li class="pull-right">
      <pre class="pull-right" style="font-size: 0.8em; padding: 4px; margin: 0 0 0 10px;">{{ projectUrl }}</pre>
      <strong class="pull-right" style="margin-top: 2px;">{{ environmentName }} Endpoint:</strong>
    </li>
    <li ng-if="tenantProject"><a ng-click="switchEnv(primaryProject._id)" class="environment-tab"><i class="fa fa-chevron-left"></i></a></li>
    <li ng-if="tenantProject" ng-class="{ active: localProject._id === tenantProject._id }"><a ng-click="switchEnv(tenantProject._id)" class="environment-tab">{{ tenantProject.title }} <span class="badge" ng-if="tenantProject.tag !== '0.0.0'">{{ tenantProject.tag }}</span></a></li>
    <li ng-class="{ active: localProject._id === environment._id }" ng-repeat="environment in environments"><a ng-click="switchEnv(environment._id)" class="environment-tab"><i class="fa fa-shield" ng-if="environment.protect"></i> {{ environment.title }} <span class="badge" ng-if="environment.tag !== '0.0.0'">{{ environment.tag }}<span ng-if="projectModified(environment)">*</span></span></a></li>
    <li ng-if="!tenantProject" ng-class="{ active: localProject._id === primaryProject._id }"><a ng-click="switchEnv(primaryProject._id)" class="environment-tab"><i class="fa fa-shield" ng-if="primaryProject.protect"></i> {{ primaryProject.liveTitle || 'Live' }} <span class="badge" ng-if="primaryProject.tag !== '0.0.0'">{{ primaryProject.tag }}</span></a></li>
    <li ng-if="environments.length < 9 && projectPermissions.admin"><a ui-sref="project.environment">+ New Stage</a></li>
  </ul>
</div>
<div class="project-container" ng-if="projectError">
  <div class="alert alert-danger">
    Error accessing project: {{projectError}}
  </div>
</div>
<div class="well" style="min-height: 400px;" ng-if="!projectViewReady && !projectError">
  <i id="project-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i><span style="margin-left:1em;">Loading Project</span>
</div>
<div class="project-container" ng-if="projectViewReady && projectPermissions.read">
  <div class="project-sidebar sidebar">
    <ul class="nav nav-sidebar">
      <li ng-class="{active: isActive('project.overview')}"><a ui-sref="project.overview"><i class="fa fa-sitemap"></i><br/><span>Overview</span></a></li>
      <li ng-if="!currentProject.disabled" ng-class="{active: isActive('project.resource') && !isActive('project.form.form.submission')}"><a ui-sref="project.resource.index"><i class="fa fa-object-group"></i><br/><span>Resources</span></a></li>
      <li ng-if="!currentProject.disabled" ng-class="{active: isActive('project.form')}"><a ui-sref="project.form.index"><i class="fa fa-tasks"></i><br/><span>Forms</span></a></li>
      <li ng-if="!currentProject.disabled" ng-class="{active: isActive('project.api')}"><a ui-sref="project.api"><img src="images/swagger-logo.png" style="width:2em;" /><br/><span>API</span></a></li>
      <li ng-if="!currentProject.disabled" ng-class="{active: isActive('project.data')}"><a ui-sref="project.data"><i class="fa fa-database"></i><br/><span>Data</span></a></li>
      <li ng-if="!currentProject.disabled" ng-class="{active: isActive('project.access')}"><a ui-sref="project.access"><i class="fa fa-shield"></i><br/><span>Access</span></a></li>
      <li ng-if="!currentProject.disabled && projectPermissions.admin" ng-class="{active: isActive('project.actions')}">
        <a ui-sref="project.actions"><i class="fa fa-play-circle-o"></i><br/><span>Actions</span></a>
      </li>
      <li ng-if="currentProject._id === '553db92f72f702e714dd9778'" ng-class="{active: isActive('project.formio')}"><a ui-sref="project.formio"><i class="glyphicon glyphicon-globe"></i><br/><span>Form.io</span></a></li>
      <li ng-class="{active: isActive('project.env')}" ng-if="projectPermissions.admin">
        <a ui-sref="project.env.settings.info"><i class="fa fa-gear"></i><br /><span>Settings</span></a>
      </li>
    </ul>
  </div>
  <div class="project-main">
    <div ng-if="protocolSecureError || projectError">
      <div class="well">
        <div class="alert alert-danger" ng-if="protocolSecureError">
          <p>On-Premise Environment is not on https.</p>
          <p>Browsers do not allow connecting to non-https resources while the page is on https. We recommend installing an SSL certificate for your environment.</p>
          <p> You can also use an http version of the portal to connect to your environment. You may need to log in again.</p>
          <p><a href="{{unsecurePortal}}" class="btn btn-default">Switch to http portal</a></p>
        </div>
        <div class="alert alert-danger" ng-if="!protocolSecureError && projectError">
          <p>{{projectUrl}} - {{projectError}}</p>
          <p>If you are seeing this error then there is a configuration issue preventing the form.io portal from accessing your project. Your remote server might be offline or inaccessible.</p>
        </div>
      </div>
    </div>
    <div ng-if="currentProject.name === 'formio' && onPremise">
      <div class="well">
        <div class="alert alert-warning">
          <p>This is the Portal Base project in your Primary environment. You should use it to manage your administrative users and teams.</p>
          <p>DO NOT build your application from this project or add additional forms to it. Instead, go to the home page and create a new project.</p>
        </div>
      </div>
    </div>
    <div ng-if="currentProject.disabled">
      <div class="well">
        <div class="alert alert-danger">
          <p>This is project has been disabled with the following message: {{currentProject.disabled}}.</p>
          <p>Please correct the problem before continuing.</p>
        </div>
      </div>
    </div>
    <div class="project-content" ui-view></div>
  </div>
</div>
<div class="project-container" ng-if="projectViewReady && projectPermissions && !projectPermissions.read">
  <div class="container" style="margin-top: 20px;">
    <div class="well">
      You have been granted access to this project in order to access some stages. Please use the stages tabs to access a stage you have access to.
    </div>
  </div>
</div>
