<form name="projectForm" ng-submit="saveProject()" novalidate>
    <div id="form-group-title" class="form-group" ng-class="{'has-error': projectForm.title.$invalid && projectForm.title.$dirty}">
        <label for="title" class="control-label required-field">Project Title</label>
        <input type="text" class="form-control" id="title" name="title" ng-model="currentProject.title" placeholder="Project name or website." ng-maxlength="63" ng-required="true">
        <p class="help-block" ng-show="projectForm.title.$error.maxlength">Project Title cannot be longer than 63 characters.</p>
    </div>
    <div id="form-group-name" class="form-group" ng-if="showName" ng-class="{'has-error': projectForm.name.$invalid && projectForm.name.$dirty, 'has-success': projectForm.name.$valid}">
        <label for="name" class="control-label required-field">Domain Name</label>
        <div class="input-group" style="width: 300px;">
            <span class="input-group-addon">https://</span>
            <input type="text" class="form-control" id="name" name="name" ng-model="currentProject.name" title="{{ currentProject.name }}" placeholder="myproject" valid-subdomain unique-checker="/project/available" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" ng-maxlength="63" ng-required="!showName">
            <i class="form-control-feedback glyphicon" ng-class="{'glyphicon-ok': projectForm.name.$valid, 'glyphicon-remove': projectForm.name.$invalid && projectForm.name.$dirty}" style="right: -36px;"></i>
            <span class="input-group-addon">.form.io</span>
        </div>
        <p class="help-block" ng-show="projectForm.name.$error.maxlength">Domain Name cannot be longer than 63 characters.</p>
        <p class="help-block" ng-show="projectForm.name.$error.unique && projectForm.name.$dirty">This domain is unavailable. Please pick a different domain.</p>
        <p class="help-block" ng-show="projectForm.name.$valid">This domain is available!</p>
    </div>
    <div class="form-group" ng-if="!showName">
      <label for="name" class="control-label">Domain Name</label>
      <div class="input-group" style="width: 300px;">
        <span class="input-group-addon">https://</span>
        <input type="text" class="form-control" name="name" disabled="true" ng-model="currentProject.name" title="{{ currentProject.name }}" placeholder="myproject">
        <span class="input-group-addon">.form.io</span>
      </div>
      <p class="help-block">Upgrade your <a href="https://www.form.io/pricing">project plan</a> for access to a custom domain.</p>
    </div>
    <div id="form-group-description" class="form-group" ng-class="{'has-error': projectForm.description.$invalid}">
        <label for="description" class="control-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" ng-model="currentProject.description" placeholder="Enter a short description for your project/website." ng-maxlength="512">
        <p class="help-block" ng-show="projectForm.description.$error.maxlength">Description cannot be longer than 512 characters.</p>
    </div>
    <div id="form-group-template" class="form-group" ng-if="currentProject.template && !hasTemplate">
      <div class="panel panel-default">
        <div class="panel-heading">Project Template</div>
        <div class="panel-body">
          <p>The project template will automatically create some Resources and Forms to help bootstrap your project.</p>
          <div class="row">
            <div class="col-lg-6 col-md-5">
              <select class="form-control" ng-model="currentProject.template" ng-options="template.template as template.title for template in templates"></select>
            </div>
            <div class="col-lg-2 col-md-2" style="text-align:center;"><h4 style="margin:5px 0 10px 0;padding:0;"><small style="font-size:65%;">&horbar; OR &horbar;</small></h4></div>
            <div class="col-lg-4 col-md-5">
              <span class="btn btn-primary btn-block btn-file">
                Choose Template <input id="template-select" type="file" accept=".json" onchange="angular.element(this).scope().loadTemplate.call(this)">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="hasTemplate">
      <div class="panel panel-success">
        <div class="panel-heading">Template Information</div>
        <div class="panel-body table-responsive">
          <table class="table">
            <tr><td>Title</td><td>{{ currentProject.template.title }}</td></tr>
            <tr><td>Name</td><td>{{ currentProject.template.name }}</td></tr>
            <tr><td>Description</td><td>{{ currentProject.template.description }}</td></tr>
            <tr>
              <td>Roles</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="role in currentProject.template.roles">{{ role.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Resources</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="resource in currentProject.template.resources">{{ resource.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Forms</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="form in currentProject.template.forms">{{ form.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Actions</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="action in currentProject.template.actions">{{ action.title }} for {{ action.form }}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="pull-right">
        <a ng-if="currentProject && currentProject._id" ui-sref="project.delete()" class="btn btn-danger">Delete</a>
        <a ng-if="!currentProject._id" ui-sref="home()" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary" ng-disabled="projectForm.$invalid">{{currentProject._id ? 'Save' : 'Create Project'}}</button>
    </div>
</form>
