<div class="row">
  <div class="col-md-1 project-sidebar sidebar">
    <ul class="nav nav-sidebar">
      <li ng-class="{active: isActive('project.resource') && !isActive('project.resource.form.submission') && !isActive('project.form.form.submission')}"><a ui-sref="project.resource.index"><i class="fa fa-database"></i><br/><span>Resources</span></a></li>
      <li ng-class="{active: isActive('project.form')}"><a ui-sref="project.form.index"><i class="fa fa-tasks"></i><br/><span>Forms</span></a></li>
      <li ng-class="{active: isActive('project.data') || isActive('project.resource.form.submission') || isActive('project.form.form.submission')}"><a ui-sref="project.data"><i class="fa fa-table"></i><br/><span>Data</span></a></li>
      <li><a href="#"><i class="fa fa-laptop"></i><br/><span>Preview</span></a></li>
      <li ng-class="{active: isActive('project.api')}"><a ui-sref="project.api"><img src="images/swagger-logo.png" style="width:50%;" /><br/><span>API</span></a></li>
      <li ng-class="{active: isActive('project.settings')}"><a ui-sref="project.settings"><i class="fa fa-cogs"></i><br/><span>Settings</span></a></li>
      <li ng-class="{active: isActive('project.edit')}"><a ui-sref="project.edit"><i class="fa fa-eye"></i><br/><span>Summary</span></a></li>
    </ul>
  </div>
  <div class="col-md-11 col-md-offset-1 project-main">
    <div class="project-nav row">
      <div class="col-sm-8">
        <div class="project-title ellipsis"><a ui-sref="project.edit" class="project-title-link">{{ currentProject.title }}</a> <a ui-sref="project.api" class="project-swagger-button">https://{{ currentProject.name }}.form.io</a></div>
        <div class="project-description">{{ currentProject.description }}</div>
      </div>
      <div class="col-sm-2 project-header-block">
        <h5>Requests:&nbsp;&nbsp;<small>{{ currentProject.apiCalls.used | number }} / {{ getAPICallsLimit(currentProject.apiCalls) }}</small></h5>
        <div class="progress project-requests-progress">
          <div class="progress-bar" role="progressbar" ng-style="{width: getAPICallsPercent(currentProject.apiCalls)}" ng-class="getProgressBarClass(currentProject.apiCalls)"></div>
        </div>
      </div>
      <div class="col-sm-2 project-header-block">
        <h5>Current Plan:&nbsp;&nbsp;<div class="label label-primary">{{ getPlanName(currentProject.plan) }}</div></h5>
        <a ui-sref="project.settings.plan()" class="btn btn-default btn-block pull-right upgrade-plan-header-button">Upgrade Plan</a>
      </div>
    </div>
    <div class="project-content" ui-view></div>
  </div>
</div>
