<form name="projectForm" ng-submit="saveProject()" novalidate>
  <div id="form-group-title" class="form-group" ng-class="{'has-error': projectForm.title.$invalid && projectForm.title.$dirty}">
    <label for="title" class="control-label required-field">Project Title</label>
    <input type="text" class="form-control" id="title" name="title" ng-model="currentProject.title" placeholder="Project name or website." ng-maxlength="63" ng-required="true" autofocus="true">
    <p class="help-block" ng-show="projectForm.title.$error.maxlength">Project Title cannot be longer than 63 characters.</p>
  </div>
  <div id="form-group-name" class="form-group" ng-if="showName" ng-class="{'has-error': projectForm.name.$invalid && projectForm.name.$dirty, 'has-success': projectForm.name.$valid}">
    <label for="name" class="control-label required-field">Domain Name</label>
    <div class="input-group" style="width: 300px;">
      <span class="input-group-addon">{{ apiProtocol }}//</span>
      <input type="text" class="form-control" id="name" name="name" ng-model="currentProject.name" title="{{ currentProject.name }}" placeholder="myproject" valid-subdomain unique-checker="/project/available" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" ng-maxlength="63" ng-required="!showName">
      <i class="form-control-feedback glyphicon" ng-class="{'glyphicon-ok': projectForm.name.$valid, 'glyphicon-remove': projectForm.name.$invalid && projectForm.name.$dirty}" style="right: -36px;"></i>
      <span class="input-group-addon">.{{ apiServer }}</span>
    </div>
    <p class="help-block" ng-show="projectForm.name.$error.maxlength">Domain Name cannot be longer than 63 characters.</p>
    <p class="help-block" ng-show="projectForm.name.$error.unique && projectForm.name.$dirty">This domain is unavailable. Please pick a different domain.</p>
    <p class="help-block" ng-show="projectForm.name.$valid">This domain is available!</p>
  </div>
  <!-- TODO: show this if default plan isn't basic -->
  <!-- <div class="form-group" ng-if="!showName">
    <label for="name" class="control-label">Domain Name</label>
    <div class="input-group" style="width: 300px;">
      <span class="input-group-addon">{{ apiProtocol }}//</span>
      <input type="text" class="form-control" name="name" disabled="true" ng-model="currentProject.name" title="{{ currentProject.name }}" placeholder="myproject">
      <span class="input-group-addon">.{{ apiServer }}</span>
    </div>
    <p class="help-block">Upgrade your <a ui-sref="project.settings.plan">project plan</a> for access to a custom domain.</p>
  </div> -->
  <div id="form-group-description" class="form-group" ng-class="{'has-error': projectForm.description.$invalid}">
    <label for="description" class="control-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" ng-model="currentProject.description" placeholder="Enter a short description for your project/website." ng-maxlength="512">
    <p class="help-block" ng-show="projectForm.description.$error.maxlength">Description cannot be longer than 512 characters.</p>
  </div>
  <div id="form-group-template" class="form-group" ng-if="currentProject.template && !hasTemplate">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <span>Select a template</span>
          <a class="pull-right text-muted" href="https://help.form.io/userguide/#project-templates" target="_blank"><i class="glyphicon glyphicon-question-sign"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <p>These project templates will automatically create some Resources and Forms to help bootstrap your project.</p>
        <div class="row">
          <div class="col-sm-6 col-md-4" ng-repeat="template in templates | limitTo:templateLimit" ng-click="currentProject.template = template.template">
            <div class="thumbnail template-card" ng-class="{'template-card-selected': template.template == currentProject.template}">
              <div class="project-tile-icon">
                <img ng-if="template.thumbnail" class="project-template-img" ng-src="{{ template.thumbnail }}" />
                <i ng-if="!template.thumbnail" class="fa fa-html5"></i>
              </div>
              <div class="caption">
                <input ng-hide="true" type="radio" name="{{template.name}}" value="{{template.template}}" ng-model="currentProject.template">
                <h4>{{template.title}}</h4>
                <p class="text-muted">{{template.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-hide="templates.length <= templateLimit">
          <div class="col-xs-10 col-xs-offset-1 col-more-templates">
            <button type="button" class="btn btn-default btn-block" ng-click="showAllTemplates()">Show More Templates</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="col-xs-5 col-vertical-center"><hr></div><!--
            --><div class="col-xs-1 col-vertical-center text-center"><small>OR</small></div><!--
            --><div class="col-xs-5 col-vertical-center"><hr></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="btn btn-default btn-block btn-file">
              Upload Your Own Template <input id="template-select" type="file" accept=".json" onchange="angular.element(this).scope().loadTemplate.call(this)">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="hasTemplate">
    <div class="panel panel-success">
      <div class="panel-heading">Template Information</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <tr><td>Title</td><td>{{ currentProject.template.title }}</td></tr>
            <tr><td>Name</td><td>{{ currentProject.template.name }}</td></tr>
            <tr><td>Description</td><td>{{ currentProject.template.description }}</td></tr>
            <tr>
              <td>Roles</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="role in currentProject.template.roles">{{ role.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Resources</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="resource in currentProject.template.resources">{{ resource.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Forms</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="form in currentProject.template.forms">{{ form.title }}</span>
              </td>
            </tr>
            <tr>
              <td>Actions</td>
              <td>
                <span class="label label-primary" style="margin-right: 5px;" ng-repeat="action in currentProject.template.actions">{{ action.title }} for {{ action.form }}</span>
              </td>
            </tr>
          </table>
        </div>
        <p><a class="text-muted" href="" ng-click="unloadTemplate()">Nevermind, I don't want this template.</a></p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="currentProject && currentProject._id">
    <div id="form-group-cors" class="form-group">
      <label for="cors" class="control-label">CORS - Cross Origin Resource Sharing</label>
      <textarea class="form-control" id="cors" ng-disabled="['basic', 'independent'].indexOf(currentProject.plan) !== -1" ng-model="currentProject.settings.cors" placeholder="A comma separated list of domains that forms may be embedded on. Use * to allow all domains."></textarea>
      <p ng-if="['basic', 'independent'].indexOf(currentProject.plan) !== -1 && projectSettingsVisible() && !onPrem" class="text-danger"><em><a ng-click="showUpgradeDialog(currentProject)">Upgrade</a> your project to enable CORS.</em></p>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Preview</div>
      <div class="panel-body">
        <label for="preview-repo" class="control-label">Preview Git Repo</label>
        <input type="text" class="form-control" id="preview-repo" ng-model="currentProject.settings.preview.repo" placeholder="The git repository for the preview app." />
        <label for="preview-repo" class="control-label">Preview App Url</label>
        <input type="text" class="form-control" id="preview-url" ng-model="currentProject.settings.preview.url" placeholder="The app url for the preview app." />
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Export Project</div>
      <div class="panel-body">
        <p>The following button will export your project as a JSON file that can then be used as a template for other projects.</p>
        <a href="//api.{{ appConfig.serverHost }}/project/{{ currentProject._id }}/export?x-jwt-token={{ token }}" class="btn btn-primary">Export Project</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Delete Project</div>
      <div class="panel-body">
        <p>Deleting a project will make it disappear forever! This cannot be undone, so make sure you really want to delete it.</p>
        <a ui-sref="project.delete()" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="pull-right">
    <a ng-if="!currentProject._id" ui-sref="home()" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary" ng-disabled="projectForm.$invalid">{{currentProject._id ? 'Save' : 'Create Project'}}</button>
  </div>
</form>
