<div class="about-projects">
  <legend>About Projects</legend>
  <p>A project serves as a container for the Resources, Forms, API, and Data for a specific application you are building. A project can serve as the backend API platform for your application. Here is what you need to know to get started.</p>
  <div class="list-group">
    <a ui-sref="project.resource.index" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-database"></i> Resources</h2>
        </div>
        <div class="col-md-9"><p>Resources are the main data structures that can serve as the backend storage and API platform for your web application. Resources can also be embedded and linked into other Resources and Forms to create a hierarchical relationship structure. Each Resource has an associated Resource Form.</p></div>
      </div>
    </a>
    <a ui-sref="project.form.index" class="list-group-item">
      <div class="row">
        <div class="col-md-3"><h2><i class="fa fa-tasks"></i> Forms</h2></div>
        <div class="col-md-9"><p>Forms serve as the main interfaces for your application. You can re-use Resource fields as well as use custom input components. The forms you create can range from simple surveys to complex authentication and resource management forms. Forms are what are embedded within your application.</p></div>
      </div>
    </a>
    <a ui-sref="project.api" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-code"></i> API</h2>
        </div>
        <div class="col-md-9">
          <p>Each form has an API automatically built behind it. Each form will automatically connect to its corresponding API. However, the API is fully available should you want to directly interact with it. The API explorer allows seeing which endpoints are available and how to interact with them.</p>
        </div>
      </div>
    </a>
    <a ui-sref="project.data" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-table"></i> Data</h2>
        </div>
        <div class="col-md-9">
          <p>Data is where you can find and manage all the data within your application. Here you can view charts of analytics data on how many submissions your users are making over time. You can also access an interactive table of all submissions for your forms that you can sort, filter, and more.</p>
        </div>
      </div>
    </a>
    <a ui-sref="project.preview" class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <h2><i class="fa fa-laptop"></i> Preview</h2>
        </div>
        <div class="col-md-9">
          <p>Preview your working application live. Any changes made in your Forms and Resources will immediately be reflected in the preview application. This serves as an immediate preview of your application before you download and begin custom development and launch your application.</p>
        </div>
      </div>
    </a>
  </div>
  <p>Please refer to our <a href="https://help.form.io">help guides</a> for more information.</p>
</div>

