<div class="alert alert-success" role="alert"><i class="fa fa-lock fa-lg"></i> Project Settings are encrypted for your protection.</div>
<div class="col-sm-2">
  <div class="well">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-class="{active:($state.includes('project.settings.project'))}"><a ui-sref="project.settings.project">General Settings</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.roles'))}"><a ui-sref="project.settings.roles.view">Roles</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.access'))}"><a ui-sref="project.settings.access">Access</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.oauth'))}"><a ui-sref="project.settings.oauth">OAuth</a></li>
      <li role="presentation" ng-if="user._id === currentProject.owner && (currentProject.plan === 'team' || currentProject.plan === 'commercial')" ng-class="{active:($state.includes('project.settings.teams'))}"><a ui-sref="project.settings.teams.view">Teams</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.email'))}"><a ui-sref="project.settings.email">Email Providers</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.storage'))}"><a ui-sref="project.settings.storage">File Storage</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.data'))}"><a ui-sref="project.settings.data">Data Connections</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.apiKeys'))}"><a ui-sref="project.settings.apiKeys">API Keys</a></li>
    </ul>
  </div>
</div>
<div class="col-sm-10" style="padding: 0 20px 40px 0;">
  <ng-form>
    <i id="project-loader" ng-if="!currentProject" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
    <div ng-if="currentProject" ui-view></div>
  </ng-form>
</div>
