<form name="projectForm" ng-submit="saveProject()" novalidate>
  <div id="form-group-title" class="form-group" ng-class="{'has-error': projectForm.title.$invalid && projectForm.title.$dirty}">
    <label for="title" class="control-label required-field">{{ createType }} Title</label>
    <input type="text" class="form-control" id="title" name="title" ng-model="project.title" placeholder="Give your {{ createType }} a name." ng-maxlength="63" ng-required="true" autofocus="true">
    <p class="help-block" ng-show="projectForm.title.$error.maxlength">{{ projectType }} Title cannot be longer than 63 characters.</p>
  </div>
  <div id="form-group-description" class="form-group" ng-class="{'has-error': projectForm.description.$invalid}">
    <label for="description" class="control-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" ng-model="project.description" placeholder="Enter a short description for your project." ng-maxlength="512">
    <p class="help-block" ng-show="projectForm.description.$error.maxlength">Description cannot be longer than 512 characters.</p>
  </div>
  <div ng-if="!hideFrameworks" class="form-group">
    <label class="control-label">Target Framework</label>
    <p class="text-muted">Select which framework you plan to build this project in.</p>
    <ui-select ng-model="project.framework" theme="bootstrap">
      <ui-select-match placeholder="Select framework">{{$select.selected.title}}</ui-select-match>
      <ui-select-choices repeat="framework.name as framework in frameworks | filter:$select.search">
        <span>{{ framework.title }}</span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="form-group" ng-if="project._id">
    <h3>Form Defaults</h3>
    <div class="panel panel-default" ng-if="minPlan('commercial')">
      <div class="panel-heading">
        Form Revisions (Enterprise Only)
      </div>
      <div class="panel-body">
        <div class="well well-sm">
          Form revisions will save a copy of each form revision and allow matching submissions with the revision of the form it was submitted with.
        </div>
        <div id="form-group-versioning" class="form-group">
          <label class="control-label">
            <select ng-model="project.formDefaults.revisions">
              <option value="">Disabled</option>
              <option value="current">Enabled - Use current form version when viewing submissions.</option>
              <option value="original">Enabled - Use original form version when viewing submissions.</option>
            </select>
          </label>
          <div class="text-muted">When enabled, you can configure whether existing form submissions will be viewed in the latest version of the form or in the original version the submission was submitted with.</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!project._id">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="advancedHeading">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" href="#advanced" aria-controls="advanced">
            Advanced Options
          </a>
        </h4>
      </div>
      <div id="advanced" class="panel-collapse collapse" role="tabpanel" aria-labelledby="advancedHeading">
        <div class="panel-body">
          <div ng-if="!hasTemplate">
            <span class="btn btn-default btn-block btn-file">
              Upload A Project Template <input id="template-select" type="file" accept=".json" onchange="angular.element(this).scope().loadTemplate.call(this)">
            </span>
          </div>
          <div ng-if="hasTemplate">
            Template added. <a ng-click="removeTemplate()">remove</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <a ui-sref="project.overview()" class="btn btn-default" ng-if="project._id">Cancel</a>
  <button type="submit" class="btn btn-primary" ng-disabled="projectForm.$invalid"><i ng-if="isBusy" class="fa fa-spinner fa-pulse"></i> {{ project._id ? 'Save Project' : 'Create Project'}}</button>
</form>
