<div class="row row-eq-height no-gutter project-upgrade-dialog">
  <div class="col-sm-4 plan-column" ng-class="'plan-column-' + selectedPlan">
    <div class="dropdown">
    <div class="dropdown-toggle selected-plan" data-toggle="dropdown">
      <h3>
        {{getPlan(selectedPlan).title}} Plan <i class="fa fa-caret-down"></i>
      </h3>
      <p class="text-muted price-description"><small>{{getPlan(selectedPlan).priceDescription}}</small></p>
    </div>

      <ul class="dropdown-menu plan-menu">
        <li class="plan-menu-item" ng-repeat="plan in plans"
          ng-class="{active: plan.name === selectedPlan}">
          <a href="" ng-click="setSelectedPlan(plan.name)">
            <h4>{{plan.title}} Plan</h4>
            <p class="text-muted">{{plan.priceDescription}}</p>
          </a>
        </li>
      </ul>
    </div>

    <div ng-switch="selectedPlan">
      <table ng-switch-when="basic" class="table table-condensed feature-table">
        <tr>
          <td>Individual Developers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Basic Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Assigned Domains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>DIY Email Gateway</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multi-resource Auth</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>On-Site Deployment</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Independent Database</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Community Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Requests</td>
          <td class="text-right"><strong>1,000<strong></td>
        </tr>
      </table>

      <table ng-switch-when="independent" class="table table-condensed feature-table">
        <tr>
          <td>Individual Developers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Self Selected Domains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multiple Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multi-resource &amp; OAuth Auth</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>On-Site Deployment</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Independent Database</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Community Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Requests</td>
          <td class="text-right"><strong>10,000<strong></td>
        </tr>
      </table>

      <table ng-switch-when="team" class="table table-condensed feature-table">
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Self Selected Domains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multiple Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multi-resource &amp; OAuth Auth</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>On-Site Deployment</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Independent Database</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Priority Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table table-condensed table-bordered">
              <tr>
                <td>250k Requests</td>
                <td>$100/mo</td>
              </tr>
              <tr>
                <td>500k Requests</td>
                <td>$250/mo</td>
              </tr>
              <tr>
                <td>2M Requests</td>
                <td>$500/mo</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table ng-switch-when="commercial" class="table table-condensed feature-table">
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Self Selected Domains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multiple Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Multi-resource &amp; OAuth Auth</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>On-Site Deployment</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Independent Database</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Priority Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table table-condensed table-bordered">
              <tr>
                <td>Per Instance</td>
                <td>$250/mo</td>
              </tr>
              <tr>
                <td>Per 3 Instances</td>
                <td>$500/mo</td>
              </tr>
              <tr>
                <td>Form Management</td>
                <td>$100/mo</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-sm-8 form-column">
    <h3><i class="fa fa-credit-card"></i> {{selectedPlan === 'commercial' ? 'Request Upgrade to Commerical Plan' : 'Upgrade Project'}}</h3>
    <div ng-if="!paymentInfoLoading && !paymentInfo">
      <h5 class="text-muted">First, you'll need to enter your credit card info.<br>Don't worry, you won't be charged until the end of the billing cycle.</h5>
      <formio src="paymentForm" form-action="'/payeezy'"></formio>
    </div>
    <div ng-if="!paymentInfoLoading && paymentInfo && selectedPlan !== 'commercial'">
      <h4>Are you sure you want to change your project plan to <strong>{{getPlan(selectedPlan).title}}</strong>?</h4>
      <h5 class="text-muted">You can still change the project plan on the left.</h5>
      <br>
      <h5>Payments at the end of billing cycles will be charged to:</h5>
      <h5 class="payment-info"><strong>{{capitalize(paymentInfo.cardType)}} ending in {{paymentInfo.ccNumber.substr(-4)}}</strong></h5>
      <h5 class="text-muted payment-info">Expires on {{paymentInfo.ccExpiryMonth}}/{{paymentInfo.ccExpiryYear}}</h5>
      <h5 class="text-muted payment-info">Name on Card: {{paymentInfo.cardholderName}}</h5>
      <p><small><a class="btn btn-sm btn-default" ng-click="changePaymentInfo()">Change my credit card</a></small></p>
      <br>
      <div class="form-group pull-right">
        <a class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</a>
        <button class="btn btn-primary" ng-click="upgradeProject(selectedPlan)">Upgrade Project to {{getPlan(selectedPlan).title}}</button>
      </div>
    </div>
    <div ng-if="!paymentInfoLoading && paymentInfo && selectedPlan === 'commercial'">
      <div ng-if="!commercialContactFormSubmitted">
        <h5 class="text-muted">Make sure your contact info below is correct. We'll answer your upgrade request as soon as possible.</h5>
        <formio src="commercialContactForm" submission="commercialContactSubmission"></formio>
      </div>
      <div ng-if="commercialContactFormSubmitted">
        <h4>Your Commercial Plan upgrade request has been sent!</h4>
        <h5 class="text-muted">We'll get back to you as soon as possible!</h5>
        <div class="form-group pull-right">
          <a class="btn btn-default" ng-click="closeThisDialog(false)">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
