<div class="row row-eq-height no-gutter project-upgrade-dialog">
  <div class="col-sm-4 plan-column" ng-class="'plan-column-' + selectedPlan">
    <div class="dropdown">
      <div class="dropdown-toggle selected-plan" data-toggle="dropdown">
        <h3>{{getPlan(selectedPlan).title}} Plan <i class="fa fa-caret-down"></i></h3>
        <p class="text-muted price-description"><small>{{getPlan(selectedPlan).priceDescription}}{{ selectedPlan === 'trial' ? ' (' + trialDaysRemaining + ' Days Remaining)' : '' }}</small></p>
      </div>

      <ul class="dropdown-menu plan-menu">
        <li
          class="plan-menu-item"
          ng-repeat="plan in plans"
          ng-class="{active: plan.name === selectedPlan}"
          ng-if="plan.name !== 'trial' || currentProject.plan === 'trial'"
        >
          <a href="" ng-click="setSelectedPlan(plan.name)">
            <h4>{{plan.title}} Plan</h4>
            <p class="text-muted">{{plan.priceDescription}}</p>
          </a>
        </li>
      </ul>
    </div>

    <div ng-switch="selectedPlan">
      <table ng-switch-when="trial" class="table table-condensed feature-table">
        <tr>
          <td>Form and Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Role Based Access Control</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>3rd Party Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Custom Subdomains</td>
          <td class="text-right">&nbsp;</i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Project Environments</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Priority Support</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td># of Submission Requests</td>
          <td class="text-right"><strong>10,000</strong></td>
        </tr>
      </table>

      <table ng-switch-when="basic" class="table table-condensed feature-table">
        <tr>
          <td>Form and Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Role Based Access Control</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right">&nbsp;</i></td>
        </tr>
        <tr>
          <td>3rd Party Email Providers</td>
          <td class="text-right">&nbsp;</i></td>
        </tr>
        <tr>
          <td>Custom Subdomains</td>
          <td class="text-right">&nbsp;</i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Project Environments</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Community Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Submission Requests</td>
          <td class="text-right"><strong>1,000</strong></td>
        </tr>
      </table>

      <table ng-switch-when="independent" class="table table-condensed feature-table">
        <tr>
          <td>Form and Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Role Based Access Control</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>3rd Party Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Custom Subdomains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Project Environments</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Community Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Submission Requests</td>
          <td class="text-right"><strong>10,000</strong></td>
        </tr>
      </table>

      <table ng-switch-when="team" class="table table-condensed feature-table">
        <tr>
          <td>Form and Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Role Based Access Control</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>3rd Party Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Custom Subdomains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Project Environments</td>
          <td class="text-right">&nbsp;</td>
        </tr>
        <tr>
          <td>Priority Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Submission Requests</td>
          <td class="text-right"><strong>250,000</strong></td>
        </tr>
      </table>

      <table ng-switch-when="commercial" class="table table-condensed feature-table">
        <tr>
          <td>Form and Data Management</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Role Based Access Control</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Premium Actions</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>3rd Party Email Providers</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Custom Subdomains</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Offline Mode</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>File Uploads</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>CORS</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Websocket Integration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Team Collaboration</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Project Environments</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td>Priority Support</td>
          <td class="text-right"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <td># of Submission Requests</td>
          <td class="text-right"><strong>2,000,000</strong></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-sm-8 form-column">
    <h3><i class="fa fa-credit-card"></i> {{ currentProject.plan === selectedPlan ? 'Keep Current Plan' : 'Change Plan' }}</h3>
    <div ng-if="!paymentInfoLoading && !paymentInfo">
      <div ng-if="['basic', 'trial'].indexOf(selectedPlan) === -1">
        <h5 class="text-muted">First, you'll need to enter your credit card info.<br>Your first month will be billed on a prorated basis.</h5>
        <formio src="paymentForm" form-action="'/payeezy'"></formio>
      </div>
      <div ng-if="['basic', 'trial'].indexOf(selectedPlan) !== -1">
        <h5>No payment required for the {{getPlan(selectedPlan).title}} plan</h5>
        <div class="form-group pull-right" ng-if="(currentProject.plan !== selectedPlan)">
          <a class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</a>
          <button class="btn btn-primary" ng-click="upgradeProject(selectedPlan)">Change plan to {{getPlan(selectedPlan).title}}</button>
        </div>
      </div>
    </div>
    <div ng-if="!paymentInfoLoading && paymentInfo">
      <div ng-if="(currentProject.plan !== selectedPlan)">
        <h4>Are you sure you want to change your project plan to <strong>{{getPlan(selectedPlan).title}}</strong>?</h4>
        <h5 class="text-muted">You can still change the project plan on the left.</h5>
      </div>
      <br>
      <div ng-if="['basic', 'trial'].indexOf(selectedPlan) === -1">
        <h5>Payments will be charged to:</h5>
        <h5 class="payment-info"><strong>{{capitalize(paymentInfo.cardType)}} ending in {{paymentInfo.ccNumber.substr(-4)}}</strong></h5>
        <h5 class="text-muted payment-info">Expires on {{paymentInfo.ccExpiryMonth}}/{{paymentInfo.ccExpiryYear}}</h5>
        <h5 class="text-muted payment-info">Name on Card: {{paymentInfo.cardholderName}}</h5>
        <p><small><a class="btn btn-sm btn-default" ng-click="changePaymentInfo()">Change my credit card</a></small></p>
        <br>
      </div>
      <div ng-if="['basic', 'trial'].indexOf(selectedPlan) !== -1">
        <h5>No payment required for Basic plan</h5>
      </div>
      <div class="form-group pull-right" ng-if="(currentProject.plan !== selectedPlan)">
        <a class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</a>
        <button class="btn btn-primary" ng-click="upgradeProject(selectedPlan)">Change plan to {{getPlan(selectedPlan).title}}</button>
      </div>
    </div>
  </div>
</div>