<br/>
<script src="/bower_components/seamless/build/seamless.parent.min.js"></script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Form.io Swagger API Explorer
      <a class="pull-right" href="http://help.form.io/userguide/#explorer" target="_blank">
        <i class="glyphicon glyphicon-question-sign "></i>
      </a>
    </h3>
  </div>

  <br>

  <div class="panel-heading">
    <h4 class="panel-title">Make your own Developer Program with Form.io</h4>
  </div>
  <div class="panel-body">
    <p><b>You don't need the API Explorer to create and use Form.io Forms in HTML.</b></p>
    <p>You can quickly build Forms and add them to your web sites and HTML5 phone apps using simple HTML and our <a href="http://help.form.io/intro/" target="_blank">Form.io Getting Started Guide</a>.</p>
    <p>The API explorer here helps programmers quickly integrate your Forms into non-HTML programs like "native" phone apps, "enterprise" server systems, embedded "Internet of Things" applications (IoT), and other programming languages.  Think of it as your own Form.io Developer Program.</p>
  </div>

  <div class="panel-heading">
    <h4 class="panel-title">Swagger-UI API Explorer</h4>
  </div>
  <div class="panel-body">
    <iframe id="docs" ng-src="{{ getSwaggerURL() | trusted }}"></iframe>
    <script type="text/javascript">
      jQuery('#docs').seamless({
        spinner: '',
        loading: 'Loading ...'
      });
    </script>
  </div>
</div>
