@import "variables.scss";
// Colors
$barColor: $brand-secondary;
$overlayColor: $brand-primary;
$backColor: #FFF;

.active .progress-radial {
  .overlay {
    background-color: darken($brand-primary, 5%);
  }
}

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  margin: 0 auto;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: darken($brand-primary, 20%); // default 100%
  /* -------------------------------------
   * Optional centered circle w/text
   * ------------------------------------- */
  .overlay {
    position: absolute;
    width: 2.2em;
    height: 2.2em;
    background-color: darken($brand-primary, 20%);
    border-radius: 50%;
    margin-left: 0.55em;
    margin-top: 0.5em;
    text-align: center;
    line-height: 2.2em;
    font-size: 14px;
  }
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

$step: 5; // step of % for created classes

$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i );
      background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );
      background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
    }
  }
}
