@import "variables.scss";
@import "mixins.scss";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding-top: 45px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.submissions-header {
  margin-top: 10px;
}

.component-form-group.component-type-hidden {
  height: 3em;
  border: 2px dashed #ddd;
}

.component-form-group.component-type-hidden .form-group {
  text-align: center;
  color: #aaa;
  padding-top: 0.5em;
}

ul.dropdown-menu {
  padding-bottom: 5px;
  li > a {
    cursor: pointer;
  }
}

.navbar-brand {
  padding: 6px 0 0 0;
}

.navbar-header {
  .breadcrumb>li+li:before {
    content: ">";
  }
  .breadcrumb {
    float: left;
    margin: 0;
    font-size: 14px;
    border: none;
    text-transform: none;
    background: none;
    li {
      a {
        color: #FFFFFF;
      }
    }
  }
}

.play-pres-overlay {
  position: relative;
  text-align:center;
  z-index:2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000)";
}

.play-pres-overlay img {
  cursor: pointer !important;
}

.play-pres-overlay .play-pres-overlay-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
  border: none;
  opacity: 0.9;
  padding: 5px;
  z-index:3;
  color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: rgba(23, 35, 34, 0.746094);
  box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
}

.play-pres-overlay .play-pres-overlay-play span {
  display: block;
  font-size: 4em;
}

.navbar-fixed-top {
  border: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xs {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 9px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #444;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}

#main-wrapper {
  min-height: 80vh;
}
@media (min-width: 768px) {
  #main-wrapper {
    margin: 0;
  }
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  #main-wrapper {
    margin: 0 100px;
  }
}
.main .page-header {
  margin-top: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.form-builder-body {
  width: 100%;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.submission-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Fixes line-height issue where labels don't line up caused by ngDialog */
.checkbox label, .radio label {
  line-height: 1em;
}

.project-nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  .project-title {
    font-weight: normal;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 2em;
  }

  .project-description {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

.project-description, .project-url {
  word-break: break-all;
}

.form-title {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 2em;
}

.form-nav {
  border-bottom: 1px solid #ddd;
  li {
    padding-bottom: 5px;
  }
  .form-nav-right {
    float: right;
  }
  .resource-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 80%;
    font-weight: 500;
    line-height: 3.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin-right: 30px;
  }
}

.col-margin-bottom {
  margin-bottom: 15px;
}

.ui-select-match-close {
  color: #222222;
}

pre code {
  white-space: pre-line;
}

// Only works with 1 column. If you need more, nest them.
.col-centered {
  float: none;
  margin: 0 auto;
}

.required-field:after {
  color:red;
  content:" *";
}

.panel-default .panel-title .text-muted {
  color: #999;
}

/***************************** Feedback *****************************/

.feedback {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: auto;
  z-index: 5;
  .feedback-link {
    padding: 10px;
    background-color: $brand-primary;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  &.open {
    width: 400px;
    margin: 5px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
  }
  .feedback-cancel {
    margin: 5px;
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    text-decoration: none;
  }
}

/***************************** Auth Page *****************************/


.login-container, .register-container {
  color: rgba(255, 255, 255, .935);

  padding-top: 90px;
  padding-bottom: 90px;
  border-radius: 10px;
  min-height: 575px;

  box-shadow: 3px 3px 5px 2px rgba(0,0,0, .33);

  .signup-preamble {
    font-weight: 100;
  }

  .auth-title {
    font-weight:500;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
  }

  // Hide our labels
  label {
    display: none;
  }

  input {
    border-radius: 5px;
    border: none;

    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-style: italic;
    }
    &:-ms-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-style: italic;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  button[type="submit"] {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }

  // Right align Forgot password link and terms of service agreement
  // ckeditor doesn't let us put classes on html :(
  form p, form + p {
    text-align: right;
    font-weight: 100;
    a {
      color: #FFF;
    }
  }

  // Turn error message into box
  .has-error  {
    .form-control {
      border: 1px solid darken($brand-danger, 5%);
    }
    .help-block {
      background-color: $brand-danger;
      border: 1px solid darken($brand-danger, 5%);
      color: #FFF;
      padding: 4px 12px;
      border-radius: 3px;
    }
  }
}

.login-container {
  background-color: $brand-primary;

  @media (min-width: $screen-md-min) {
    margin-right: 15px;
  }

  @media (max-width: $screen-md-min) {
    margin-bottom: 15px;
  }


  button[type="submit"] {
    margin-top: 87px;
    background-color: $brand-secondary;
  }
}

.register-container {
  background-color: $brand-secondary;

  @media (min-width: $screen-md-min) {
    margin-left: 15px;
  }

  button[type="submit"] {
    background-color: $brand-primary;
  }

  // Hide required asterisks, required is implied
  .field-required-inline {
    display: none;
  }
}

/***************************** Footer *****************************/

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.eot?#iefix&t=1442590693060') format('embedded-opentype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.otf?t=1442590693060') format('opentype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.woff?t=1442590693060') format('woff'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.ttf?t=1442590693060') format('truetype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn?t=1442590693060') format('svg');
    font-weight: normal;
    font-style: normal
}

html {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
}

#content {
  display: table-row;
  height: auto;
}

footer {
  color: #f0f0f0;
  padding: 0 0 25px 0;
  text-align: center;
  background-color: darken($brand-secondary, 2%);
  a {
    color: white;
  }
  .section-heading {
    color: #eee;
  }
  .footer-banner img {
    margin-top: -2.2em;
    width: 100%;
  }
  .list-group .list-group-item {
    font-size: 1.2em;
    background-color:$brand-secondary;
    border-color: lighten($brand-secondary, 10%);
    i {
      font-size: 1.5em;
      float: left;
    }
  }
  span.copyright {
    line-height: 40px;
    @include heading-font();
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font();
    text-transform: none;
  }
}

/***************************** Kendo UI *****************************/
.k-filter-menu input[type=radio] {
  margin-right: 5px;
  margin-left: 10px;
}

/***************************** Landing Page *****************************/
.welcome-banner {
  background-color: $brand-secondary;
  color: #eee;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
  &.jumbotron h1 {
    font-size: 56px;
  }
  .list-inline {
    padding-top: 30px;
  }
  .btn-lg {
    background-color: $brand-secondary;
    border: solid #eee 2px;
    color: #eee;
    &:hover {
      background-color: lighten($brand-secondary, 5%);
    }
  }
}

.breadcrumb .label {
  border-radius: 20px;
}

.projects {
  padding-top: 20px;
  .project-create {
    display: block;
    text-decoration: none;
    background-color: transparentize($brand-primary, .75);
    border: 4px dashed transparentize($brand-primary, .75);
    color: transparentize($brand-primary, .25);
    text-align: center;
    height: 270px;
    margin-bottom: 30px;
    .create-link {
      display: block;
      padding-top: 90px;
      .glyphicon {
        margin-top: 5px;
        background: transparentize($brand-primary, .25);
        color: #FFF;
        padding: 6px;
        padding-left: 8px;
        font-size: 15px;
        border-radius: 100%;
      }
    }
    transition: .15s;
    &:hover {
      background-color: lighten(transparentize($brand-primary, .75), 10%);
    }
    &:active {
      background-color: lighten(transparentize($brand-primary, .75), 20%);
    }
  }
  .project {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: $gray-lighter;
    border: 2px solid darken($gray-lighter, 10%);
    overflow: hidden;
    transition: .15s;
    height: 270px;
    &:hover {
      background-color: lighten($gray-lighter, 5%);
    }
    &:active {
      background-color: lighten($gray-lighter, 10%);
    }
    color: $gray-light;
    margin-bottom: 30px;
    padding: 10px 15px;
    .project-title a {
      font-weight: 600;
      color: $gray-light;
    }
    .project-plan {
      margin-top: 9px;
    }
    .project-url {
      // Lighten this up a bit so it's easier to read
      color: lighten($brand-primary, 10%);
    }

    .progress-label {
      padding-top: 10px;
      margin-bottom: 0;
    }
    .list-inline {
      text-align: center;
    }
    .progress {
      background-color: white;
      border: 1px solid lighten($brand-primary, 10%);
      padding: 0;
      position: relative;
      color: #666;
      margin-bottom: 10px;
      .progress-bar-success {
        background-color: lighten($brand-secondary, 10%);
      }
      span {
        position: absolute;
        display: block;
        top: -1px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.project-help-panel {
  margin-top: 92px;
}

.row.row-video {
  padding: 15px 0 0;
  $gradient-start: rgba(241,252,251,1);
  $gradient-end: rgba(178,219,229,1);
  .video-banner {
    display: block;
    height: 100px;
    padding: 15px 0;
    position: relative;
    text-align: center;
    background: -moz-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* FF3.6+ */
    background: -webkit-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* IE 10+ */
    background: radial-gradient(circle at center, $gradient-start 0%, $gradient-end 100%);/* W3C */
    img {
      height: 100%;
      width: auto;
    }

    .video-play-icon {
      position: absolute;
      width: 100%;
      top: 30%;
      font-size: 24px;
      color: #FFF;
      .icon-bg {
        background: rgba(0, 0, 0, .75);
        transition: .15s;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: inline-block;
        padding-top: 4px;
        padding-left: 2px;
      }

    }

    &:hover .icon-bg{
      background: $brand-secondary;
    }
  }
  #intro-video-container {
    // A trick to get video to size itself responsively
    // with a constant aspect ratio
    position: relative;
    padding-top: 30px;
    height: 100px;
    overflow: hidden;
    transition: padding-bottom .5s;
    &.video-open {
      height: 0;
      padding-bottom: 42.85%; // ~21:9 aspect ratio
    }

    #intro-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .video-banner, #intro-video-container {
    margin-bottom: 5px;
  }
}

.label-community {
  background-color: $brand-primary;
  color: #FFF;
}

.label-commercial {
  background-color: #CD69C9;
  color: #FFF;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-code {
  width: 100%;
}

// NOTE: this needs to be applied to all cols in a row
.col-vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/***************************** Create Project *****************************/

.template-card {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 10px 5px;
  cursor: pointer;
  transition: .15s;
  &:hover {
    background: lighten($brand-secondary, 40%);
  }
  &.template-card-selected, &.template-card-selected:hover {
    background: $brand-secondary;
    color: #FFF;
    border: 1px solid darken($brand-secondary, 10%);
    .text-muted {
      color: #FFF;
    }
  }
}

.col-more-templates {
  padding-left: 0;
  padding-right: 0;
}

/***************************** Edit Project *****************************/
.panel-project-info {
  .media-icon-large {
    font-size: 48px;
    width: 64px;
    text-align: center;
  }

  .progress {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
