@import "variables.scss";
@import "mixins.scss";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

:focus {
  outline: none;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.form-builder-premium {
  display: block;
}

.form-builder-premium label,
.project-commercial .form-builder-premium.form-builder-dbindex label {
  color: #aaa;
  pointer-events: none;
}

.project-commercial .form-builder-premium label,
.project-commercial.form-has-collection .form-builder-premium.form-builder-dbindex label {
  color: inherit;
  pointer-events: auto;
}

.btn {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.btn-light {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-primary:hover {
  border-color: white;
}

.submissions-header {
  margin-top: 10px;
}

.component-form-group.component-type-hidden {
  height: 3em;
  border: 2px dashed #ddd;
}

.component-form-group.component-type-hidden .form-group {
  text-align: center;
  color: #aaa;
  padding-top: 0.5em;
}

.subgroup-accordion-container {
  .panel-body {
    padding: 7px;
    .subgroup-accordion.panel-default {
      .panel-heading {
        background-color: #ddd;
        border-color: #666;
        color: black;
      }
    }
  }
}

.user-dropdown ul.dropdown-menu {
  padding-bottom: 5px;
  li:hover {
    background-color: #eeeeee;
  }
  li.no-hover:hover {
    background-color: inherit;
  }
  li > a {
    cursor: pointer;
  }
}

li.user-dropdown a {
  cursor: pointer;
}

.navbar-header {
  .breadcrumb>li+li:before {
    content: ">";
  }
  .breadcrumb {
    float: left;
    margin: 0;
    font-size: 14px;
    border: none;
    text-transform: none;
    background: none;
    li {
      a {
        color: #FFFFFF;
      }
    }
  }
}

.launch-warn {
  margin: 5px 0;
}

.play-pres-overlay {
  position: relative;
  text-align:center;
  z-index:2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#55000000, endColorstr=#55000000)";
}

.play-pres-overlay img {
  cursor: pointer !important;
}

.play-pres-overlay .play-pres-overlay-play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -50px 0 0 -100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;
  border: none;
  opacity: 0.9;
  padding: 5px;
  z-index:3;
  color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: rgba(23, 35, 34, 0.746094);
  box-shadow: 2px 2px 4px #000;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
}

.play-pres-overlay .play-pres-overlay-play span {
  display: block;
  font-size: 4em;
}

.navbar-fixed-top {
  border: 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xs {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 9px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.sidebar {
  position: relative;
  float: left;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #444;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

@media (min-width: $screen-sm-min) {
  #main-wrapper {
    margin: 0;
  }
}

#main-wrapper {
  min-height: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
  &.auth-page {
    margin-top: 40px;
  }
  &.project-page {
    margin: 0;
  }
}

#main-wrapper.home-page {
  margin-top: 0;
}

$project-header-color: #eee;

.welcome-info-strip {
  background-color: darken($brand-primary, 25%);
  color: $gray-lighter;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: 200;
  p {
    margin-bottom: 0;
  }
}

.new-project-row {
  position:relative;
  background-color: #eee;
  color: #333;
  .new-project-section {
    float: left;
    margin-right: 10px;
  }
}

.project-template-item {
  position: relative;
  .project-template-card {
    .framework-coming-soon {
      position: absolute;
      color: red;
      text-align: center;
      width: 100%;
      font-weight: bolder;
      font-size: 2em;
      opacity: 0.3;
      margin-top: 30px;
      padding-right: 7px;
    }
    .project-template-img {
      width: 80px;
      height: 80px;
      //border: solid $brand-primary 4px;
      margin: 10px 35px;
      &:hover {
        cursor: pointer;
      }
    }
    .project-template-info {
      text-align: center;
      h5 {
        line-height: 1.3em;
      }
    }
  }
}

.project-container {
  position: relative;
}

.project-sidebar {
  border: none;
  background-color: darken($brand-primary, 25%);
  text-align: center;
  padding: 0;
  width: 70px;
  position: absolute;
  .nav {
    margin: 0;
    li {
      & > a {
        height: 70px;
        padding: 14px 0 0 0;
        color: $project-header-color;
        &:hover {
          background-color: darken($brand-primary, 20%);
        }
        span {
          font-size: 0.6em;
        }
        i {
          font-size: 1.8em;
        }
      }
      &.active {
        background-color: darken($brand-primary, 20%);
        & > a, & > a:focus {
          background-color: darken($brand-primary, 5%);
          border-right: solid lighten($brand-primary, 15%) 8px;
        }
      }
      &:last-child {
        .fa-sign-out {
          transform: scaleX(-1);
        }
      }
    }
  }
}

.project-sidebar-button {
  display: inline-block;
  border: none;
  background-color: darken($brand-primary, 25%);
  color: $project-header-color;
  text-align: center;
  padding: 10px;
  width: 70px;
  vertical-align: middle;
  span {
    font-size: 0.7em;
  }
  i {
    font-size: 1.8em;
  }
}

.nav-pills-button {
  display: inline-block;
  padding: 10px 15px;
  vertical-align: middle;
  color: #333333;
  background-color: #e7e7e7;
  border-color: #ccc;
  border-radius: 0;
}

.project-main {
  float: left;
  width: 100%;
  min-height: 700px;
  padding: 0;
  border-left: solid darken($brand-primary, 25%) 70px;
}

.project-content {
  margin-bottom: 40px;
  position: relative;
  min-height: 700px;
}

.main .page-header {
  margin-top: 0;
}

.navbar.navbar-inverse {
  border-radius: 0;
  margin-bottom: 0;

  .dropdown-menu {
    background-color: darken($brand-primary, 20%);
  }

  .help-menu {
    color: #eee;
    .list-group-item {
      background-color: darken($brand-primary, 15%);
      border-color: $brand-primary;
      a {
        color: #eee;
        &:hover {
          color: #fff;
        }
      }
      &:hover {
        background-color: darken($brand-primary, 10%);
      }
    }
  }
}

.navbar-nav {
  margin-left: 20px;
}

.navbar-home {
  margin-left: 0;
  width: 6%;
  text-align: center;
  li {
    width: 100%;
    a {
      padding-bottom: 8px;
      padding-top: 9px;
      i {
        font-size: 2em;
      }
    }
  }
}

.component-settings-button-clone {
  display: none;
}

@media (max-width: $screen-md-min) {
  .navbar-home {
    display: none;
  }
}

.navbar-menu {
  margin-right: 20px;
}

.docs-dropdown {
  width: 900px;
  margin: 0px;
  @media (max-width: $screen-md-min) {
    width: 300px;
  }
  li {
    &:hover {
      background-color: #eeeeee;
    }
    a {
      color: black;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.form-builder-body {
  width: 100%;
}

.formcomponents {
  .panel-heading:hover {
    background-color: #dddddd;
  }
  h4.panel-title a {
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.submission-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Fixes line-height issue where labels don't line up caused by ngDialog */
.checkbox label, .radio label {
  line-height: 1em;
}

div.project-section-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-section-header {
  background-color: #eee;
  padding: 6px 10px 0 10px;
  h2 {
    color: darken($brand-primary, 20%);
    a {
      color: darken($brand-primary, 20%);
      &:hover, &:focus {
        text-decoration: none;
      }
    }
    margin: 0 0 10px 0;
  }

  .project-title {
    font-weight: normal;
    margin: 0;
    font-size: 2em;
    h2 {
      a {
        color: #aaa;
      }
    }
    .project-title-link {
      color: $project-header-color;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .project-description {
    overflow: hidden;
    display: inline-block;
  }

  .project-plan {
    padding: 5px 10px;
    color: white;
    border-radius: 12px;
    position: relative;
    top: -3px;
  }

  .nav-tabs.project-nav {
    margin-left: 75px;
    border: none;
    li {
      margin-right: 4px;
      margin-bottom: 0;
      a {
        padding: 6px 15px;
        background-color: $brand-secondary;
        border-radius: 3px 3px 0 0;
        color: #fff;
        border: none;
        .badge {
          background-color: darken($brand-secondary, 10%);
        }
      }
    }
    li.active {
      a {
        background-color: #fff;
        margin-right: 0;
        color: #000;
        border: none;
        .badge {
          background-color: #999;
        }
      }
    }
  }
}

.project-section-info {
  background-color: white;
  color: #333;
  padding: 10px 10px 10px 18px;
  a {
    color: #333;
    text-decoration: none;
  }
}

.project-example {
  .well {
    border: 2px dashed #ddd;
    background-color: inherit;
    box-shadow: none;
    cursor: pointer;
    padding-top: 100px;
    i.fa-plus {
      font-size: 3em;
    }
  }
}

.project-trial-remaining {
  font-size: 1.2em;
  top: -2px;
  position: relative;
  margin-left: 10px;
}

ul.project-settings-menu {
  ul {
    margin-left: 15px;
  }
}

.project-section-inner-content {
  padding: 20px;
  position: relative;
}

.project-resource-form-view-page .form-content, .project-form-form-view-page .form-content, .project-resource-form-api-page .form-content {
  background-color: #666;
  min-height: 700px;
  padding-bottom: 80px;
  margin-bottom: -40px;
}

#application-preview {
  position: relative;
  img { width: 100%; }
  #application-frame {
    position: absolute;
    top: 12.5%;
    left: 10%;
    width: 79%;
    height: 75%;
  }
}

.project-resource-page, .project-form-page {
  .project-section-content {
    .form-list-panel.panel {
      border: none;
    }
  }
}

.project-section-header-button {
  border: none !important;
  margin-right: 5px;
  margin-top: 3px;
}

.project-section-header-icon {
  font-size: 2em;
  margin: 0 10px;
  color: black;
}

.project-header-block {
  text-align: right;
}

.project-requests-progress {
  margin-bottom: 0;
  height: 31px;
}

.formio-settings-info {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  h4 {
    color: #66512c;
    font-weight: 400;
  }
}

.upgrade-plan-header-button {
  padding: 4px 8px;
}

.form-title {
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 2em;
}

.form-nav {
  background-color: #fff;
  color: $gray;
  padding: 5px 10px;
  border-bottom: 2px solid #eee;
  .nav-pills {
    li {
      padding: 0;
      &.form-nav {
        a {
          padding: 6px 12px;
          &:hover {
            background-color: lighten($gray-base, 85%);
          }
        }
        &.active a {
          border: 1px solid $brand-primary;
          background-color: $brand-primary;
          color: white;
        }
      }
    }
  }
  li {
    padding-bottom: 5px;
  }
  .form-nav-right {
    float: right;
  }
  .resource-label {
    color: white;
    background-color: $gray-light;
    display: inline;
    padding: 0.3em 0.5em;
    font-size: 80%;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    line-height: 3.7em;
  }
}

.form-content {
  padding: 20px;
}

.col-margin-bottom {
  margin-bottom: 15px;
}

.ui-select-match-close {
  color: #222222;
}
.ui-select-multiple .ui-select-match-item {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
formio-select-item > span {
  display: inline-flex;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

pre code {
  white-space: pre-line;
}

// Only works with 1 column. If you need more, nest them.
.col-centered {
  float: none;
  margin: 0 auto;
}

.required-field:after {
  color: red;
  content: " *";
}

.panel-default .panel-title .text-muted {
  color: #999;
}

.panel-trial > .panel-heading {
  background-color: $price-panel-trial;
  border-color: $price-panel-trial;
}

/***************************** Feedback *****************************/
.feedback {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: auto;
  z-index: 5;
  .feedback-link {
    padding: 10px;
    background-color: $brand-primary;
    color: white;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  &.open {
    width: 400px;
    margin: 5px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    z-index: 1000;
  }
  .feedback-cancel {
    margin: 5px;
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
    text-decoration: none;
  }
}

/***************************** Auth Page *****************************/
.login-container, .register-container, .reset-container {
  color: rgba(255, 255, 255, .935);

  padding-top: 90px;
  padding-bottom: 90px;
  border-radius: 10px;
  min-height: 575px;

  box-shadow: 3px 3px 5px 2px rgba(0,0,0, .33);

  .signup-preamble {
    font-weight: 100;
  }

  .auth-title {
    font-weight:500;
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
  }

  // Hide our labels
  label {
    display: none;
  }

  input {
    border-radius: 5px !important;
    border: none;

    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-style: italic;
    }
    &:-ms-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-style: italic;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  button[type="submit"] {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }

  // Right align Forgot password link and terms of service agreement
  // ckeditor doesn't let us put classes on html :(
  form p, form + p {
    text-align: right;
    font-weight: 100;
    a {
      color: #FFF;
    }
  }

  form .has-error p {
     text-align: center;
  }

  // Turn error message into box
  .has-error  {
    .form-control {
      border: 1px solid darken($brand-danger, 5%);
    }
    .help-block {
      background-color: $brand-danger;
      border: 1px solid darken($brand-danger, 5%);
      color: #FFF;
      padding: 4px 12px;
      border-radius: 3px;
    }
  }
}

.login-container {
  background-color: $brand-primary;

  @media (min-width: $screen-md-min) {
    margin-right: 15px;
  }

  @media (max-width: $screen-md-min) {
    margin-bottom: 15px;
  }

  p {
    text-align: right;
    font-weight: 100;
    a {
      color: #FFF;
    }
  }

  // FOR-124 - ie does defaults to submit type, and does not allow you to change it.
  button[type="submit"]#login {
    margin-top: 87px;
    background-color: $brand-secondary;
  }
}

.reset-container {
  background-color: $brand-primary;
  min-height: inherit;

  @media (min-width: $screen-md-min) {
    margin-right: 15px;
  }

  @media (max-width: $screen-md-min) {
    margin-bottom: 15px;
  }
  button[type="submit"] {
    background-color: $brand-secondary;
  }
}

.register-container {
  background-color: $brand-secondary;

  @media (min-width: $screen-md-min) {
    margin-left: 15px;
  }

  button[type="submit"] {
    background-color: $brand-primary;
  }
}

/***************************** Footer *****************************/
@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.eot?#iefix&t=1442590693060') format('embedded-opentype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.otf?t=1442590693060') format('opentype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.woff?t=1442590693060') format('woff'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.ttf?t=1442590693060') format('truetype'),url('//cdn2.hubspot.net/hubfs/1549875/Form_Site/fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn?t=1442590693060') format('svg');
    font-weight: normal;
    font-style: normal
}

body {
  display: table;
  width: 100%;
  background-color: darken($brand-primary, 25%);
}

#content {
  display: table-row;
  height: auto;
  background-color: #fff;
}

footer {
  color: #f0f0f0;
  text-align: center;
  background-color: darken($brand-primary, 25%);
  display: table-row;
  border-left: 85px solid darken($brand-primary, 25%);
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  .section-heading {
    color: #eee;
  }
  .footer-content {
    padding: 50px 0;
  }
  .footer-banner {
    position:absolute;
    z-index: 100;
    img {
      margin-top: -2.2em;
      width: 100%;
    }
  }
  .list-group .list-group-item {
    font-size: 1.1em;
    background-color:$brand-secondary;
    border-color: lighten($brand-secondary, 10%);
    i {
      font-size: 1.5em;
      float: left;
    }
  }
  span.copyright {
    line-height: 40px;
    @include heading-font();
    text-transform: none;
  }
  ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    @include heading-font();
    text-transform: none;
  }
}

/***************************** Kendo UI *****************************/
.k-filter-menu input[type=radio] {
  margin-right: 5px;
  margin-left: 10px;
}

.table-child {
  td {
    padding: 1px !important;
  }
}

/***************************** Landing Page *****************************/
.welcome-banner {
  background-color: darken($brand-primary, 25%);
  color: #eee;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 0;
  &.jumbotron h1 {
    font-size: 56px;
    margin-top: 10px;
  }
  .list-inline {
    padding-top: 30px;
  }
  .btn-lg {
    background-color: $brand-secondary;
    border: solid #eee 2px;
    color: #eee;
    &:hover {
      background-color: lighten($brand-secondary, 5%);
    }
  }
}

.existing-projects-section {
  border-right: 1px solid $gray-lighter;
  .project-description {
    max-height: 50px;
  }
}

.projects,
.teams {
  .project-create,
  .team-create {
    display: block;
    text-decoration: none;
    background-color: transparentize($brand-primary, .75);
    border: 4px dashed transparentize($brand-primary, .75);
    color: transparentize($brand-primary, .25);
    text-align: center;
    height: 320px;
    margin-bottom: 30px;
    .create-link {
      display: block;
      padding-top: 125px;
      .glyphicon {
        margin-top: 5px;
        background: transparentize($brand-primary, .25);
        color: #FFF;
        padding: 6px;
        padding-left: 8px;
        font-size: 15px;
        border-radius: 100%;
      }
    }
    transition: .15s;
    &:hover {
      background-color: lighten(transparentize($brand-primary, .75), 10%);
    }
    &:active {
      background-color: lighten(transparentize($brand-primary, .75), 20%);
    }
  }
  .project,
  .team,
  .team-upgrade {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: .15s;
    height: 320px;
    &:hover {
      background-color: lighten($gray-lighter, 5%);
    }
    &:active {
      background-color: lighten($gray-lighter, 10%);
    }
    color: $gray-light;
    margin-bottom: 30px;
    .project-plan-label {
      position:absolute;
      top: 0;
      right: 0;
    }
    .project-tile-button {
      padding-left: 5px;
      padding-right: 5px;
    }
    .project-teams-header {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .project-title {
      margin-top: 0;
    }
    .project-title, .team-name {
      margin-top: 0;
      a {
        font-weight: 600;
        color: $brand-primary;
      }
    }
    .project-plan,
    .team-owner {
      margin-top: 9px;
    }
    .project-url {
      color: $gray-light;
    }
    .progress-label {
      margin-bottom: 0;
    }
    .list-inline {
      text-align: center;
    }
    .progress {
      background-color: white;
      border: 1px solid lighten($brand-primary, 10%);
      padding: 0;
      position: relative;
      color: #666;
      margin-bottom: 10px;
      .progress-bar-success {
        background-color: lighten($brand-secondary, 10%);
      }
      span {
        position: absolute;
        display: block;
        top: -1px;
        width: 100%;
        text-align: center;
      }
    }
    .project-teams {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-left: -19px;
      margin-right: -19px;
      padding: 0 4px;
      background-color: $gray-lighter;
      hr {
        margin: 4px 0 4px 0;
      }
      .project-team-upgrade {
        color: #cccccc;
        font-size: 0.8em;
        text-align: center;
      }
      .project-team-label, .project-add-team {
        color: white;
        margin-right: 4px;
        background-color: darken($brand-secondary, 6%);
        display: inline-block;
        padding: 4px 6px;
        cursor: pointer;
      }
      .project-add-team {
        background-color: $brand-primary;
      }
      .view-all {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.project-help-panel {
  margin-top: 1.6em;
}

.teams {
  .team-create {
    height: 175px;
    background-color: transparentize($brand-secondary, .75);
    border: 4px dashed transparentize($brand-secondary, .75);
    color: transparentize($brand-secondary, .25);
    .create-link {
      padding-top: 55px;
      .glyphicon {
        background: transparentize($brand-secondary, .25);
      }
    }
    &:hover {
      background-color: lighten(transparentize($brand-secondary, .75), 10%);
    }
    &:active {
      background-color: lighten(transparentize($brand-secondary, .75), 20%);
    }
  }
  .team-upgrade {
    height: auto;
  }
  .team {
    height: 175px;
    .team-members {
      // Lighten this up a bit so it's easier to read
      color: saturate(lighten($brand-secondary, 10%), 20%);
    }
  }
}

.row.row-video {
  padding: 15px 0 0;
  $gradient-start: rgba(241,252,251,1);
  $gradient-end: rgba(178,219,229,1);
  .video-banner {
    display: block;
    height: 100px;
    padding: 15px 0;
    position: relative;
    text-align: center;
    background: -moz-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* FF3.6+ */
    background: -webkit-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* Opera 11.10+ */
    background: -ms-radial-gradient(center, circle cover, $gradient-start 0%, $gradient-end 100%); /* IE 10+ */
    background: radial-gradient(circle at center, $gradient-start 0%, $gradient-end 100%);/* W3C */
    img {
      height: 100%;
      width: auto;
    }

    .video-play-icon {
      position: absolute;
      width: 100%;
      top: 30%;
      font-size: 24px;
      color: #FFF;
      .icon-bg {
        background: rgba(0, 0, 0, .75);
        transition: .15s;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: inline-block;
        padding-top: 4px;
        padding-left: 2px;
      }

    }

    &:hover .icon-bg{
      background: $brand-secondary;
    }
  }
  #intro-video-container {
    // A trick to get video to size itself responsively
    // with a constant aspect ratio
    position: relative;
    padding-top: 30px;
    height: 100px;
    overflow: hidden;
    transition: padding-bottom .5s;
    &.video-open {
      height: 0;
      padding-bottom: 42.85%; // ~21:9 aspect ratio
    }

    #intro-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .video-banner, #intro-video-container {
    margin-bottom: 5px;
  }
}

.label-commercial {
  background-color: #CD69C9;
  color: #FFF;
}
.label-trial {
  background-color: $price-panel-trial;
  color: #FFF;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap-table-cell {
  word-break: break-all;
  word-wrap: break-word;
}

.col-code {
  width: 100%;
}

// NOTE: this needs to be applied to all cols in a row
.col-vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/***************************** Create Project *****************************/
.template-card {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 10px 5px;
  cursor: pointer;
  transition: .15s;
  height: 300px;
  .project-tile-icon {
    text-align: center;
    font-size: 7em;
    line-height: 0.1em;
    color: darken($brand-secondary, 10%);
    margin: 0;
    padding: 0;
  }
  .caption {
    overflow: hidden;
    max-height: 160px;
    .template-card-description:after {
      content: '...'
    }
  }
  .caption h4 {
    text-align: center;
  }
  &:hover {
    background: lighten($brand-secondary, 40%);
  }
  &.template-card-selected, &.template-card-selected:hover {
    background: $brand-secondary;
    color: #FFF;
    border: 1px solid darken($brand-secondary, 10%);
    .caption h4 {
      color: #fff;
    }
    .text-muted, .project-tile-icon {
      color: lighten($brand-secondary, 60%);
    }
  }
}

.col-more-templates {
  padding-left: 0;
  padding-right: 0;
}

/***************************** Edit Project *****************************/
.panel-project-info {
  .media-icon-large {
    font-size: 48px;
    width: 64px;
    text-align: center;
  }

  .progress {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

/***************************** Project Data *****************************/
.project-data {
  chartist {
    height: 375px !important;
    display: block;

    svg {
      overflow: visible;
    }
  }
  h3, h4 {
    text-align: center;
  }
  .ct-label {
    font-family: $font-family-base;
    font-size: $font-size-small;

    &.ct-horizontal {
      width: 125px !important;

      -moz-transform: rotate(30deg) translate(0px, 45px);
      -webkit-transform: rotate(30deg) translate(0px, 45px);
      -o-transform: rotate(30deg) translate(0px, 45px);
      -ms-transform: rotate(30deg) translate(0px, 45px);
      transform: rotate(30deg) translate(0px, 45px);
    }
  }

  &.project-summary {
    .ct-label {
      color: $text-color;
      fill: $text-color;
    }

    // Variable analytics graph.
    .ct-chart-line {
      .ct-series-a .ct-line {
        stroke: $brand-secondary
      }
      .ct-series-a .ct-point {
        stroke: $brand-primary;

        &:hover {
          stroke-width: 20px !important;
        }
      }
    }
  }

  .chart-buttons {
    text-align: center;
  }
}

.formio-data {
  h3 {
    vertical-align: middle;
  }
  .control-panel {
    margin-top: 25px;
    select {
      vertical-align: middle;
    }
  }
}

.form-list {
  h4 {
    margin: 0;
    line-height: inherit;
    display: inline;
  }
  .form-list-description {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
  }
  .form-updated {
    margin-top: 5px;
    color: #888;
  }
  .form-type {
    padding: 1px 5px;
    margin-left: 10px;
    position: relative;
    top: -3px;
    border: 1px solid darken($brand-primary, 10%);
    background-color: $brand-primary;
    border-radius: 2px;
    color: white;
  }

  .list-group {
    padding: 0px;

    .list-group-heading {
      font-weight: bold;
      font-size: 1.8em;
      background-color: $table-bg-hover;
    }

    .list-group-item {
      padding: 30px 0;
      border-color: #eeeeee;
      &:nth-child(even) {
        background-color: $table-bg-accent;
      }
      .row {
        margin: 0;
      }

      .form-list-buttons {
        text-align: right;
        @media (max-width: $screen-xs) {
          text-align: left;
        }

        .dropdown-button-menu {
          display: inline-block;
          position: relative;
          ul {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.list-group {
  .list-group-heading {
    background-color: $table-bg-hover;
    h3 {
      margin: 5px 0;
    }
  }
  &.steps {
    .list-group-item {
      margin-bottom: 20px;
    }
  }
  .list-group-item-title {
    margin: 20px 0;
    .count-badge {
      color: #fff;
      font-size: 2.5em;
      padding-top: 12px;
      background-color: $brand-primary;
      border-radius: 50%;
      height: 75px;
      width: 75px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
    h5 {
      display: inline-block;
      font-size: 1.7em;
      margin-left: 20px;
      font-weight: bold;
    }
  }
}

.list-group.list-group-striped {
  .list-group-item {
    border-color: #eeeeee;
    &:nth-child(odd) {
      background-color: $table-bg-accent;
    }
  }
}

.project-info {
  .list-group {
    padding: 0px;
    .list-group-item {
      padding: 10px;
      border-color: #eeeeee;
      border-left: none;
      border-right: none;
      &:nth-child(even) {
        background-color: $table-bg-accent;
      }
      h5 {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.type-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.type-icon-resource {
  color: $brand-primary;
}

.type-icon-form {
  color: $brand-secondary;
}

.list-group.list-group-or .list-group-heading {
  background-color: #fff;
}

/********************* Project Plan Upgrade Dialog *********************/
.ngdialog.ngdialog-theme-default.project-upgrade .ngdialog-content {
  padding: 0;
  border-radius: 0;
  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    width: 95%;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md - 75px;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg - 150px;
  }
}

.ngdialog.ngdialog-theme-default.project-info .ngdialog-content {
  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    width: 95%;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md - 75px;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg - 150px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  :focus {
    outline: none;
  }
}

.project-upgrade-dialog {
  @media (min-width: $screen-sm-min) {
    display: flex;
  }
  .table {
    .fa-check {
      color: #FFF;
    }

    .fa-times {
      color: $brand-danger;
    }
  }
  .selected-plan {
    cursor: pointer;
    padding-left: 5px;
    .price-description {
      color: transparentize($gray-lighter, .25);
    }
  }
  .form-column {
    padding: 1em 3em 1em 2em;

    .payment-info {
      &:not(:first-of-type) {
        margin-top: 0;
      }
      margin-bottom: 5px;
    }
  }
  .plan-column {
    padding: 1em;
    background-color: #FFF;
    color: $gray-lighter;

    &.plan-column-basic {
      background-color: darken($price-panel-basic, 10%);
    }

    &.plan-column-independent {
      background-color: darken($price-panel-independent, 10%);
    }

    &.plan-column-team {
      background-color: darken($price-panel-team, 10%);
    }

    &.plan-column-commercial {
      background-color: darken($price-panel-commercial, 10%);
    }

    &.plan-column-trial {
      background-color: darken($price-panel-trial, 10%);
    }

    .table {
      &.feature-table > tbody > tr > td {
        border-top: 1px solid transparentize(#FFF, .85);
      }
      .table {
        background-color: transparent;
        & > tbody > tr > td {
          border: 1px solid transparentize(#FFF, .5);
        }
      }
    }
  }
  .plan-menu-item {
    h3 {
      margin-top: 10.5px;

    }
  }
}

@media (max-width: $screen-md-max) {
  .container {
    width: 100%;
  }
}

.form-edit {
  .save-buttons {
    margin-top: 10px;
  }
  .form-line {
    margin-top: 3px;
  }
}

/********************* Project Dashboard *********************/
.thumbnail-chart {
  .ct-line {
    stroke: $brand-primary;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke-linejoin: round;
  }
  .ct-area {
    fill: $brand-primary;
  }
}

.thumbnail-chart-link {
  color: $text-color;

  &:hover {
    color: $text-color;
    .well {
      background-color:  darken($well-bg, 5%);
    }
  }

  &:active {
    color: $text-color;
    .well {
      background-color:  darken($well-bg, 10%);
    }
  }
}

.submission-activity {
  .media-icon-large {
    font-size: 48px;
    width: 64px;
    text-align: center;
  }

  .progress {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.swagger-ui {
  .api-name,
  .api-description,
  .api-infos {
     display: none;
  }
  .operations {
    display: block;
  }
  .endpoint-heading a {
    color: black;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.project-icon {
  font-size: 3em;
  &.fa-check-circle-o {
    color: $brand-secondary;
  }
}

.project-setup .list-group-item-heading {
  margin: 10px 0;
}

.project-step {
  .header {
    cursor: pointer;
  }
}

.alert-info {
  background-color: lighten($brand-primary, 18%);
  a {
    color: white;
    font-weight: bold;
  }
}

.caret {
  border-top: 4px dashed;
}

.environment-errors {
  padding: 10px;
  p.help-block {
    color: red;
  }
}

.project-title-header {
  margin-bottom: 6px;
}

.form-inline .ui-select-container {
  postion:absolute;
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.upgrade-warning-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(128,128,128,0.3);
  z-index: 10;
  padding: 50px;
  margin-bottom: -40px;
  min-height: 600px;
  .upgrade-warning {
    padding: 100px;
    background-color: #666666;
    color: white;
    width: 50%;
    margin: auto;
    border-radius: 5px;
  }
}

.trial {
  .count {
    font-size: 3em;
  }
}

.ngdialog {
  .ngdialog-content {
    width: 80% !important;
  }
}

.current {
  text-align: center;
  background-color:$brand-primary;
  color: white;
}

.table > tbody > tr > td {
  border: 1px solid #eee;
}
.overview {
  .overview-content {

  }
}

.overview-action {
  width: 100%;
  height: 120px;
  background-color: #0069a7;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  .overview-action-logo {
    width: 100%;
    text-align: center;
    font-size: 50px;
  }
  .overview-action-title {
    text-align: center;
  }
}

.step-info > a > span.round-tab {
  width: 30px;
  height: 30px;
  font-size: 14px;
  left: 19px;
  top: 19px;
  line-height: 28px;
}
.nav-tabs > .step-info > a:hover {
  border:none;
}
.wizard .nav-tabs > .step-info a {
  background-color: #fff;
}
li.disabled.step-info {
  width: 5%;
}
li.active.step-info {
  width: 5%;
}
li.step-info {
  width: 5% !important;
}
.scale {
  transition: all .2s ease-in-out;
}
.scale:hover {
  transform: scale(1.06);
}
.scaled {
  transform: scale(1.03);
  background-color: #0ea6ff;
}
.docs {
  .list-group-item:hover {
    background-color: #efefef;
    a {
      color: #2c2c2c;
      text-decoration: none;
    }
  }
}

.overview-content-image {
  img {
    background-color: #fff;
  }
}

.flow {
  .flow-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #fff;
    .flow-side {
      width:20%;
      padding: 10px;
      border-right: 1px solid #ddd;
      .flow-side-header {
        flex: 1;
        .flow-side-title {
          margin: 0 -10px;
          padding: 10px;
          border-bottom: 1px solid #ddd;
        }
      }
      .flow-side-content {
        padding: 10px;
        .flow-side-line {
          padding: 0 0 2em 15px;
          .flow-side-steps {
            border-left: 1px solid #dddddd;
            &:last-child {
              margin-top: 10px;
            }
            .flow-side-step {
              margin: 45px 0 30px 0;
              position: relative;
              &:first-child {
                margin-top: 0;
                margin-bottom: 15px;
                .flow-side-logo {
                  left: -25px;
                  top: -15px;
                  width: 50px;
                  height: 50px;
                  .fa {
                    font-size: 32px;
                  }
                }
              }
              .flow-side-logo {
                position: absolute;
                left: -18px;
                top: -6px;
                width: 35px;
                height: 35px;
                text-align: center;
                padding-top: 8px;
                border-radius: 50%;
                border: 1px solid;
                background-color: #0069a7;
                color: #fff;
                .fa {
                  font-size: 18px;
                }
              }
              &.active {
                .flow-side-logo {
                  background-color: #0ea6ff;
                }
                .flow-side-step__title {
                  color: $brand-primary;
                  font-weight: bold;
                }
              }
              .step-item {
                padding-top: 20px;
                font-size: 17px;
              }
              .step-item:last-child {
                margin-bottom: -15px;
              }
              .steps {
                margin-left: 40px;
                .step-info {
                  a {
                    text-decoration: none;
                  }
                  .info-active {
                    color: #58c01a;
                  }
                }
              }
            }
          }

        }
      }
    }
    .flow-content {
      width:80%;
      padding: 0px 20px;
    }
    .flow-content-title {
      color: $brand-primary;
      font-weight: bold;
    }
    .flow-footer {
      margin-top: 30px;
    }
  }
  .gallery {
    list-style: none;
  }
}

.framework-control .ui-select-toggle {
  width: 200px;
}

.cc-form {
  label {
    white-space: nowrap;
  }
  .ui-select-container {
    min-width: inherit;
  }
}

.btn-blink {
  -webkit-animation: buttonblink 6s infinite;  /* Safari 4+ */
  -moz-animation: buttonblink 6s infinite;  /* Fx 5+ */
  -o-animation: buttonblink 6s infinite;  /* Opera 12+ */
  animation: buttonblink 6s infinite;  /* IE 10+, Fx 29+ */
}

.existing-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@keyframes buttonblink {
  0%, 100% {
    color: #fff;
    background-color: #0079c0;
    border-color: #0069a7;
  }
  50% {
    color: #fff;
    background-color: #58c01a;
    border-color: #4eaa17;
  }
}
@-webkit-keyframes buttonblink {
  0%, 100% {
    color: #fff;
    background-color: #0079c0;
    border-color: #0069a7;
  }
  50% {
    color: #fff;
    background-color: #58c01a;
    border-color: #4eaa17;
  }
}
@-moz-keyframes buttonblink {
  0%, 100% {
    color: #fff;
    background-color: #0079c0;
    border-color: #0069a7;
  }
  50% {
    color: #fff;
    background-color: #58c01a;
    border-color: #4eaa17;
  }
}

formio-header {
  display: none;
}
formio-header-wrapper {
  z-index:100000;
}
formio-header-wrapper>formio-header {
  background: #fff;
  z-index: 1;
  box-shadow: rgba(0,0,0,0.5) 0 0.5px 3px 0;
}
formio-header-wrapper>formio-header.fixed {
  position: fixed;
  display: block;
  top: 0px;
  left: 70px;
  width: 100%;
  z-index: 10000;
}
formio-header-wrapper>formio-header.fixed.absolute {
  position: absolute;
}

#navbar {
  position: relative !important;
}
