<ul class="nav nav-pills form-nav" ng-if="!formId">
  <li role="presentation"><span ng-switch="form.type" class="navbar-text form-title">New {{ capitalize(form.type) }}</span></li>
</ul>
<form role="form" novalidate>
  <div id="form-group-title" class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" ng-model="form.title" class="form-control" id="title" placeholder="Enter the form title"/>
  </div>
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input type="text" ng-model="form.name" class="form-control" id="name" placeholder="Enter the form machine name"/>
  </div>
  <input type="hidden" ng-model="form.type"/>
  <div id="form-group-name" class="form-group">
    <label for="path" class="control-label">API Path</label>
    <div class="input-group" style="width: 350px;">
      <span class="input-group-addon">https://{{ currentProject.name }}.form.io/</span>
      <input type="text" class="form-control" id="path" ng-model="form.path" placeholder="user" style="width: 200px;">
    </div>
    <small>The REST API path to this form.</small>
  </div>
  <div ng-include="'views/form/form-settings.html'"></div>
  <form-builder project="projectId" form="form"></form-builder>
  <div class="form-group pull-right">
    <a class="btn btn-default" ng-click="back()">Cancel</a>
    <input type="submit" class="btn btn-primary" ng-click="saveForm()" value="{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}" />
  </div>
</form>
