<form role="form" novalidate>
  <div id="form-group-title" class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" ng-model="form.title" class="form-control" id="title" placeholder="Enter the form title"/>
  </div>
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input type="text" ng-model="form.name" class="form-control" id="name" placeholder="Enter the form machine name"/>
  </div>
  <input type="hidden" ng-model="form.type"/>
  <div id="form-group-name" class="form-group">
    <label for="path" class="control-label">API Path</label>
    <div class="input-group" style="width: 350px;">
      <span class="input-group-addon">https://{{ currentApp.name }}.form.io/app/api/</span>
      <input type="text" class="form-control" id="path" ng-model="form.path" placeholder="user">
    </div>
    <small>The REST API path to this form.</small>
  </div>
  <form-builder app="appId" form="form"></form-builder>
  <div ng-include="'views/form/form-settings.html'"></div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" ng-click="saveForm()" value="Save" />
    <a class="btn btn-danger" ng-if="form._id" ui-sref="app.form.delete()">Delete</a>
    <button type="button" class="btn btn-default" ng-click="back()">Cancel</button>
  </div>
</form>
