<div>
  <table class="table table-striped">
    <tbody>
      <tr data-ng-repeat="form in forms">
        <td>
          <div class="row">
            <div class="col-sm-8">
              <a ui-sref="app.form.view({formId: form._id})"><h5>{{ form.title }}</h5></a>
            </div>
            <div class="col-sm-4">
              <div class="button-group pull-right" style="display:flex;">
                <a ui-sref="app.form.edit({formId: form._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
                <a ui-sref="app.form.delete({formId: form._id})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <bgf-pagination
    collection="forms"
    url="formsUrl"
    per-page="formsPerPage"
    template-url="./views/partials/pager.html"
  ></bgf-pagination>
</div>
