<div class="row">
  <div class="col-sm-12">
    <p>The simplest way to embed a Form.io form inside your app is to use the <strong>formio</strong> directive. There are lots of options for how to do this. Based on what you want to do, use one of the following:</p>
    <ul class="list-group steps">
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">A</span>
          <h5>Hosted Form Embed</h5>
        </div>
        <p>Include the <strong>&lt;formio&gt;</strong> component within a component</p>
        <strong>main.component.ts</strong>
      <pre><code>import { Component } from '@angular/core';

@Component({
&nbsp;&nbsp;template: '&lt;formio src="{{ variables.projectUrl }}/demographics" (submit)="onSubmit($event.value)" /&gt;'
})
export class MainComponent {
&nbsp;&nbsp;onSubmit(submission) {
&nbsp;&nbsp;&nbsp;&nbsp;alert(submission);
&nbsp;&nbsp;}
}</code></pre>
      </li>
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">B</span>
          <h5>JSON Form Embed</h5>
        </div>
        <p>This is similar to the hosted form embed but we are going to pass the JSON form object directly to the formio directive. </p>
      <pre><code>import { Component } from '@angular/core';

@Component({
&nbsp;&nbsp;template: '&lt;formio form="{
&nbsp;&nbsp;&nbsp;&nbsp;components: [
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type: 'textfield',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;label: 'First Name',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key: 'firstName',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;input: true
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type: 'textfield',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;label: 'Last Name',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;key: 'lastName',
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;input: true
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;]
&nbsp;&nbsp;}" (submit)="onSubmit($event.value)" /&gt;'
})
export class MainComponent {
&nbsp;&nbsp;onSubmit(submission) {
&nbsp;&nbsp;&nbsp;&nbsp;alert(submission);
&nbsp;&nbsp;}
}</code></pre>
      </li>
    </ul>
  </div>
</div>
