<div class="well">
  <ul class="nav nav-pills nav-stacked project-settings-menu">
    <li role="presentation" ng-class="{active:($state.includes('project.settings'))}">
      <a ui-sref="project.settings">Project Settings</a>
    </li>
    <li role="presentation" ng-class="{active:($state.includes('project.billing'))}">
      <a ui-sref="project.billing">Plan and Pricing</a>
    </li>
    <li role="presentation" ng-class="{active:($state.is('project.teams'))}">
      <a ui-sref="project.teams">Teams</a>
    </li>
  </ul>
</div>
