<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron well clearfix">
      <h2 style="color:#666;">Welcome to <img height="34px;" src="images/formio-logo.png" />!</h2>
      <p>Form.IO is a platform that enables developers to rapidly build modern web and mobile applications. Our intuitive drag & drop interface allows you to create both the forms and the RESTful API's all in one easy step! <strong style="color:#666;">You build the app, we handle the Form I/O.</strong></p>
      <div class="row">
        <div class="col-sm-12">
          <div ng-click="startTutorial()" class="play-pres-overlay">
            <div class="play-pres-overlay-play"><span class="glyphicon glyphicon-play-circle"></span>Start the tutorial</div>
            <img width="100%" src="images/formio-get-started.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><a ui-sref="projectIndex()"><i class="fa fa-th-large"></i> My Projects</a></h3>
        </div>
        <div class="panel-body">
          <i id="projects-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <div class="well" ng-show="!projectsLoading">
            Projects are web-based HTML software. Whether you are building a new website, or a mobile application, you can
            create separate Projects used for each of these products.
          </div>
          <table ng-show="!projectsLoading && projects.length" class="table table-striped">
            <tbody>
            <tr ng-repeat="project in projects">
              <td>
                <div class="row">
                  <div class="col-sm-5">
                    <h4><a ui-sref="project.view({projectId: project._id})">{{ project.title }}</a></h4>
                  </div>
                  <div class="col-sm-7">
                    <div class="button-group pull-right" style="display:flex;">
                      <a ui-sref="project.edit({projectId: project._id})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
                      <a ui-sref="project.settings({projectId: project._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Settings</a>&nbsp;
                      <a ui-sref="project.delete({projectId: project._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {{ project.description }}
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer text-right">
          <a ui-sref="createProject()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Project</a>
        </div>
      </div>
    </div>
  </div>
</div>
