<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron well clearfix">
      <h2 style="color:#666;">You build the app<br>We handle the Form I/O</h2>
      <div class="row">
        <div class="col-md-12 col-margin-bottom">
          <div ng-click="startTutorial()" class="play-pres-overlay">
            <img width="100%" src="images/formio-get-started.png" />
            <div class="play-pres-overlay-play"><span class="glyphicon glyphicon-play-circle"></span>Start the tutorial</div>
          </div>
        </div>
        <div class="col-md-12">
          <ul>
            <li>Rapidly build modern web and mobile applications</li>
            <li>Intuitive drag & drop interface</li>
            <li>Create both forms and RESTful API's all in one easy step</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><a ui-sref="appIndex()"><i class="fa fa-th-large"></i> My Applications</a></h3>
        </div>
        <div class="panel-body">
          <i id="apps-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <div class="alert alert-info" ng-show="!appsLoading">
            Applications are web-based HTML software. Whether you are building a new website, or a mobile application, you can
            create separate Applications used for each of these products.
          </div>
          <table ng-show="!appsLoading && apps.length" class="table table-striped">
            <tbody>
            <tr ng-repeat="app in apps">
              <td>
                <div class="row">
                  <div class="col-sm-5">
                    <h4><a ui-sref="app.view({appId: app._id})">{{ app.title }}</a></h4>
                  </div>
                  <div class="col-sm-7">
                    <div class="button-group pull-right" style="display:flex;">
                      <a ui-sref="app.edit({appId: app._id})" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
                      <a ui-sref="app.settings({appId: app._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span> Settings</a>&nbsp;
                      <a ui-sref="app.delete({appId: app._id})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"></span> Delete</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {{ app.description }}
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer text-right">
          <a ui-sref="createApp()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Application</a>
        </div>
      </div>
    </div>
  </div>
</div>
