<ul class="list-group steps">
  <li class="list-group-item">
    <div class="list-group-item-title">
      <span class="count-badge">1</span>
      <h5>Enable anonymous access to the form</h5>
    </div>
    <p>For security reasons, by default forms do not allow anonymous users (those not logged in to your application) to submit forms. In order to embed a form on your website you will need to give anonymous users access.</p>
    <p>Go to the <strong>form</strong> and select the <span class="btn btn-default nav-pills-button"><i class="fa fa-lock"></i> <span>Access</span></span>
     tab.</p>
    <p>Under <strong>Create Own Submissions</strong> add the <strong>Anonymous</strong> role. Thats it!</p>
  </li>
</ul>
