<div class="well">
  <h4>Microsoft SQL Server Connection Settings</h4>
  <p>This allows you to connect to an external Microsoft SQL database to perform SQL Actions.</p>
</div>
<div class="form-group">
  <label for="mssqlHost">Host</label>
  <input ng-model="currentProject.settings.databases.mssql.host" type="text" class="form-control" id="mssqlHost" name="mssqlHost" placeholder="Enter the SQL Server Host">
</div>
<div class="form-group">
  <label for="mssqlPort">Port</label>
  <input ng-model="currentProject.settings.databases.mssql.port" type="text" class="form-control" id="mssqlPort" name="mssqlPort" placeholder="Enter the SQL Server Port (1433)">
</div>
<div class="form-group">
  <label for="mssqlDatabase">Database Name</label>
  <input ng-model="currentProject.settings.databases.mssql.database" type="text" class="form-control" id="mssqlDatabase" name="mssqlDatabase" placeholder="Enter the database name">
</div>
<div class="form-group">
  <label for="mssqlUser">Username</label>
  <input ng-model="currentProject.settings.databases.mssql.user" type="text" class="form-control" id="mssqlUser" name="mssqlUser" placeholder="Enter the database username">
</div>
<div class="form-group">
  <label for="mssqlPassword">Password</label>
  <input ng-model="currentProject.settings.databases.mssql.password" type="password" class="form-control" id="mssqlPassword" name="mssqlPassword" placeholder="Enter the database password">
</div>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="currentProject.settings.databases.mssql.azure"> Azure Database
    </label>
  </div>
</div>
