<div class="well">
  <h4>MySQL Connection Settings</h4>
  <p>This allows you to connect to an external MySQL database to perform SQL Actions.</p>
</div>
<div class="form-group">
  <label for="mysqlHost">Host</label>
  <input ng-model="currentProject.settings.databases.mysql.host" type="text" class="form-control" id="mysqlHost" name="mysqlHost" placeholder="Enter the MySQL Server Host">
</div>
<div class="form-group">
  <label for="mysqlPort">Port</label>
  <input ng-model="currentProject.settings.databases.mysql.port" type="text" class="form-control" id="mysqlPort" name="mysqlPort" placeholder="Enter the MySQL Server Port (3306)">
</div>
<div class="form-group">
  <label for="mysqlDatabase">Database Name</label>
  <input ng-model="currentProject.settings.databases.mysql.database" type="text" class="form-control" id="mysqlDatabase" name="mysqlDatabase" placeholder="Enter the database name">
</div>
<div class="form-group">
  <label for="mysqlUser">Username</label>
  <input ng-model="currentProject.settings.databases.mysql.user" type="text" class="form-control" id="mysqlUser" name="mysqlUser" placeholder="Enter the database username">
</div>
<div class="form-group">
  <label for="mysqlPassword">Password</label>
  <input ng-model="currentProject.settings.databases.mysql.password" type="password" class="form-control" id="mysqlPassword" name="mysqlPassword" placeholder="Enter the database password">
</div>
