<div uib-alert class="alert alert-warning" type="warning">API Keys provide <strong>Ownership</strong> access to this project. Please be careful when allocating and distributing them. <strong>Never user an API Key within a front-end application!</strong></div>
<div class="row">
  <div class="col col-sm-6">
    <h3>API Keys</h3>
    <hr></hr>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>API Key</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="key in currentProject.settings.keys">
        <td>
          <input type="text" class="form-control" ng-model="key.name" ng-change="updateProject()" ng-model-options='{ debounce: 300 }'>
        </td>
        <td>{{ key.key }}</td>
        <td><button ng-click="removeKey($index)"><i class="fa fa-trash"></i></button></td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="addKey()">Add New Key</button>
  </div>
  <div class="col col-sm-6">
    <h3>How to use API Keys</h3>
    <p>API Keys allow you to provide <strong>Ownership</strong> access to other systems external to Form.io.</p>
    <p>This is done by providing the following keys either within the <code>x-token</code> header, or the <code>token</code> query parameter.</p>
    <p><strong>Examples:</strong></p>
    <ul>
      <li>GET - <code>{{ apiProtocol }}//myproject.{{ apiServer }}/myform?token=23234lkj234lklkj234lkj2lkj34</code></li>
      <li>GET - <code>{{ apiProtocol }}//myproject.{{ apiServer }}/myform</code>
        <ul>
          <li>Header: <code>x-token</code></li>
          <li>Value: <code>23234lkj234lklkj234lkj2lkj34</code></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
