<div class="panel panel-default">
  <div class="panel-heading">Framework Helper</div>
  <div class="panel-body">
    <div>These settings allow the control of the frameworks helpers inside the project, Documentation, projects templates, videos..</div>
    <label class="control-label"><strong>Change Framework Helper</strong></label>
    <div class="new-project-section">
      <ul class="list-inline project-center" style="justify-content: space-between">
        <li class="project-template-item" ng-class="{'current':$root.framework == 'angular'}">
          <div  ng-if="$root.framework == 'angular'" class="project-template-info">
            <h5 class="ellipsis">Current</h5>
          </div>
          <div class="project-template-card"
               ng-click="chooseFramework('angular')">
            <img class="project-template-img" src="images/angularjs.png" />
            <div class="project-template-info">
              <h5 class="ellipsis">Angular 1.x Project</h5>
            </div>
          </div>
        </li>
        <li class="project-template-item" ng-class="{'current':$root.framework == 'angular2'}">
          <div  ng-if="$root.framework == 'angular2'" class="project-template-info">
            <h5 class="ellipsis">Current</h5>
          </div>
          <div class="project-template-card" ng-click="chooseFramework('angular2')">
            <img class="project-template-img" src="images/angular.svg" />
            <div class="project-template-info">
              <h5 class="ellipsis">Angular 2.x Project</h5>
            </div>
          </div>
        </li>
        <li class="project-template-item" ng-class="{'current':$root.framework == 'react'}">
          <div  ng-if="$root.framework == 'react'" class="project-template-info">
            <h5 class="ellipsis">Current</h5>
          </div>
          <div class="project-template-card" ng-click="chooseFramework('react')">
            <img class="project-template-img" src="images/react-js.png" />
            <div class="project-template-info">
              <h5 class="ellipsis">React Project</h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
