<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add aurelia-formio plugin to your application</h3>
  </div>
  <div class="panel-body">
    <p><pre>
export function configure(aurelia: Aurelia) {
  aurelia.use
    .standardConfiguration()
    .plugin(PLATFORM.moduleName('aurelia-formio'));
      </pre></p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add formio component to a template</h3>
  </div>
  <div class="panel-body">
    <p>Place the following where you would like to show this form.</p>
    <pre>
&lt;template&gt;
  &lt;formio src="https://examples.form.io/example" submission.bind="submission"&gt;&lt;/formio&gt;
&lt;/template&gt;
        </pre>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add properties to the corresponding class</h3>
  </div>
  <div class="panel-body">
    <pre>
export class MyClass {
  private submission: any = {
    data: {
        firstName: 'Joe',
        lastName: 'Smith'
    }
  };
}
        </pre>
  </div>
</div>
