<label ng-if="labelVisible() && (component.labelPosition !== 'bottom')" for="{{ componentId }}" ng-class="{'field-required': isRequired(component)}" ng-style="getLabelStyles(component)"
       id="{{componentId+'Label'}}">
  {{ component.label | formioTranslate:null:options.building }}
  <formio-component-tooltip></formio-component-tooltip>
</label>
<span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
<ui-select auto-focus="true" ng-model="data[component.key]" ng-model-options="{allowInvalid: true}" safe-multiple-to-single ng-disabled="readOnly" ng-required="isRequired(component)" id="{{ componentId }}" name="{{ componentId }}" tabindex="{{ component.tabindex || 0 }}"  aria-labelledby="{{ componentId +'Label'}}"
           aria-describedby="{{componentId + 'Desc'}}" theme="bootstrap" ng-style="getInputGroupStyles(component)">
  <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:options.building }}">{{$item.formatted_address || $select.selected.formatted_address}}</ui-select-match>
  <ui-select-choices class="ui-select-choices" repeat="address in addresses" refresh="refreshAddress($select.search)" refresh-delay="500">
    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>
<label ng-if="labelVisible() && (component.labelPosition === 'bottom')" for="{{ componentId }}" ng-class="{'field-required': isRequired(component)}" class="control-label--bottom" id="{{componentId+'Desc'}}">
  {{ component.label | formioTranslate:null:options.building }}
  <formio-component-tooltip></formio-component-tooltip>
</label>
<formio-errors ng-if="::!options.building"></formio-errors>
