<div class="checkbox">
  <label for="{{ componentId }}" ng-class="{'field-required': isRequired(component)}" id="{{ componentId+'Label' }}" ng-style="getOptionLabelStyles(component)">
    <span ng-if="labelVisible() && topOrLeftOptionLabel(component)">
      {{ component.label | formioTranslate:null:options.building }}
      <formio-component-tooltip></formio-component-tooltip>
    </span>
    <input
      ng-if="component.name"
      type="{{ component.inputType }}"
      id="{{ componentId }}"
      name="{{ component.name }}"
      value="{{ component.value }}"
      tabindex="{{ component.tabindex || 0 }}"
      aria-labelledby="{{ componentId +'Label'}}"
      aria-describedby="{{componentId + 'Desc'}}"
      ng-disabled="readOnly"
      auto-focus="true"
      ng-model="data[component.name]"
      ng-model-options="{allowInvalid: true}"
      ng-required="component.validate.required"
      ng-style="getOptionInputStyles(component)"
      formio-custom-attributes="{{component.attributes}}"
    >
    <input
      ng-if="!component.name"
      type="{{ component.inputType }}"
      id="{{ componentId }}"
      name="{{ componentId }}"
      tabindex="{{ component.tabindex || 0 }}"
      ng-disabled="readOnly"
      auto-focus="true"
      ng-model="data[component.key]"
      ng-model-options="{allowInvalid: true}"
      aria-labelledby="{{ componentId +'Label'}}"
      aria-describedby="{{componentId + 'Desc'}}"
      ng-required="isRequired(component)"
      custom-validator="component.validate.custom"
      ng-style="getOptionInputStyles(component)"
      formio-custom-attributes="{{component.attributes}}"
    >
    <span ng-if="labelVisible() && !topOrLeftOptionLabel(component)">
      {{ component.label | formioTranslate:null:options.building | shortcut:component.shortcut }}
      <formio-component-tooltip></formio-component-tooltip>
    </span>
  </label>
</div>
<div ng-if="!!component.description" class="help-block">
  <span id="{{ componentId+'Desc' }}">{{ component.description }}</span>
</div>
