<div class="checkbox">
  <label for="{{ component.key }}{{ gridRow !== undefined ? '-' + gridRow : '' }}{{ gridCol !== undefined ? '-' + gridCol : '' }}" ng-class="{'field-required': component.validate.required}">
    <input type="{{ component.inputType }}"
    id="{{ component.key }}{{ gridRow !== undefined ? '-' + gridRow : '' }}{{ gridCol !== undefined ? '-' + gridCol : '' }}"
    name="{{ component.key }}{{ gridRow !== undefined ? '-' + gridRow : ''}}"
    tabindex="{{ component.tabindex || 0 }}"
    ng-disabled="readOnly"
    ng-model="data[component.key]"
    ng-required="component.validate.required">
    {{ component.label | formioTranslate }}
  </label>
</div>
