<div class="row">
  <div class="col-sm-{{column.width}} col-sm-offset-{{column.offset}} col-sm-push-{{column.push}} col-sm-pull-{{column.pull}}" ng-repeat="column in component.columns track by $index">
    <formio-component
      ng-repeat="_component in column.components track by $index"
      component="_component"
      data="data"
      formio="formio"
      submission="submission"
      hide-components="hideComponents"
      ng-if="options.building ? '::true' : isVisible(_component, data)"
      form-name="formName"
      read-only="isDisabled(_component, data)"
      grid-row="gridRow"
      grid-col="gridCol"
      options="options"
    ></formio-component>
  </div>
</div>
