<input
  type="text"
  inputmode="numeric"
  class="form-control"
  id="{{ componentId }}"
  name="{{ componentId }}"
  tabindex="{{ component.tabindex || 0 }}"
  ng-model="data[component.key]"
  ng-required="isRequired(component)"
  ng-disabled="readOnly"
  safe-multiple-to-single
  aria-labelledby="{{ componentId +'Label'}}"
  aria-describedby="{{componentId + 'Desc'}}"
  ng-attr-placeholder="{{ component.placeholder }}"
  custom-validator="component.validate.custom"
  formio-mask="currency"
>
