<div class="formio-data-grid" ng-controller="formioDataGrid" >
  <table ng-class="{'table-striped': component.striped, 'table-bordered': component.bordered, 'table-hover': component.hover, 'table-condensed': component.condensed}" class="table datagrid-table">
    <tr>
      <th ng-repeat="component in component.components">{{ component.label}}</th>
      <th></th>
    </tr>
    <tr class="formio-data-grid-row" ng-repeat="rowData in data[component.key] track by $index">
      <td ng-repeat="component in component.components" ng-init="component.hideLabel = true" >
        <formio-component component="component" data="rowData" formio="formio" read-only="readOnly"></formio-component>
      </td>
      <td>
        <a ng-click="removeRow($index)" class="btn btn-default">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </a>
      </td>
    </tr>
  </table>
  <div class="datagrid-add">
    <a ng-click="addRow()" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ component.addAnother || "Add Another" }}
    </a>
  </div>
</div>
