<fieldset id="{{ component.key }}">
  <legend ng-if="component.legend">{{ component.legend | formioTranslate }}</legend>
  <formio-component
    ng-repeat="_component in component.components track by $index"
    component="_component"
    data="data"
    formio="formio"
    submission="submission"
    hide-components="hideComponents"
    ng-if="isVisible(_component, data)"
    read-only="readOnly"
    formio-form="formioForm"
    grid-row="gridRow"
    grid-col="gridCol"
  ></formio-component>
</fieldset>
