<label ng-if="component.label && !component.hideLabel" for="{{ componentId }}" class="control-label" ng-class="{'field-required': isRequired(component)}">{{ component.label | formioTranslate:null:builder }}</label>
<span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
<div ng-controller="formioFileUpload">
  <formio-file-list files="data[component.key]" form="formio.formUrl" ng-if="!component.image"></formio-file-list>
  <formio-image-list files="data[component.key]" form="formio.formUrl" width="component.imageSize" ng-if="component.image"></formio-image-list>
  <div ng-if="!readOnly && (component.multiple || (!component.multiple && !data[component.key].length))">
    <div ngf-drop="upload($files)" class="fileSelector" ngf-drag-over-class="'fileDragOver'" ngf-multiple="component.multiple" id="{{ componentId }}" name="{{ componentId }}"><span class="glyphicon glyphicon-cloud-upload"></span>Drop files to attach, or <a style="cursor: pointer;" ngf-select="upload($files)" tabindex="{{ component.tabindex || 0 }}" ngf-multiple="component.multiple">browse</a>.</div>
    <div ng-if="!component.storage" class="alert alert-warning">No storage has been set for this field. File uploads are disabled until storage is set up.</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  </div>
  <div ng-repeat="fileUpload in fileUploads track by $index" ng-class="{'has-error': fileUpload.status === 'error'}" class="file">
    <div class="row">
      <div class="fileName control-label col-sm-10">{{ fileUpload.name }} <span ng-click="removeUpload(fileUpload.name)" class="glyphicon glyphicon-remove"></span></div>
      <div class="fileSize control-label col-sm-2 text-right">{{ fileSize(fileUpload.size) }}</div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span ng-if="fileUpload.status === 'progress'">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{fileUpload.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{fileUpload.progress}}%">
              <span class="sr-only">{{fileUpload.progress}}% Complete</span>
            </div>
          </div>
        </span>
        <div ng-if="!fileUpload.status !== 'progress'" class="bg-{{ fileUpload.status }} control-label">{{ fileUpload.message }}</div>
      </div>
    </div>
  </div>
</div>
