<input
  type="{{ component.inputType }}"
  class="form-control"
  id="{{ componentId }}"
  name="{{ componentId }}"
  tabindex="{{ component.tabindex || 0 }}"
  ng-model="data[component.key]"
  ng-required="isRequired(component)"
  ng-disabled="readOnly"
  safe-multiple-to-single
  min="{{ component.validate.min }}"
  max="{{ component.validate.max }}"
  step="{{ component.validate.step }}"
  placeholder="{{ component.placeholder | formioTranslate:null:builder }}"
  custom-validator="component.validate.custom"
  ui-mask="{{ component.inputMask }}"
  ui-mask-placeholder=""
  ui-options="uiMaskOptions"
>
