<ng-form name="{{ componentId }}" ng-model="data[component.key]" custom-validator="component.validate.custom">
  <div ng-class="component.inline ? 'radio-inline' : 'radio'" ng-repeat="v in component.values track by $index">
    <label class="control-label" for="{{ componentId }}-{{ v.value }}" ng-style="getOptionLabelStyles(component)">
      <span ng-if="topOrLeftOptionLabel(component)">{{ v.label | formioTranslate:null:options.building }}</span>
      <input
        type="{{ component.inputType }}"
        id="{{ componentId }}-{{ v.value }}"
        value="{{ v.value }}"
        tabindex="{{ component.tabindex || 0 }}"
        ng-model="data[component.key]"
        ng-required="isRequired(component)"
        custom-validator="component.validate.custom"
        ng-disabled="readOnly"
        ng-style="getOptionInputStyles(component)"
      >
      <span ng-if="!topOrLeftOptionLabel(component)">{{ v.label | formioTranslate:null:options.building | shortcut:v.shortcut }}</span>
    </label>
  </div>
</ng-form>
