<div ng-class="component.inline ? 'radio-inline' : 'radio'" ng-repeat="v in component.values track by $index">
  <label class="control-label" for="{{ componentId }}-{{ v.value }}">
    <input type="{{ component.inputType }}"
    id="{{ componentId }}-{{ v.value }}"
    value="{{ v.value }}"
    tabindex="{{ component.tabindex || 0 }}"
    ng-model="data[component.key]"
    ng-required="component.validate.required"
    ng-disabled="readOnly"
    custom-validator="component.validate.custom">
    {{ v.label | formioTranslate }}
  </label>
</div>
