<div ng-if="!component.addResource">
  <label ng-if="labelVisible() && (component.labelPosition !== 'bottom')" for="{{ componentId }}" class="control-label" ng-class="{'field-required': isRequired(component)}" ng-style="getLabelStyles(component)"
         id="{{ componentId+'Label'}}">
    {{ component.label | formioTranslate:null:options.building }}
    <formio-component-tooltip></formio-component-tooltip>
  </label>
  <span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
  <ui-select ui-select-required safe-multiple-to-single ng-model="data[component.key]" ng-model-options="{allowInvalid: true}" ng-disabled="readOnly" ng-required="isRequired(component)" id="{{ componentId }}" name="{{ componentId }}"  aria-labelledby="{{ componentId +'Label'}}"
             aria-describedby="{{componentId + 'Desc'}}" theme="bootstrap" tabindex="{{ component.tabindex || 0 }}" ng-style="getInputGroupStyles(component)"
             formio-custom-attributes="{{component.attributes}}">
    <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:options.building }}">
      <formio-select-item template="component.template" item="$item || $select.selected" select="$select"></formio-select-item>
    </ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="item in selectItems | filter: $select.search" refresh="refreshSubmissions($select.search)" refresh-delay="250">
      <formio-select-item template="component.template" item="item" select="$select"></formio-select-item>
      <button ng-if="hasNextPage && ($index == $select.items.length-1)" class="btn btn-success btn-block" ng-click="loadMoreItems($select, $event)" ng-disabled="resourceLoading">Load more...</button>
    </ui-select-choices>
  </ui-select>
  <label ng-if="labelVisible() && (component.labelPosition === 'bottom')" for="{{ componentId }}" class="control-label control-label--bottom" ng-class="{'field-required': isRequired(component)}"
         id="{{ componentId+'Label' }}">
    {{ component.label | formioTranslate:null:options.building }}
    <formio-component-tooltip></formio-component-tooltip>
  </label>
  <formio-errors ng-if="::!options.building"></formio-errors>
</div>
<div ng-if="component.addResource">
  <table class="table table-bordered">
    <label ng-if="labelVisible()" for="{{ componentId }}" class="control-label" ng-class="{'field-required': isRequired(component)}">
      {{ component.label | formioTranslate:null:options.building }}
      <formio-component-tooltip></formio-component-tooltip>
    </label>
    <span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
    <tr>
      <td>
        <ui-select ui-select-required safe-multiple-to-single ng-model="data[component.key]" ng-model-options="{allowInvalid: true}" ng-disabled="readOnly" ng-required="isRequired(component)" id="{{ componentId }}" name="{{ componentId }}" theme="bootstrap" tabindex="{{ component.tabindex || 0 }}"
                   formio-custom-attributes="{{component.attributes}}">
          <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:options.building }}">
            <formio-select-item template="component.template" item="$item || $select.selected" select="$select"></formio-select-item>
          </ui-select-match>
          <ui-select-choices class="ui-select-choices" repeat="item in selectItems | filter: $select.search" refresh="refreshSubmissions($select.search)" refresh-delay="250">
            <formio-select-item template="component.template" item="item" select="$select"></formio-select-item>
            <button ng-if="hasNextPage && ($index == $select.items.length-1)" class="btn btn-success btn-block" ng-click="loadMoreItems($select, $event)" ng-disabled="resourceLoading">Load more...</button>
          </ui-select-choices>
        </ui-select>
        <formio-errors ng-if="::!options.building"></formio-errors>
      </td>
    </tr>
    <tr>
      <td>
        <a ng-click="newResource()" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ component.addResourceLabel || "Add Resource" | formioTranslate:null:options.building}}
        </a>
      </td>
    </tr>
  </table>
</div>
