<label ng-if="labelVisible() && (component.labelPosition !== 'bottom')" for="{{ componentId }}" id="{{ componentId+'Label' }}" class="control-label" ng-class="{'field-required': isRequired(component)}"
       ng-style="getLabelStyles(component)">
  {{ component.label | formioTranslate:null:options.building }}
  <formio-component-tooltip></formio-component-tooltip>
</label>
<span ng-if="!component.label && isRequired(component)" class="glyphicon glyphicon-asterisk form-control-feedback field-required-inline" aria-hidden="true"></span>
<ui-select
  ui-select-required
  ng-model="data[component.key]"
  ng-model-options="{allowInvalid: true}"
  safe-multiple-to-single
  auto-focus="true"
  aria-labelledby="{{ componentId +'Label'}}"
  aria-describedby="{{componentId + 'Desc'}}"
  name="{{ componentId }}"
  ng-disabled="readOnly"
  ng-required="isRequired(component)"
  id="{{ componentId }}"
  theme="bootstrap"
  custom-validator="component.validate.custom"
  tabindex="{{ component.tabindex || 0 }}"
  ng-style="getInputGroupStyles(component)"
>
  <ui-select-match class="ui-select-match" placeholder="{{ component.placeholder | formioTranslate:null:options.building }}" allow-clear="!component.validate.required">
    <formio-select-item template="component.template" item="$item || $select.selected" select="$select"></formio-select-item>
    <span ng-if="!component.multiple && !component.validate.required" class="close ui-select-match-close" ng-hide="$select.disabled" ng-click="clearSelected($event)" style="position:absolute;top:3px;right:1.2em;width:auto;">×</span>
  </ui-select-match>
  <ui-select-choices class="ui-select-choices" repeat="getSelectItem(item) as item in selectItems | filter: $select.search" refresh="refreshItems($select.search)" refresh-delay="250">
    <formio-select-item template="component.template" item="item" select="$select"></formio-select-item>
    <button ng-if="hasNextPage && ($index == $select.items.length-1)" class="btn btn-success btn-block" ng-click="loadMoreItems($select, $event)" ng-disabled="selectLoading">Load more...</button>
  </ui-select-choices>
</ui-select>
<input
  type="text"
  formio-custom-attributes="{{component.attributes}}"
  class="formio-select-autocomplete-input"
  ng-model="autocompleteValue"
  ng-change="autocompleteValueChanged()"
  tabindex="-1"
>
<label ng-if="labelVisible() && (component.labelPosition === 'bottom')" for="{{ componentId }}" class="control-label control-label--bottom" ng-class="{'field-required': isRequired(component)}">
  {{ component.label | formioTranslate:null:options.building }}
  <formio-component-tooltip></formio-component-tooltip>
</label>
<div ng-if="!!component.description" class="help-block">
  <span id="{{ componentId+'Desc' }}">{{ component.description | formioTranslate:null:options.building }}</span>
</div>
<formio-errors ng-if="::!options.building"></formio-errors>
