<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <td></td>
      <th ng-repeat="v in component.values track by $index" style="text-align: center;">{{ v.label | formioTranslate:null:options.building}}</th>
    </tr>
  </thead>
  <tr ng-repeat="question in component.questions"
    ng-init="inputName = componentId + '-' + question.value"
    ng-class="{
      'text-danger': !formioForm[inputName].$pristine && formioForm[inputName].$invalid
    }">
    <td>{{ question.label | formioTranslate:null:options.building}}</td>
    <td ng-repeat="v in component.values track by $index" style="text-align: center;">
      <input
        type="radio"
        id="{{ componentId }}-{{ question.value }}-{{ v.value }}" name="{{ componentId }}-{{ question.value }}"
        tabindex="{{ component.tabindex || 0 }}"
        ng-value="v.value"
        auto-focus="{{ $parent.$first && $first }}"
        ng-model="data[component.key][question.value]"
        ng-model-options="{allowInvalid: true}"
        ng-required="isRequired(component)"
        ng-disabled="readOnly"
        custom-validator="component.validate.custom"
      >
    </td>
  </tr>
</table>
