<input type="{{ component.inputType }}"
class="form-control"
id="{{ component.key }}"
name="{{ component.key }}"
tabindex="{{ component.tabindex || 0 }}"
ng-disabled="readOnly"
ng-model="data[component.key]"
ng-model-options="{ debounce: 500 }"
safe-multiple-to-single
ng-required="component.validate.required"
ng-minlength="component.validate.minLength"
ng-maxlength="component.validate.maxLength"
ng-pattern="component.validate.pattern"
custom-validator="component.validate.custom"
placeholder="{{ component.placeholder }}"
ui-mask="{{ component.inputMask }}"
ui-mask-placeholder="" ' + // avoids regular placeholder mixing with mask placeholder
ui-options="uiMaskOptions"
>
