<input
  type="{{ component.inputType }}"
  class="form-control"
  id="{{ componentId }}"
  name="{{ componentId }}"
  tabindex="{{ component.tabindex || 0 }}"
  ng-disabled="readOnly"
  ng-model="data[component.key]"
  ng-model-options="{ debounce: 500 }"
  safe-multiple-to-single
  ng-required="isRequired(component)"
  ng-minlength="component.validate.minLength"
  ng-maxlength="component.validate.maxLength"
  ng-pattern="component.validate.pattern"
  custom-validator="component.validate.custom"
  placeholder="{{ component.placeholder | formioTranslate:null:builder }}"
  ui-mask="{{ component.inputMask }}"
  ui-mask-placeholder=""
  ui-options="uiMaskOptions"
>
