<input
  type="{{ component.mask ? 'password' : component.inputType }}"
  class="form-control"
  id="{{ componentId }}"
  name="{{ componentId }}"
  tabindex="{{ component.tabindex || 0 }}"
  ng-disabled="readOnly"
  ng-model="data[component.key]"
  ng-model-options="{ allowInvalid: true, debounce: 500 }"
  safe-multiple-to-single
  auto-focus="true"
  aria-labelledby="{{ componentId +'Label'}}"
  aria-describedby="{{componentId + 'Desc'}}"
  ng-required="isRequired(component)"
  spellcheck="{{ component.spellcheck }}"
  ng-minlength="component.validate.minLength"
  ng-maxlength="component.validate.maxLength"
  ng-pattern="component.validate.pattern"
  custom-validator="component.validate.custom"
  ng-attr-placeholder="{{ component.placeholder | formioTranslate:null:options.building }}"
  formio-mask
  formio-custom-attributes="{{component.attributes}}"
>
