<textarea
  class="form-control"
  ng-model="data[component.key]"
  ng-model-options="{allowInvalid: true}"
  ng-disabled="readOnly"
  ng-required="isRequired(component)"
  spellcheck="{{ component.spellcheck }}"
  ckeditor="component.wysiwyg"
  formio-ckeditor="component.wysiwyg"
  safe-multiple-to-single
  id="{{ componentId }}"
  name="{{ componentId }}"
  aria-labelledby="{{ componentId +'Label'}}"
  aria-describedby="{{componentId + 'Desc'}}"
  tabindex="{{ component.tabindex || 0 }}"
  ng-attr-placeholder="{{ component.placeholder }}"
  custom-validator="component.validate.custom"
  rows="{{ component.rows }}"
  formio-custom-attributes="{{component.attributes}}"
></textarea>
