<div class="row">
  <div class="col-sm-8">
    <form-list forms="forms" formio-ready="formioReady" project-url="projectUrl" list-mode="'launch'"></form-list>
  </div>
  <div ng-class="{'col-sm-12':(forms.length === 0), 'col-sm-4': (forms.length > 0)}" class="col-sm-4">
    <h4>Form Launching</h4>
    <p>Launching a form will make the form accessible outside of the main form.io website. You can customize the form and add a theme to it. This will create a shareable link.</p>
    <p>Select which form you would like to launch and click the <strong>Launch</strong> button</p>
  </div>
</div>
