<div class="project-section-content project-section-inner-content">
  <div class="col-sm-12">
    <div class=""><strong>To launch your project you can either launch an individual form or the full application. Select which you would like to do.</strong><br /><br /></div>
    <div>
      <div class="col-md-2">
        <h1 >Launch a</h1>
      </div>
      <div class="col-md-10">
        <ul  style="display: inline-block;" class="nav nav-pills">
          <li class="well" role="presentation" ng-class="{active:($state.includes('project.launch.form'))}"><a ui-sref="project.launch.form">Single Form</a></li>
          <li class="well" role="presentation" ng-class="{active:($state.includes('project.launch.app'))}"><a ui-sref="project.launch.app">Web App</a></li>
          <li class="well" role="presentation" ng-class="{active:($state.includes('project.launch.cordova'))}"><a ui-sref="project.launch.cordova">Cordova App</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12" style="padding: 0 20px 40px 0;">
    <ng-form>
      <i id="project-loader" ng-if="!currentProject" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
      <div ng-if="currentProject" ui-view></div>
    </ng-form>
  </div>
</div>
