<div class="project-section-content">
  <div ng-if="!hasTemplate" class="alert alert-info text-center" role="alert"><strong>This project doesn't have a pre-defined template, but you can use our Example template to help you get started.</strong></div>
  <div class="project-section-inner-content">
    <div class="row">
      <div class="col-md-12">
        <h3>Set Up Local Development</h3>
        <div class="alert alert-info">
          In order to do local development you will need to have node.js and npm installed. See <a href="https://nodejs.org/" target="_blank">nodejs installation instructions</a>.
        </div>
        <h4>Step 1 - Get the source code</h4>
        <p>To begin development of this application you will need to set up a local development environment. Start by either downloading or cloning the github repo.</p>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Download the repo
              </div>
              <div class="panel-body">
                <p>Downloading the repo does not require git but also does not track and manage changes you make unless you set it up manually with a new git repo.</p>
                <p>Go to <a href="{{ repo }}" target="_blank">{{ repo }}</a></p>
                <p>Click the <strong>Download Zip</strong> button.</p>
                <p>Unzip the file, open your terminal and change directory to the app directory.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Clone the repo
              </div>
              <div class="panel-body">
                <p>In order to clone the github repo you must have git installed on your computer. If you don't already have it, you can get it at <a href="https://git-scm.com/" target="_blank">https://git-scm.com/</a>.</p>
                <p>Once you have git, go to your terminal and type</p>
                <p><pre>git clone {{ repo }}.git
cd {{ appFolder }}</pre></p>
              </div>
            </div>
          </div>
        </div>
        <h4>Step 2 - Install dependencies</h4>
        <p>This step requires that that nodejs, npm and bower are installed. Bower can be installed after nodejs and npm by typing this in the terminal</p>
        <p><pre>npm install -g bower</pre></p>
        <p>Install both node and bower dependencies by typing this in your terminal from the application base directory.</p>
            <pre>npm install
bower install</pre>
        <h4>Step 3 - Configure for your project</h4>
        <p>In order for the app to use your form.io project, you need to configure the app to know where it is.</p>
        <p>Change the first line of <strong>/src/config.js</strong> to say the following.</p>
        <p><pre>var APP_URL = '{{ projectUrl }}';</pre></p>
        <h4>Step 4 - Running the app</h4>
        <p>You can run a development version of the application from the command line. This will start up a server and a browser window and refresh the page any time you change the source code.</p>
        <p><pre>gulp serve</pre></p>
        <div ng-if="!hasTemplate">
          <p>Then add any form using the following syntax.</p>
          <p><small><pre>&lt;formio src="'{{ projectPath({name: 'myproject'}) }}/yourform'"&gt;&lt;/formio&gt;</pre></small></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Embed Forms</h3>
        <p>Forms are embedded within your application by using the &lt;formio&gt; directive and referencing the form URL endpoint.</p>
        <p>Using these embed codes you can perform full CRUD and index on your form submissions.</p>
        <p>More information on embedding can be found at <a href="https://help.form.io/developer/info/angular/" target="_blank">Angular Embedding Help</a></p>
        <h4>Basic embedding</h4>
        <p>This would embed one of your forms and allow the data to be submitted back to the API server.</p>
        <p><pre>&lt;formio src="{{ projectUrl }}/{{ forms[0].path }}"&gt;&lt;/formio&gt;</pre></p>
        <h4>List of Submissions</h4>
        <p>It is often useful to list the submissions already sent to a form backend. This can be done simply using the &lt;formio-submissions&gt; directive.</p>
        <p><pre>&lt;formio-submissions src="{{ projectUrl }}{{ forms[0].path }}"&gt;&lt;/formio-submissions&gt;</pre></p>
        <h4>Form Update</h4>
        <p>You can also reference an existing submission in the form url and the data from that submission will be loaded along with the form. When the form is submitted, an update will happen instead of a create.</p>
        <p><pre>&lt;formio src="{{ projectUrl }}/{{ forms[0].path }}submission/{submissionId}"&gt;&lt;/formio&gt;</pre></p>
        <h4>Form Submission Delete</h4>
        <p>Finally, you can allow users to delete a submission with the &lt;formio-delete&gt; directive. If the user has permission, they can delete the submission.</p>
        <p><pre>&lt;formio-delete src="{{ projectUrl }}/{{ forms[0].path }}submission/{submissionId}"&gt;&lt;/formio-delete&gt;</pre></p>

        <h4>Available forms in your project</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="form in forms">
            {{ form.title }} - {{ projectUrl }}{{ form.path }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

