<div class="row">
  <div class="col-sm-12">
    <p>The simplest way to embed a Form.io form inside your app is to use the <strong>formio</strong> directive. There are lots of options for how to do this. Based on what you want to do, use one of the following:</p>
    <ul class="list-group steps">
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">A</span>
          <h5>Uncontrolled Embed</h5>
        </div>
        <p>The easiest way to do an embed is to directly embed via the form URL.</p>
        <p>To embed a form within your react application, import the Formio library and add it to the render tree.</p>
    <pre><code>import React from 'react';
      import ReactDOM from 'react-dom';
      import { Formio } from 'react-formio';

      ReactDOM.render(
      &nbsp;&nbsp;&lt;Formio src="{{ variables.projectUrl }}/demographics" onSubmitDone={function(submission)} { // do something }" /&gt;, document.getElementById('example')
      );</code></pre>      </li>
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">B</span>
          <h5>Controlled Embed</h5>
        </div>
        <p>A controlled embed is where the loading and saving are controlled outside of the actual element. Typically this is done with flux or redux.</p>
    <pre><code>import React from 'react';
      import ReactDOM from 'react-dom';
      import { Formio } from 'react-formio';

      // These are typically loaded from flux or redux in a controlled component.
      var form = {};
      var submission = {
      &nbsp;&nbsp;data: {}
      };

      ReactDOM.render(
      &nbsp;&nbsp;&lt;Formio form={form} submission={submission} onChange={function() {}} onSubmit={function() {}} /&gt;, document.getElementById('example')
      );</code></pre>      </li>
      </li>
      <!--<li class="list-group-item">-->
        <!--<div class="list-group-item-title">-->
          <!--<span class="count-badge">C</span>-->
          <!--<h5>As Resource Form with Helper Provider</h5>-->
        <!--</div>-->
        <!--<p>If you have installed the ngFormioHelper library, you can use it to automatically set up pages and controllers for you using just the form URL.</p>-->
        <!--<p>You can do this by registering your resource form in the app.config stage like this</p>-->
        <!--<p><pre>-->
<!--app.config(function(config, FormioResourceProvider) {-->
  <!--FormioResourceProvider.register('demographic', AppConfig.forms.demographicsForm);-->
<!--});</pre></p>-->
        <!--<p>This will automatically create several ui-router states, templates and controllers that make it easy to use the form within your application. After loading your app, try going to <strong>/demographic</strong> and see what all is there. </p>-->
        <!--<p>For more information on the FormioResource Provider, see <a href="https://github.com/formio/ngFormioHelper/wiki/FormioResource-Provider" target="_blank">https://github.com/formio/ngFormioHelper/wiki/FormioResource-Provider</a> </p>-->
      <!--</li>-->
    </ul>
  </div>
</div>
