<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Install react-formio</h3>
  </div>
  <div class="panel-body">
    <p>Install the <strong>react-formio</strong> module.</p>
    <pre><code>npm install --save react-formio</code></pre>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Render the directive</h3>
  </div>
  <div class="panel-body">
    <p>To embed a form within your react application, import the Formio library and add it to the render tree.</p>
    <pre><code>import React from 'react';
      import ReactDOM from 'react-dom';
      import { Form } from 'react-formio';

      ReactDOM.render(
      &nbsp;&nbsp;&lt;Form src="{{ projectUrl }}/{{ form.path }}" /&gt;, document.getElementById('example')
      );</code></pre>
  </div>
</div>
