<div class="row">
  <div class="col-md-12">
    <div ng-if="highestRole === 'team_read'" class="alert alert-warning">
      Your highest role is Team Read, so you may view the form access, but not change it.
    </div>
  </div>
</div>
<div class="panel panel-primary" ng-if="form.type === 'resource'">
  <div class="panel-heading">
    <h3 class="panel-title">Self Access Permissions
      <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#selfaccesspermissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign"></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="well">
      Self Access Permissions allow Submissions of this Resource to access themselves, as the owner. You can define granular access control with the Own Submission permissions below.
    </div>
    <div ng-if="form._id" class="checkbox">
      <label>
        <input type="checkbox" ng-model="selfAccessPermissions" ng-change="toggleSelfAccessPermissions()">
        Enable
      </label>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Submission Permissions
      <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#permissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign"></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="well">
      User Permissions allow you to control who can create, view, and modify form submissions. Here you may assign Project Roles to permissions. <strong>Roles</strong> can be created and edited in <a ui-sref="project.access({projectId: currentProject._id})">Project Settings</a>.
    </div>
    <div ng-if="form._id">
      <permission-editor permissions="form.submissionAccess" labels="submissionAccessLabels" roles="currentProjectRoles" wait-for="loadFormPromise"></permission-editor>
    </div>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Submission Resource Access
      <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#submissionpermissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign"></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="well">
      User Resource Permissions allow you to give a specific resource access to a single submission. The resource type is chosen here, and the resource itself is selected on the Submission.
    </div>
    <div ng-if="form._id">
      <resource-permission-editor labels="resourceAccessLabels" resources="currentFormResources" wait-for="loadFormPromise" form="form"></resource-permission-editor>
    </div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Form Definition Access
      <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#permissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign"></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="well">
      These permissions allow you to give a specific access to a single form.
    </div>
    <div ng-if="form._id">
      <permission-editor permissions="form.access" labels="accessLabels" permission-filter="'read_all,read_form,update_all,delete_all,read_own,update_own,delete_own'" roles="currentProjectRoles" wait-for="loadFormPromise" form="form"></permission-editor>
    </div>
  </div>
</div>




<div class="form-group pull-right">
  <a class="btn btn-default" ng-click="back('project.{{ formInfo.type }}.form.view')">Cancel</a>
  <input ng-hide="highestRole === 'team_read'" type="submit" class="btn btn-primary" ng-click="saveForm()" value="Save Changes" />
</div>
