<div class="row">
  <div class="col-md-12">
    <div ng-if="highestRole === 'team_read'" class="alert alert-warning">
      Your highest role is Team Read, so you may view the form access, but not change it.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Submission Data Permissions
          <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#permissions" target="_blank">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="form._id">
          <permission-editor permissions="form.submissionAccess" labels="submissionAccessLabels" roles="currentProjectRoles" wait-for="loadFormPromise"></permission-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Submission Data Permissions</h3>
      </div>
      <div class="panel-body">
        <p>Submission Data Permissions allow you to control who can create, view, and modify form submission data. </p>
        <ul>
          <li><strong>Own Permissions</strong> - These permissions apply if the user is the original creator of the submission data and is listed as the owner of the submission in <strong>submission.owner</strong>. This allows users to create and edit their own submission data without seeing other user's data.</li>
          <li><strong>All Permissions</strong> - These permissions apply to all submission data regardless of who owns it.</li>
        </ul>
        <p>Here you may assign Project Roles to permissions. <strong>Roles</strong> can be created and edited in <a ui-sref="project.access({projectId: currentProject._id})">Project Access</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Form Definition Access
      <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#permissions" target="_blank">
        <i class="glyphicon glyphicon-question-sign"></i>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div ng-if="form._id">
      <permission-editor permissions="form.access" labels="accessLabels" permission-filter="'read_all,read_form,update_all,delete_all,read_own,update_own,delete_own'" roles="currentProjectRoles" wait-for="loadFormPromise" form="form"></permission-editor>
    </div>
  </div>
</div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Form Definition Access</h3>
      </div>
      <div class="panel-body">
        <p>These permissions allow you to give access to a single form's JSON definition so they can render the form.</p>
        <p>Typically you will want to allow all of your roles to be able to Read the form definition.</p>
        <p>Each form also has an owner at <strong>form.owner</strong> which is the user who created the form. In some applications users are allowed to create their own forms. In those cases it is helpful to have Owner based permissions as well.</p>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="form.type === 'resource'">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Self Access Permissions
          <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#selfaccesspermissions" target="_blank">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <p><strong>Self Access</strong> allows Submissions of this Resource to access themselves, as the owner of the submission. This works by assigning the _id of every submission within this resource to the "owner" property of that submission.</p>
          <div ng-if="form._id" class="checkbox">
            <label>
              <input type="checkbox" ng-model="selfAccessPermissions" ng-change="toggleSelfAccessPermissions()">
              Enable <strong>Self Access</strong>
            </label>
          </div>
        </div>
        <div class="well">
          <p><strong>Group Self Access</strong> works by first assuming this resource is a "group" in which an authenticated user is assigned. This provides a way for members of that group to have certain access to the group submission itself.</p>
          <div class="form-group">
            <label class="control-label">
              <select ng-model="groupSelfAccess" ng-change="setGroupSelfAccess(this)">
                <option value="">None</option>
                <option value="admin">Admin - Group members can view, edit, and delete.</option>
                <option value="write">Write - Group members can view and edit.</option>
                <option value="read">Read - Group members can only view.</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Self Access</h3>
      </div>
      <div class="panel-body">
        <p>By default the only user who can access a submission is the owner of the submission in <strong>submission.owner</strong>.</p>
        <p>However, sometimes an administrator or manager will create an account for users in which case the user cannot modify their own object. Self Access Permissions allow a user who does not own their own object to be able to still edit it as if they are the owner. This allows them to do things like change their password and update their account information regardless of who created their account.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Field Based Resource Access
          <a class="pull-right" href="https://help.form.io/userguide/roles-and-permissions/#submissionpermissions" target="_blank">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="form._id">
          <resource-permission-editor labels="resourceAccessLabels" resources="currentFormResources" wait-for="loadFormPromise" form="form"></resource-permission-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Field Based Resource Access</h3>
      </div>
      <div class="panel-body">
        <p>Field Based Resource Access is useful if you want to assign a permission to specific submission data based on assignment in a field.</p>
        <p>For example, if you have multiple contractors and want to assign a job to a contractor by selecting them in a field on the job form.</p>
        <p>To use Field Based Resource Access, Add a Resource or Select Resource field to a form and then assign the field with the permission for the selected Resource.</p>
        <p>In the example above the Job form would have Contractor field of type Resource on it that points to the Contractor Resource. Then the Contractor Field would be selected in the appropriated Field Based Resource Access permission depending on the level of access required to that Job Submission Data. When creating a Job and assigning it to a specific contractor, that contractor would then get the appropriate permission for just that job.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Fields Values Match Based Access
          <a class="pull-right" href="#" target="_blank">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="form._id">
          <field-match-permission-editor
            labels="resourceAccessLabels"
            wait-for="loadFormPromise"
            form="form" roles="currentProjectRoles">
          </field-match-permission-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Fields Values Match Access</h3>
      </div>
      <div class="panel-body">
        <p>Fields Values Match Access is useful if you want to assign a permission to specific submission data based not only on the user's role, but also on the match of specified form's and user's fields' values.</p>
        <p>For example, if you have 'staff' role and each staff user also has a 'sector' field which can be 'public' or 'privat' and each submission have a 'privacy' field which can be 'public' or 'privat' too. And you want to give an access to all the 'privat' submissions only to staff with 'privat' sector.</p>
        <p>To use Fields Values Match Access, specify a form's field's path and also a user's field's path that it should match.</p>
      </div>
    </div>
  </div>
</div>