<div class="project-section-content project-section-inner-content project-data">
  <div class="row">
    <div class="col-md-6">
      <h2>Form Submissions</h2>
      <form-list forms="forms" form-name="'Form'" list-mode="'data'" formio-ready="formioReady" project-url="projectUrl" form-type="'form'" protected="currentProject.protect"></form-list>
    </div>
    <div class="col-md-6">
      <h2>Resource Form Submissions</h2>
      <form-list forms="resources" form-name="'Resource'" list-mode="'data'" formio-ready="formioReady" project-url="projectUrl" form-type="'resource'" protected="currentProject.protect"></form-list>
    </div>
  </div>
</div>
