<uib-accordion close-others="true">
  <uib-accordion-group heading="Microsoft Office 365">
    <ng-include src="'views/project/data/office365.html'" is-open="true"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Microsoft SQL Server">
    <ng-include src="'views/project/data/mssql.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Google Drive">
    <ng-include src="'views/project/data/google.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Kickbox">
    <ng-include src="'views/project/data/kickbox.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="Hubspot">
    <ng-include src="'views/project/data/hubspot.html'"></ng-include>
  </uib-accordion-group>
  <uib-accordion-group heading="MySQL">
    <ng-include src="'views/project/data/mysql.html'"></ng-include>
  </uib-accordion-group>
</uib-accordion>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
