<div class="well">
  <h4>Facebook OAuth Settings</h4>
  <p>This allows you to use Facebook user accounts to authenticate. To set up Facebook OAuth, go to your <a href="https://developers.facebook.com/">Facebook developer page</a> and register a new application under My Apps.</p>
  <p>Once you've registered an application, save your client ID and secret below. Then click on Settings on the sidebar and click <strong>+ Add Platform</strong>. Select <strong>Website</strong>. The <strong>Site URL</strong> MUST be set to the domain name of your application (ex: <code>http://mydomain.com</code>).</p>
</div>
<div class="form-group">
  <label for="facebookClientId">Client ID</label>
  <input ng-model="currentProject.settings.oauth.facebook.clientId" type="text" class="form-control" id="facebookClientId" name="facebookClientId" placeholder="Enter Facebook Application Client ID">
</div>
<div class="form-group">
  <label for="facebookClientSecret">Client Secret</label>
  <input ng-model="currentProject.settings.oauth.facebook.clientSecret" type="text" class="form-control" id="facebookClientSecret" name="facebookClientSecret" placeholder="Enter Facebook Application Client Secret">
</div>
