<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:isActive(nav, resourceInfo.name, 'view')}"><a ui-sref="view{{ resourceInfo.title }}({id: resource._id})">View</a></li>
  <li role="presentation" ng-class="{active:isActive(nav, resourceInfo.name, 'edit')}"><a ui-sref="edit{{ resourceInfo.title }}({id: resource._id})">Edit</a></li>
  <li role="presentation" ng-class="{active:isActive(nav, resourceInfo.name, 'submission')}"><a ui-sref="list{{ resourceInfo.title }}Submissions({id: resource._id})">Submissions</a></li>
  <li role="presentation" ng-class="{active:isActive(nav, resourceInfo.name, 'api')}"><a ui-sref="api{{ resourceInfo.title }}({id: resource._id})">API</a></li>
</ul>
