<div id="form-group-title" class="form-group">
  <label for="title" class="control-label">Title</label>
  <input type="text" ng-model="resource.title" class="form-control" id="title" placeholder="Enter the {{ resourceName }} title"/>
</div>
<div id="form-group-name" class="form-group">
  <label for="name" class="control-label">Internal Name</label>
  <input type="text" ng-model="resource.name" class="form-control" id="name" placeholder="Enter the {{ resourceName }} internal name"/>
</div>
<form-builder app="appId" form="resource"></form-builder>
<div ng-include="'views/resource/resource-settings.html'"></div>
<div class="form-group">
  <input type="submit" class="btn btn-primary" ng-click="saveResource()" value="Save" />
  <a class="btn btn-danger" ng-if="resource._id" ui-sref="app.{{ resourceInfo.name }}.delete()">Delete</a>
  <button type="button" class="btn btn-default" ng-click="back()">Cancel</button>
</div>
