<ul class="nav nav-tabs submission-nav">
    <li role="presentation" ng-class="{active:isActive('project.form.submission.item.view')}"><a ui-sref="project.form.submission.item.view()">View</a></li>
    <li role="presentation" ng-class="{active:isActive('project.form.submission.item.edit')}"><a ui-sref="project.form.submission.item.edit()">Edit</a></li>
    <li role="presentation" ng-class="{active:isActive('project.form.submission.item.delete')}"><a ui-sref="project.form.submission.item.delete()">Delete</a></li>
</ul>
<div ui-view></div>
