<div class="row">
  <div class="col-sm-2 well">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-class="{active:($state.includes('project.settings.email'))}"><a ui-sref="project.settings.email">Email Settings</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.roles'))}"><a ui-sref="project.settings.roles.view">Roles</a></li>
      <li role="presentation" ng-class="{active:($state.includes('project.settings.access'))}"><a ui-sref="project.settings.access">Access</a></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <ng-form>
      <i id="project-loader" ng-if="!currentProject" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
      <div ng-if="currentProject" ui-view></div>
    </ng-form>
  </div>
</div>
