<div class="alert alert-danger" ng-show="!teamsLoading">
  <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Removing a Team from a Project will remove all the associated roles. Users who access a Project through the Team will loose their access.
</div>
<form class="form-horizontal" role="form" ng-show="!teamsLoading">
  <h2>Are you sure you wish to remove the <strong>{{ removeTeam.data.name }}</strong> team?</h2>
  <div class="btn-toolbar">
    <button ng-click="saveTeam()" class="btn btn-danger">Yes</button>
    <button ng-click="back('project.settings.teams.view')" class="btn btn-default">No</button>
  </div>
</form>
