<div class="project-section-inner-content">
  <i ng-if="projectTeamsLoading" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
  <div ng-if="!projectTeamsLoading && minPlan('team')">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="btn-group pull-right">
          <a ui-sref="createTeam()" class="btn btn-default">Create a New Team</a>
        </div>
        <h3 class="panel-titles">Teams</h3>
      </div>
      <div class="panel-bodys">
      </div>
      <ul class="list-group">
        <li ng-if="!projectTeamsLoading && primaryProjectTeams.length" class="list-group-item" ng-repeat="team in primaryProjectTeams">
          <div class="row">
            <div class="col-sm-5 ellipsis">
              <h4><a ui-sref="team.view({teamId: team._id})">{{ team.data.name }}</a></h4>
              <p>{{ team.data.members.length }} Members</p>
            </div>
            <div class="col-sm-5">
              <select class="form-controls" ng-model="team.permission" ng-options="permission.value as permission.label for permission in teamPermissions" ng-change="updateTeam(team, team.permission)" ng-required="true" placeholder="Select a team" />
            </div>
            <div class="col-sm-2">
              <div class="button-group pull-right" style="display:flex;">
                <a ng-click="removeTeam(team)" class=""><span class="fa fa-times" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="!projectTeamsLoading && !primaryProjectTeams.length" class="list-group-item">
          <div>
            No Teams Added
          </div>
        </li>
      </ul>
      <div class="panel-footer">
        <div class="form-inline">
          <div class="form-group">
            <label for="addTeam">Add a team:</label>
            <ui-select name="addTeam" class="" ng-model="added.team" theme="bootstrap" ng-change="addTeam(added.team)">
              <ui-select-match>{{$select.selected.data.name}}</ui-select-match>
              <ui-select-choices repeat="teamOption in uniqueEligibleTeams" value="teamOption">
                <h4>{{ teamOption.data.name }}</h4>
                <div>{{ teamOption.data.members.length }} Members</div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!projectTeamsLoading && !minPlan('team')">
    <div class="upgrade-warning text-center">
      <p>Upgrade your project to Team Pro or above to enable teams.</p>
      <a class="btn btn-primary project-section-header-button" ng-show="projectSettingsVisible() && !onPrem" ng-click="showUpgradeDialog(primaryProject)"><i class="fa fa-arrow-circle-up"></i> Upgrade Project</a>
    </div>
  </div>
</div>
