<div class="project-section-inner-content">
  <div class="row">
    <div class="col-sm-3">
      <ng-include src="'views/project/settings/menu.html'" />
    </div>
    <div class="col-sm-9" style="padding: 0 20px 40px 0;">
      <i ng-if="projectTeamsLoading" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
      <div ng-if="!projectTeamsLoading">
        <upgrade-warning ng-if="!minPlan('team')" warning="Upgrade your project to Team Pro or above to enable teams."></upgrade-warning>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="btn-group pull-right">
                  <a ui-sref="createTeam()" class="btn btn-default">Create a New Team</a>
                </div>
                <h3 class="panel-titles">Teams</h3>
              </div>
              <div class="panel-bodys">
              </div>
              <ul class="list-group">
                <li ng-if="!projectTeamsLoading && primaryProjectTeams.length" class="list-group-item" ng-repeat="team in primaryProjectTeams">
                  <div class="row">
                    <div class="col-sm-5 ellipsis">
                      <h4><a ui-sref="team.view({teamId: team._id})">{{ team.data.name }}</a></h4>
                      <p>{{ team.data.members.length + team.data.admins.length }} Members</p>
                    </div>
                    <div class="col-sm-5">
                      <select class="form-controls" ng-model="team.permission" ng-options="permission.value as permission.label for permission in teamPermissions" ng-change="updateTeam(team, team.permission)" ng-required="true" placeholder="Select a team" />
                    </div>
                    <div class="col-sm-2">
                      <div class="button-group pull-right" style="display:flex;">
                        <a ng-click="removeTeam(team)" class=""><span class="fa fa-times" aria-hidden="true"></span></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li ng-if="!projectTeamsLoading && !primaryProjectTeams.length" class="list-group-item">
                  <div>
                    No Teams Added
                  </div>
                </li>
              </ul>
              <div class="panel-footer">
                <div class="row">
                  <div class="col col-sm-3">
                    <div class="input-group">
                      <span class="input-group-addon">Add a team:</span>
                      <ui-select name="addTeam" class="" ng-model="added.team" theme="bootstrap" ng-change="addTeam(added.team)">
                        <ui-select-match>{{$select.selected.data.name}}</ui-select-match>
                        <ui-select-choices repeat="teamOption in uniqueEligibleTeams | filter:$select.search" value="teamOption">
                          <h4>{{ teamOption.data.name }}</h4>
                          <div>{{ teamOption.data.members.length + teamOption.data.admins.length }} Members</div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Managing Project Teams</h3>
              </div>
              <div class="panel-body">
                <p>Teams allow sharing this project with other developers on form.io. To start sharing, first create a team and add members to it. Then assign the team to a project and give it a permission. Depending on the project permission members of the teams will have different access to the project.</p>
                <ul>
                  <li><strong>Project Read</strong> - Team members on a project with Project Read can read the form, resources and submissions in a project but cannot modify anything.</li>
                  <li><strong>Project Write</strong> - Team members on a project with Project Write can read and write the form, resources and submissions in a project but cannot modify project and environment settings.</li>
                  <li><strong>Project Admin</strong> - Team members on a project with Project Admin can do anything within a project that the original owner of the project can do.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!projectTeamsLoading && !minPlan('team')">
      </div>
    </div>
  </div>
</div>
