<i id="roles-loader" ng-if="rolesLoading" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
<div ng-if="!rolesLoading">
  <div class="well">
    <h4>Project Access Settings</h4>
    <p>These permissions control which users have access to form definitions themselves. To set who has access to form submissions, please use the Access tab on a form or resource.</p>
    <h5>Create All</h5>
    <p>The Create All permission allows users with the specified roles to create new forms in either the portal or your application.</p>
    <h5>Read All</h5>
    <p>The Read All permission allows users with the specified roles to read all forms. Please note that any user may view a specific form definition but this permission is required to access the form index at /form.</p>
    <h5>Update All</h5>
    <p>The Update All permission allows users with the specified roles to modify all existing forms in either the portal or your application.</p>
    <h5>Delete All</h5>
    <p>The Delete All permission allows users with the specified roles to delete all existing forms in either the portal or your application.</p>
    <h4>Warning</h4>
    <p>Please be very careful with these settings. Giving users access to modify or delete forms gives them almost administrative control of your app. Only assign them to trusted users.</p>
  </div>
  <legend>Project Level Access Permissions</legend>
  <permission-editor permissions="currentProject.access" labels="permissionLabels" roles="currentProjectRoles" wait-for="loadProjectPromise" permission-filter="'_all'"></permission-editor>
  <button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
</div>
