<div>
  <ul class="list-group list-group-striped">
    <li class="list-group-item  list-group-heading">
      <div class="row">
        <div class="col col-sm-3">
          <strong>Permission</strong>
        </div>
        <div class="col col-sm-3">
          <strong>Resources</strong>
        </div>
        <div class="col col-sm-3">
          <strong>Form Field Path</strong>
        </div>
        <div class="col col-sm-3">
          <strong>User Field Path</strong>
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-repeat="permission in getPermissionsToShow()">
      <div class="row">
        <div class="col col-sm-3">
          <h4>{{getPermissionLabel(permission)}}</h4>
        </div>
        <div class="col col-sm-3">
          <ui-select multiple ng-model="permission.resources" theme="bootstrap" reset-search-input="true" on-remove="removeSelected($item, '')" on-select="addSelected($item, permission.type)" name="{{permission.type}}_role" id="{{permission.type}}_role">
            <ui-select-match class="ui-select-match" placeholder="Select Resources...">{{$item.label}} ({{$item.key}})</ui-select-match>
            <ui-select-choices class="ui-select-choices" ui-disable-choice="uniqueResources.indexOf(resource.key) === -1" repeat="resource.key as resource in resources | filter: $select.search">
              <div>{{ resource.label }} ({{resource.key}})</div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class=" col col-sm-3">
          <input class="form-control" type="text" ng-model="permission.formFieldPath"/>
        </div>
        <div class=" col col-sm-3">
          <input class="form-control" type="text" ng-model="permission.userFieldPath"/>
        </div>
        <div class=" col col-sm-3">
          <button ng-click="addFieldPath(permission)">Save</button>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <div class="col col-xs-12">
          <div class="text-muted">
            {{getPermissionTooltip(permission)}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
