<div class="well">
  <h4>G-Mail Settings</h4>
  <p>You may also use your Google Mail account to send email through Form.IO. Please provide your credentials below.</p>
</div>
<div class="form-group">
  <label for="gmailUser">Email</label>
  <input ng-model="currentApp.settings.email.gmail.auth.user" type="text" class="form-control" id="gmailUser" name="gmailUser" placeholder="Google Email Address">
</div>
<div class="form-group">
  <label for="gmailPassword">Password</label>
  <input ng-model="currentApp.settings.email.gmail.auth.pass" type="password" class="form-control" id="gmailPassword" name="gmailPassword" placeholder="Google Email Password">
</div>
