<div>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Permission</th>
      <th>Resources</th>
    </tr>
    <tr ng-repeat="permission in getPermissionsToShow()">
      <td class="col-xs-3">
        <label for="{{permission.type}}_role" form-builder-tooltip="{{getPermissionTooltip(permission)}}">{{getPermissionLabel(permission)}}</label>
      </td>
      <td class="col-xs-9">
        <ui-select multiple ng-model="permission.resources" theme="bootstrap" reset-search-input="true" on-remove="removeSelected($item, '')" on-select="addSelected($item, permission.type)" name="{{permission.type}}_role" id="{{permission.type}}_role">
          <ui-select-match placeholder="Select Resources...">{{$item.label}} ({{$item.key}})</ui-select-match>
          <ui-select-choices ui-disable-choice="uniqueResources.indexOf(resource.key) === -1" repeat="resource.key as resource in resources | filter: $select.search">
            <div>{{ resource.label }} ({{resource.key}})</div>
          </ui-select-choices>
        </ui-select>
      </td>
    </tr>
    </tbody>
  </table>
</div>
