<div class="well">
  <h4>Google Drive</h4>
  <p>Enter the following information for your Google Drive account.</p>
</div>

<div class="form-group">
  <label for="clientId">Client ID</label>
  <input ng-model="currentProject.settings.google.clientId" type="text" class="form-control" id="clientId" placeholder="Example: 803122633874-8kfitrkdbfst643ijsptlsqtsmkp9aoi.apps.googleusercontent.com">
</div>

<div class="form-group">
  <label for="cskey" class="control-label">Client Secret Key</label>
  <input type="text" class="form-control" ng-model="currentProject.settings.google.cskey" id="cskey" placeholder="Example: mWtObITDDsDF7fFGHpzmsLdW" />
</div>

<div class="form-group">
  <label for="refreshtoken">Refresh Token</label>
  <input ng-model="currentProject.settings.google.refreshtoken" type="text" class="form-control" id="refreshtoken" placeholder="Example : 1/5eOO2bDcdh5JkFny3ByL-6vcA4_uqQF3QNIWadBUVodIgOrJDtdun6zK6XiATCKT">
</div>
