<div class="well">
  <h4>Moxtra</h4>
  <p>Enter the following information for your Moxtra account.</p>
</div>

<div class="form-group">
  <label for="environment" class="control-label">Moxtra Environment</label>
  <select class="form-control" ng-model="currentProject.settings.moxtra.environment" id="environment" name="environment" ng-required="true">
    <option value="" ng-disabled="true" selected="true">Select the Environment Type</option>
    <option value="https://api.moxtra.com/oauth/token">Production</option>
    <option value="https://apisandbox.moxtra.com/oauth/token">Sandbox</option>
  </select>
</div>
<div class="form-group">
  <label for="clientId">Moxtra Client Id</label>
  <input ng-model="currentProject.settings.moxtra.clientId" type="text" class="form-control" id="clientId" name="clientId" placeholder="Enter your Moxtra Client Id">
</div>
<div class="form-group">
  <label for="clientSecret">Moxtra Client Secret</label>
  <input ng-model="currentProject.settings.moxtra.clientSecret" type="text" class="form-control" id="clientSecret" name="clientSecret" placeholder="Enter your Moxtra Client Secret">
</div>
<div class="form-group">
  <label for="orgId">Moxtra Organization Id (Optional)</label>
  <input ng-model="currentProject.settings.moxtra.orgId" type="text" class="form-control" id="orgId" name="orgId" placeholder="Enter your Moxtra Organization Id">
</div>
