<div class="formio-data row" style="overflow: visible;" ng-init="init()">
  <div class="col-md-10 col-md-offset-1">
    <!-- Controls -->
    <div class="row">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Controls
        </div>
        <div class="panel-body">
          <h3>Current Dashboard View: <select style="vertical-align:middle;" ng-model="view" ng-options="type for type in views"></select></h3>
          <h3>
            Current Date View:
            <select ng-model="viewDate.month" ng-options="month for month in months" ng-change="updateUsage()"></select> /
            <select ng-show="showDaily" ng-model="viewDate.day" ng-options="day for day in days" ng-change="updateUsage()"></select>
            {{showDaily ? ' / ' : ''}}
            <select style="vertical-align:middle;" ng-model="viewDate.year" ng-options="year for year in years" ng-change="updateUsage()"></select>
            <button class="btn btn-primary btn-xs" ng-click="toggle('showDaily')">Show {{showDaily ? 'Monthly' : 'Daily'}}</button>
          </h3>
          <br>
          <button class="btn btn-primary btn-xs" ng-click="toggle('showCreated')">{{showCreated ? 'Hide' : 'Show'}} Created</button>
          <button class="btn btn-primary btn-xs" ng-click="toggle('showIds')">{{showIds ? 'Hide' : 'Show'}} _id's</button>
          <button class="btn btn-primary btn-xs" ng-click="toggle('showEmployees')">{{showEmployees ? 'Hide' : 'Show'}} Employees</button>
          <button class="btn btn-primary btn-xs" ng-click="downloadUsage()">Export CSV</button>
        </div>
      </div>
    </div>

    <!-- The Overview display -->
    <div class="row" ng-if="view === 'Overview'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Current<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6"><h3>Commercial Projects: {{totalProjectsCommercial !== null ? totalProjectsCommercial.length : '---'}}</h3></div>
                <div class="col-md-6"><h3>Team Projects: {{totalProjectsTeam !== null ? totalProjectsTeam.length : '---'}}</h3></div>
              </div>
              <div class="row">
                <div class="col-md-6"><h3>Independent Projects: {{totalProjectsIndependent !== null ? totalProjectsIndependent.length : '---'}}</h3></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Projects<i class="pull-right glyphicon glyphicon-refresh" ng-click="getProjectsCreated(); getProjectUpgrades(); getTotalProjects()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h3>New Projects: {{projectsCreated !== null ? projectsCreated.length : '---'}}</h3>
            </div>
            <div class="col-md-6">
              <h3>Total Projects: {{totalProjectsNotDeleted !== null ? totalProjectsNotDeleted.length : '---'}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3>Monthly Upgrades: {{monthlyUpgrades !== null ? monthlyUpgrades : '---'}}</h3>
            </div>
            <div class="col-md-6">
              <h3>Monthly Downgrades: {{monthlyDowngrades !== null ? monthlyDowngrades : '---'}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Users<i class="pull-right glyphicon glyphicon-refresh" ng-click="getUsersCreated(); getTotalUsers()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <h3>New Users: {{usersCreated !== null ? usersCreated.length : '---'}}</h3>
            </div>
            <div class="col-md-6">
              <h3>Total Users: {{totalUsersNotDeleted !== null ? totalUsersNotDeleted.length : '---'}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Usage<i class="pull-right glyphicon glyphicon-refresh" ng-click="getAPIUsage()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>Total Submissions: {{totalMonthlySubmissions !== null ? totalMonthlySubmissions : '---'}}</h3>
            </div>
          </div>
          <div class="row" ng-if="!showDaily">
            <div class="col-sm-12 project-data">
              <h6>{{submissionDisplayTop}}</h6>
              <chartist class="ct-chart" chartist-data="submissionGraphData" chartist-chart-type="Line" chartist-chart-options="submissionGraphOptions"></chartist>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>Total Non-Submissions: {{totalMonthlyNonsubmissions !== null ? totalMonthlyNonsubmissions : '---'}}</h3>
            </div>
          </div>
          <div class="row" ng-if="!showDaily">
            <div class="col-sm-12 project-data">
              <h6>{{nonsubmissionDisplayTop}}</h6>
              <chartist class="ct-chart" chartist-data="nonsubmissionGraphData" chartist-chart-type="Line" chartist-chart-options="nonsubmissionGraphOptions"></chartist>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Current display -->
    <div class="row" ng-if="view === 'Current'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Upgrade Project
        </div>
        <div class="panel-body">
          Upgrades are no longer managed from here. Please find the associated license and upgrade the license.
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Get License
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="input.license" placeholder="License _id to get">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-block" ng-click="getLicense()">Get</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{currentLicense}}
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Find User
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="inputUser._id" placeholder="User _id">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="inputUser.data.email" placeholder="User Email Address">
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="inputUser.data.name" placeholder="User Form.io Username">
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" ng-click="findUser()">Find User</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <div class="panel panel-default control-panel" ng-if="searchUser.data">
                <div class="panel-heading">
                  User
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <td ng-if="showIds">User _id</td>
                            <td>Full Name</td>
                            <td>Username</td>
                            <td>Email</td>
                            <td ng-if="showCreated">Created Date</td>
                            <td>Deleted</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td ng-if="showIds">{{searchUser.data._id}}</td>
                            <td>{{searchUser.data.data.fullName}}</td>
                            <td>{{searchUser.data.data.name}}</td>
                            <td>{{searchUser.data.data.email}}</td>
                            <td ng-if="showCreated">{{searchUser.data.created}}</td>
                            <td>{{searchUser.data.deleted._id}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default control-panel" ng-if="searchUser.projects">
                <div class="panel-heading">
                  Projects
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <td>#</td>
                          <td ng-if="showIds">Project _id</td>
                          <td>Project Name</td>
                          <td>Project Title</td>
                          <td>Project Plan</td>
                          <td ng-if="showCreated">Project Created</td>
                          <td ng-if="showIds">Owner _id</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="element in searchUser.projects track by $index">
                          <td>{{$index + 1}}</td>
                          <td ng-if="showIds">{{element._id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.title}}</td>
                          <td>{{element.plan}}</td>
                          <td ng-if="showCreated">{{element.created}}</td>
                          <td ng-if="showIds">{{element.owner._id}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Premium Projects<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default control-panel">
                <div class="panel-heading">
                  Commercial Projects ({{totalProjectsCommercial !== null ? totalProjectsCommercial.length : '---'}})<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <td>#</td>
                          <td ng-if="showIds">Project _id</td>
                          <td>Project Name</td>
                          <td>Project Title</td>
                          <td>Project Plan</td>
                          <td ng-if="showCreated">Project Created</td>
                          <td ng-if="showIds">Owner _id</td>
                          <td>Owner Name</td>
                          <td>Owner Email</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="element in totalProjectsCommercial track by $index">
                          <td>{{$index + 1}}</td>
                          <td ng-if="showIds">{{element._id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.title}}</td>
                          <td>{{element.plan}}</td>
                          <td ng-if="showCreated">{{element.created}}</td>
                          <td ng-if="showIds">{{element.owner._id}}</td>
                          <td>{{element.owner.data.name}}</td>
                          <td>{{element.owner.data.email}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default control-panel">
                <div class="panel-heading">
                  Team Projects ({{totalProjectsTeam !== null ? totalProjectsTeam.length : '---'}})<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <td>#</td>
                          <td ng-if="showIds">Project _id</td>
                          <td>Project Name</td>
                          <td>Project Title</td>
                          <td>Project Plan</td>
                          <td ng-if="showCreated">Project Created</td>
                          <td ng-if="showIds">Owner _id</td>
                          <td>Owner Name</td>
                          <td>Owner Email</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="element in totalProjectsTeam track by $index">
                          <td>{{$index + 1}}</td>
                          <td ng-if="showIds">{{element._id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.title}}</td>
                          <td>{{element.plan}}</td>
                          <td ng-if="showCreated">{{element.created}}</td>
                          <td ng-if="showIds">{{element.owner._id}}</td>
                          <td>{{element.owner.data.name}}</td>
                          <td>{{element.owner.data.email}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default control-panel">
                <div class="panel-heading">
                  Independent Projects ({{totalProjectsIndependent !== null ? totalProjectsIndependent.length : '---'}})<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <td>#</td>
                          <td ng-if="showIds">Project _id</td>
                          <td>Project Name</td>
                          <td>Project Title</td>
                          <td>Project Plan</td>
                          <td ng-if="showCreated">Project Created</td>
                          <td ng-if="showIds">Owner _id</td>
                          <td>Owner Name</td>
                          <td>Owner Email</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="element in totalProjectsIndependent track by $index">
                          <td>{{$index + 1}}</td>
                          <td ng-if="showIds">{{element._id}}</td>
                          <td>{{element.name}}</td>
                          <td>{{element.title}}</td>
                          <td>{{element.plan}}</td>
                          <td ng-if="showCreated">{{element.created}}</td>
                          <td ng-if="showIds">{{element.owner._id}}</td>
                          <td>{{element.owner.data.name}}</td>
                          <td>{{element.owner.data.email}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Licenses display -->
    <div class="row" ng-if="view === 'Licenses'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Licenses
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th></th>
              <th ng-repeat="col in licenseColumns track by $index">{{col.label}}</th>
            </tr>
            <tr>
              <td></td>
              <td ng-repeat="col in licenseColumns">
                <div ng-if="col.type === 'text'">
                  <input type="text" class="form-control" ng-change="setLicenseFilter(col)" ng-model="filters[col.prop]" ng-model-options='{ debounce: 300 }'>
                </div>
                <div ng-if="col.type === 'date'">
                  <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="filters[col.prop]" ng-change="setLicenseFilter(col)" is-open="open[col.prop]" datepicker-options="dateOptions" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openCal(col.prop)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div ng-if="col.type === 'select'">
                  <select class="form-control" ng-change="setLicenseFilter(col, this)" ng-model="filters[col.prop]">
                    <option value=""></option>
                    <option value="{{option.value}}" ng-repeat="option in col.options">{{option.label}}</option>
                  </select>
                </div>
              </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="license in licenses track by $index">
              <td style="width: 120px;">
                <div class="btn-group" role="group" aria-label="Actions">
                  <a class="btn btn-default btn-xs" href ng-if="!open[$index]" ng-click="openLicense($index)">Open</a>
                  <a class="btn btn-default btn-xs" href ng-if="open[$index]" ng-click="closeLicense($index)">Close</a>
                  <a class="btn btn-default btn-xs" ui-sref="project.resource.form.submission.item.edit({projectId: currentProject._id, formId: license.form, submissionId: license._id})">Edit</a>
                </div>
              </td>
              <td ng-repeat="col in licenseColumns track by $index">
                {{license.data[col.prop] | filterFunc : col.filter}}
              </td>
            </tr>
            <tr ng-repeat-end ng-if="open[$index]" class="active">
              <td colspan="8">
                <license-info license="license"></license-info>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- The Users Display -->
    <div class="row" ng-if="view === 'Users'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Users as of {{viewDate.month + ' / ' + (showDaily ? viewDate.month + ' / ' : '') + viewDate.year}}<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalUsers()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6"><h3>Active Users: {{totalUsersNotDeleted !== null ? totalUsersNotDeleted.length : '---'}}</h3></div>
                <div class="col-md-6"><h3>Deleted Users: {{totalUsersDeleted !== null ? totalUsersDeleted.length : '---'}}</h3></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          New Users<i class="pull-right glyphicon glyphicon-refresh" ng-click="getUsersCreated()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>
                New Users by
                {{showDaily ? 'Day' : 'Month'}}
                for
                {{viewDate.month + ' / ' + (showDaily ? viewDate.month + ' / ' : '') + viewDate.year}}
              </h3>
              <table class="table table-striped">
                <thead>
                <tr>
                  <td>#</td>
                  <td ng-if="showIds">User _id</td>
                  <td>User Name</td>
                  <td>User Full Name</td>
                  <td>User Email</td>
                  <td ng-if="showCreated">Created</td>
                  <td>Deleted</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="element in usersCreated track by $index" ng-class="element.deleted !== null ? 'danger' : ''">
                  <td>{{$index + 1}}</td>
                  <td ng-if="showIds">{{element._id}}</td>
                  <td>{{element.data.name}}</td>
                  <td>{{element.data.fullName}}</td>
                  <td>{{element.data.email}}</td>
                  <td ng-if="showCreated">{{element.created}}</td>
                  <td>{{element.deleted}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Projects Display -->
    <div class="row" ng-if="view === 'Projects'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Projects as of {{viewDate.month + ' / ' + (showDaily ? viewDate.month + ' / ' : '') + viewDate.year}}<i class="pull-right glyphicon glyphicon-refresh" ng-click="getTotalProjects()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6"><h3>Active Projects: {{totalProjectsNotDeleted !== null ? totalProjectsNotDeleted.length : '---'}}</h3></div>
                <div class="col-md-6"><h3>Deleted Projects: {{totalProjectsDeleted !== null ? totalProjectsDeleted.length : '---'}}</h3></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          New Projects<i class="pull-right glyphicon glyphicon-refresh" ng-click="getProjectsCreated(); getProjectUpgrades()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>
                New Projects by
                {{showDaily ? 'Day' : 'Month'}}
                for
                {{viewDate.month + ' / ' + (showDaily ? viewDate.month + ' / ' : '') + viewDate.year}}
              </h3>
              <table class="table table-striped">
                <thead>
                <tr>
                  <td>#</td>
                  <td ng-if="showIds">Project _id</td>
                  <td>Project Name</td>
                  <td>Project Title</td>
                  <td>Project Plan</td>
                  <td ng-if="showCreated">Project Created</td>
                  <td ng-if="showIds">Owner _id</td>
                  <td>Owner Name</td>
                  <td>Owner Email</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="element in projectsCreated track by $index">
                  <td>{{$index + 1}}</td>
                  <td ng-if="showIds">{{element._id}}</td>
                  <td>{{element.name}}</td>
                  <td>{{element.title}}</td>
                  <td>{{element.plan}}</td>
                  <td ng-if="showCreated">{{element.created}}</td>
                  <td ng-if="showIds">{{element.owner}}</td>
                  <td>{{element.ownerData.name}}</td>
                  <td>{{element.ownerData.email}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The Upgrades Display -->
    <div class="row" ng-if="view === 'Upgrades'">
      <div class="panel panel-default control-panel">
        <div class="panel-heading">
          Project Plan Changes<i class="pull-right glyphicon glyphicon-refresh" ng-click="getProjectUpgrades()"></i>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <h3>
                Project Plan Status Changes by
                {{showDaily ? 'Day' : 'Month'}}
                for
                {{viewDate.month + ' / ' + (showDaily ? viewDate.month + ' / ' : '') + viewDate.year}}
              </h3>
              <table class="table table-striped">
                <thead>
                <tr>
                  <td>#</td>
                  <td ng-if="showCreated">Event Date</td>
                  <td ng-if="showIds">Project _id</td>
                  <td>Project Name</td>
                  <td>Project Title</td>
                  <td>Old Plan</td>
                  <td>New Plan</td>
                  <td ng-if="showCreated">Project Created</td>
                  <td ng-if="showIds">Owner _id</td>
                  <td>Owner Name</td>
                  <td>Owner Email</td>
                  <td ng-if="showCreated">Owner Created</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="element in projectUpgrades track by $index" class="{{element.plan}}">
                  <td>{{$index + 1}}</td>
                  <td ng-if="showCreated">{{element.created}}</td>
                  <td ng-if="showIds">{{element._id}}</td>
                  <td>{{element.data.project.name}}</td>
                  <td>{{element.data.project.title}}</td>
                  <td>{{element.data.oldPlan}}</td>
                  <td>{{element.data.newPlan}}</td>
                  <td ng-if="showCreated">{{element.created}}</td>
                  <td ng-if="showIds">{{element.data.project.owner._id}}</td>
                  <td>{{element.data.project.owner.data.name}}</td>
                  <td>{{element.data.project.owner.data.email}}</td>
                  <td ng-if="showCreated">{{element.data.project.owner.created}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
