<div ng-if="error" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> {{error}} Go to <a ui-sref="project.env.integrations.info">Integration Settings</a>.</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <div ng-if="premiumNotAvailable" class="alert alert-warning">
      <div ng-bind-html="premiumWarning"></div>
    </div>
  </div>
</div>
<formio form="actionInfo.settingsForm" submission="action" read-only="formDisabled" options="{baseUrl: baseUrl}"></formio>
