<div ng-if="error" class="alert alert-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> {{error}} Go to <a href="#/project/{{currentProject._id}}/settings">Project Settings</a>.</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <div ng-if="actionInfo.premium === true" class="alert alert-warning">
      This is a Premium Action, not available on the {{ getPlanName(currentProject.plan) }} plan. Please <a ng-click="showUpgradeDialog(currentProject)">Upgrade</a> this project to access this feature.
    </div>
  </div>
</div>
<formio form="actionInfo.settingsForm" submission="action" form-action="actionUrl" read-only="highestRole === 'team_read'" options="{ baseUrl: baseUrl }"></formio>
