<div class="well">
  <h4>LinkedIn OAuth Settings</h4>
  <p>This allows you to use LinkedIn user accounts to authenticate. To set up LinkedIn OAuth, go to your LinkedIn <a href="https://www.linkedin.com/developer/apps"> Create Application</a> and  Create a New Application.</p>
  <p>Fill in the application details. The <strong>Authorized Redirect URLs:</strong> MUST be set to the domain name of your application (ex: <code>http://hostName:port</code>. Then save your client ID and secret below.</p>
</div>
<div class="form-group">
  <label for="linkedinClientId">Client ID</label>
  <input ng-model="currentProject.settings.oauth.linkedin.clientId" type="text" class="form-control" id="linkedinClientId" name="linkedinClientId" placeholder="Enter LinkedIn Application Client ID">
</div>
<div class="form-group">
  <label for="linkedinClientSecret">Client Secret</label>
  <input ng-model="currentProject.settings.oauth.linkedin.clientSecret" type="password" class="form-control" id="linkedinClientSecret" name="linkedinClientSecret" placeholder="Enter LinkedIn Application Client Secret">
</div>
