<upgrade-warning ng-if="!minPlan('commercial') && projectSettingsVisible()" warning="Upgrade your project to a paid plan to access OAuth settings."></upgrade-warning>
<div class="well">
  <h4>OAuth 2 - Must use Authorization code flow</h4>
  <p>OpenID Connect is a single sign on (SSO) framework for Oauth 2. In order to use OpenID Connect you must have a auth provider that supports OpenID Connect and set up an APP within that provider. Then use the settings from your provider to configure the connection here. See <a href="http://openid.net/connect/" target="_blank">OpenID Connect</a> for detailed information.</p>
  <p>Fill in the application details. The <strong>Authorization (or login redirect) callback URL</strong> MUST be set to the domain name of your application (ex: <code>https://mydomain.com</code>. Then save your client ID and secret below.</p>
</div>
<div class="form-group">
  <label for="oauth2authURI">Authorize URI</label>
  <input ng-model="currentProject.settings.oauth.oauth2.authURI" type="text" class="form-control" id="oauth2authURI" name="oauth2authURI" placeholder="Enter Server Auth URI">
</div>
<div class="form-group">
  <label for="oauth2tokenURI">Token URI</label>
  <input ng-model="currentProject.settings.oauth.oauth2.tokenURI" type="text" class="form-control" id="oauth2tokenURI" name="oauth2tokenURI" placeholder="Enter Server URI to request a token">
</div>
<div class="form-group">
  <label for="oauth2userInfoURI">User Info (claims) URI</label>
  <input ng-model="currentProject.settings.oauth.oauth2.userInfoURI" type="text" class="form-control" id="oauth2userInfoURI" name="oauth2userInfoURI" placeholder="Enter Server URI to request user info">
</div>
<div class="form-group">
  <label for="oauth2scope">Scope</label>
  <input ng-model="currentProject.settings.oauth.oauth2.scope" type="text" class="form-control" id="oauth2scope" name="oauth2scope" placeholder="Enter Request Scope (optional)">
</div>
<div class="form-group">
  <label for="oauth2ClientId">Client ID</label>
  <input ng-model="currentProject.settings.oauth.oauth2.clientId" type="text" class="form-control" id="oauth2ClientId" name="oauth2ClientId" placeholder="Enter OpenID Connect Application Client ID">
</div>
<div class="form-group">
  <label for="oauth2ClientSecret">Client Secret</label>
  <input ng-model="currentProject.settings.oauth.oauth2.clientSecret" type="text" class="form-control" id="oauth2ClientSecret" name="oauth2ClientSecret" placeholder="Enter OpenID Connect Application Client Secret">
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>OpenID Connect</h4>
  </div>
  <div class="panel-body">
    Test
  </div>
</div>
