<div class="well">
  <h4>Office365 OAuth Settings</h4>
  <!-- TODO: add instructions on where to get the info needed below -->
</div>
<div class="form-group">
  <label for="office365Tenant">Office 365 Tenant</label>
  <input ng-model="currentProject.settings.office365.tenant" type="text" class="form-control" id="office365Tenant" name="office365Tenant" placeholder="Enter Office 365 Tenant">
</div>
<div class="form-group">
  <label for="office365ClientId">Application Client ID</label>
  <input ng-model="currentProject.settings.office365.clientId" type="text" class="form-control" id="office365ClientId" name="office365ClientId" placeholder="Enter Office 365 Application Client ID">
</div>
<div class="form-group">
  <label for="office365ClientSecret">Application Client Secret</label>
  <input ng-model="currentProject.settings.office365.clientSecret" type="password" class="form-control" id="office365ClientSecret" name="office365ClientSecret" placeholder="Enter Office 365 Application Client Secret">
</div>
