<div ng-if="!$state.includes('app.form')" class="app-nav">
  <div class="row app-row">
    <div class="col-sm-6">
      <div class="app-title">{{ currentApp.title }}</div>
      <div class="app-description">{{ currentApp.description }}</div>
    </div>
    <div class="col-sm-6 app-options">
      <div class="pull-right">
        <ul class="nav nav-pills" ng-if="currentApp">
          <li role="presentation"><div class="well well-sm" style="margin: 0 10px 0 0;">https://{{ currentApp.name }}.form.io/</div></li>
          <li role="presentation" ng-class="{active:isActive('app.view')}"><a ui-sref="app.view()">View</a></li>
          <li role="presentation" ng-class="{active:isActive('app.edit')}"><a ui-sref="app.edit()">Edit</a></li>
          <li role="presentation" ng-class="{active:isActive('app.settings')}"><a ui-sref="app.settings()">Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div ui-view></div>
