<ol class="breadcrumb">
  <li><a ui-sref="home()"><i class="fa fa-home"></i></a></li>
  <li ng-if="currentApp"><a ui-sref="app.view({appId: currentApp._id})">{{ currentApp.name }}</a></li>
  <li ng-if="currentApp">
    <a ng-class="{'btn-primary': isActive('app.view')}" ui-sref="app.view()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    <a ng-class="{'btn-primary': isActive('app.edit')}" ui-sref="app.edit()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    <a ng-class="{'btn-primary': isActive('app.settings')}" ui-sref="app.settings()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
  </li>
</ol>
<div ui-view></div>
