<h2>New Application</h2>
<div class="row">
  <div class="col-sm-8 col-margin-bottom">
    <ng-include src="'views/app/edit.html'"></ng-include>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> Best Practices</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <p>Enter a title and description for your application.</p><br/>
          <p>You will need a unique sub domain for your application. This is where the API endpoints will be hosted on.</p>
          <p>Don't worry though, we'll take care of the hard parts.</p><br/>
          <p>Still need help? Check out the <a href="http://help.form.io/userguide/#new-project" target="_blank">complete documentation</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
