<div class="row">
  <div class="col-sm-2 well">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-class="{active:($state.includes('app.settings.email'))}"><a ui-sref="app.settings.email">Email Settings</a></li>
      <li role="presentation" ng-class="{active:($state.includes('app.settings.roles'))}"><a ui-sref="app.settings.roles.view">Roles</a></li>
      <li role="presentation" ng-class="{active:($state.includes('app.settings.office365'))}"><a ui-sref="app.settings.office365">Office 365</a></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <ng-form>
      <i id="app-loader" ng-if="!currentApp" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
      <div ng-if="currentApp" ui-view>
    </ng-form>
  </div>
</div>
