<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-database"></i>
          <a ui-sref="app.form.resourceIndex()">Resource Forms</a>
        </h3>
      </div>
      <div class="panel-body">
        <i id="resource-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
        <div class="alert alert-info" ng-show="!resourcesLoading && !resources.length">
          <strong>Resource Forms</strong> are the objects within your application. Example: User, Vehicle ...
        </div>
        <form-list forms="resources" app="currentApp" form-type="'resource'" num-per-page="5"></form-list>
      </div>
      <div class="panel-footer text-right">
        <a ui-sref="app.form.createResource()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Resource Form</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text-o"></i>
          <a ui-sref="app.form.formIndex()">Composite Forms</a>
        </h3>
      </div>
      <div class="panel-body">
        <i id="form-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
        <div class="alert alert-info" ng-show="!formsLoading && !forms.length">Composite Forms represent multiple input interfaces for Resources. Example: Login Form, User Registration Form ...</div>
        <form-list forms="forms" app="currentApp" form-type="'form'" num-per-page="5"></form-list>
      </div>
      <div class="panel-footer text-right">
        <a ui-sref="app.form.createForm()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Composite Form</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-gears"></i> API</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-info">
          <p>The Form.IO API allows you to integrate both forms and resources into your application using simple HTML elements.</p><br/>
          <p>Much like how you can embed an image into your application using the <strong>&lt;img&gt;</strong> element, you can implement Form.IO forms and resources using a simple <strong>&lt;formio&gt;</strong> HTML element.</p>
        </div>
      </div>
    </div>
  </div>
</div>
