<div class="project-section-content">
  <div class="project-section-inner-content">
    <div class="panel panel-danger panel-trial" ng-if="currentProject.plan === 'trial'">
      <div class="panel-heading">
        <h3 class="panel-title">Notice</h3>
      </div>
      <div class="panel-body">
        This Project is on the Trial Plan. You have {{trialDaysRemaining}} days remaining. <a href="" ng-click="showUpgradeDialog(currentProject)">Upgrade</a> your project to keep the Premium Features.
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <legend>Project Info</legend>
        <div class="project-info">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-3"><h5 class="ellipsis">Title</h5></div>
                <div class="col-xs-9">
                  <span><h5>{{ currentProject.title }}</h5></span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-3"><h5>API Endpoint</h5></div>
                <div class="col-xs-9">
                  <h4 class="">{{ apiProtocol }}//{{ currentProject.name }}.{{ apiServer }}</h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div ng-if="hasTeams()">
          <h4>
            <span ng-if="highestRole === 'owner'">You are the project <strong>owner</strong>.</span>
            <span ng-if="highestRole === 'team_admin'">You are a project <strong>admin</strong>.</span>
            <span ng-if="highestRole === 'team_write'">You are a project <strong>member</strong>.</span>
            <span ng-if="highestRole === 'team_read'">You are a <strong>read-only project member</strong>.</span>
            You can:
          </h4>
          <dl class="dl-horizontal">
            <dt ng-class="{'text-muted': !projectPermissions.read}">Read</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.read, 'text-muted fa-times': !projectPermissions.read}"></i></dd>
            <dt ng-class="{'text-muted': !projectPermissions.write}">Write</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.write, 'text-muted fa-times': !projectPermissions.write}"></i></dd>
            <dt ng-class="{'text-muted': !projectPermissions.admin}">Administrate</dt>
            <dd><i class="fa" ng-class="{'text-success fa-check': projectPermissions.admin, 'text-muted fa-times': !projectPermissions.admin}"></i></dd>
          </dl>
        </div>
        <div ng-if="!hasTeams() && !onPrem">
          <div class="well">
            <h4><a href="" ng-click="showUpgradeDialog(currentProject)">Upgrade Plan</a> to enable teams for this project</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
