<table class="table table-striped">
  <tbody>
  <tr ng-repeat="role in currentAppRoles">
    <td>
      <div class="row">
        <div class="col-xs-5">
          <h4><a ui-sref="app.settings.roles.edit({roleId: role._id})">{{ role.title }}</a></h4>
        </div>
        <div class="col-xs-7">
          <div class="button-group pull-right" style="display:flex;">
            <a ui-sref="app.settings.roles.edit({roleId: role._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
            <a ui-sref="app.settings.roles.delete({roleId: role._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ role.description }}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="text-right">
  <a ui-sref="app.settings.roles.edit()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Role</a>
</div>
