<div class="panel panel-default">
  <div class="panel-heading">PDF Server Configurations</div>
  <div class="panel-body">
    <div>These settings provide a way to configure the PDF Server Deployment.</div>
    <label class="control-label"><strong>PDF Server URL</strong></label>
    <input type="text" class="form-control" id="custom-css" ng-model="currentProject.settings.pdfserver" placeholder="The public url of the PDF Server Deployment." />
  </div>
</div>
<button class="btn btn-primary" ng-click="saveProject()">Save Settings</button>
