<div class="project-section-header">
  <h2><i class="fa fa-table"></i> Data</h2>
  <p>Anytime someone submits a form within Form.io, that data is stored and can be managed here.</p>
</div>
<div class="project-section-content project-section-inner-content project-data">
  <div class="row" ng-controller="ProjectDataController">
    <div class="col-sm-12">
      <h3 class="center">{{label[currentType]}}</h3>
      <h4>{{viewDate.year}} / {{viewDate.month}} / {{viewDate.day}}&nbsp;(UTC)&emsp;<select ng-init="displayView('month')" ng-options="type for type in types" ng-model="graphType" ng-change="graphChange()"></select></h4>
      <chartist class="ct-chart" chartist-data="analytics" chartist-chart-type="Line" chartist-chart-options="analyticsOptions" chartist-events="analyticsEvents"></chartist>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-database"></i>
            <span>Resources</span>
          </h3>
        </div>
        <div class="panel-body">
          <i id="resource-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <form-list forms="resources" list-mode="'data'" project="currentProject" form-type="'resource'" num-per-page="10"></form-list>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-file-text-o"></i>
            <span>Forms</span>
          </h3>
        </div>
        <div class="panel-body">
          <i id="form-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <form-list forms="forms" list-mode="'data'" project="currentProject" form-type="'form'" num-per-page="10"></form-list>
        </div>
      </div>
    </div>
  </div>
</div>
