<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-bottom: 0; border-bottom: none;">
            <ul class="nav nav-tabs" style="border-bottom: none;">
                <li role="presentation" ng-class="{active:isActive('auth.login')}"><a ui-sref="auth.login()">Login</a></li>
                <li role="presentation" ng-class="{active:isActive('auth.register')}"><a ui-sref="auth.register()">Register</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>