<!-- Applies background to whole page, not just container -->
<style>
  body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% auto;
  }
</style>
<div class="container user-login-page">
  <p class="text-center"><img src="images/formio-logo-with-slogan.png" alt="form.io: fastest FORM & API workflow - anywhere"></p>
  <div class="col-lg-10 col-md-12 col-sm-10 col-centered">
    <div class="col-lg-5 col-md-5 col-md-offset-1 login-container">
      <div class="col-lg-10 col-md-10 col-centered">
        <p>&nbsp;</p>
        <h4 class="auth-title">RETURNING USER LOGIN</h4>
        <div ui-view="login"></div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 register-container">
      <div class="col-lg-10 col-md-10 col-centered">
        <p class="signup-preamble"><em>Don't have an account?</em></p>
        <h4 class="auth-title">SIGN UP NOW</h4>
        <div ui-view="register"></div>
      </div>
    </div>
  </div>
</div>
