<div class="row">
  <div class="submission-activity">
    <div class="col-md-12">
      <legend>Submission Activity</legend>
    </div>
    <div class="project-data project-summary" ng-if="projectUrl" ng-controller="ChartController">
      <div class="col-sm-12">
        <h3 class="center">{{label[currentType]}}</h3>
        <h4>{{viewDate.year}} / {{viewDate.month}} / {{viewDate.day}}&nbsp;(UTC)&emsp;<select ng-init="graphChange()" ng-options="type for type in types" ng-model="graphType" ng-change="graphChange()"></select></h4>
        <chartist class="ct-chart" chartist-data="analytics" chartist-chart-type="Line" chartist-chart-options="analyticsOptions" chartist-events="analyticsEvents"></chartist>
      </div>
    </div>
  </div>
</div>
