<div class="row">
  <div class="col-sm-12 projects">
    <div class="row">
      <div class="col-sm-4">
        <a class="project-create" ui-sref="createProject()">
          <h4><p class="create-link"><span class="glyphicon glyphicon-plus circle"></span> Create Project</p></h4>
        </a>
      </div>
      <div class="project"  ui-sref="createProject()" ng-if="!projects.length">
        <h4 class="project-title">Step 1: Create your project</h4>
        <ng-include src="'views/project/help.html'"></ng-include>
        <ul class="list-inline">
          <li><a ui-sref="createProject()" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus circle"></span> Create Project</a></li>
        </ul>
      </div>
      <div class="col-sm-4" ng-repeat="project in projects">
        <div class="project" ng-click="goToProject(project)" title="{{ project.title }}">
          <h4 class="project-title ellipsis"><a ui-sref="project.edit({projectId: project._id})">{{ project.title }}</a></h4>
          <p class="project-plan"><small>
            <span class="label" ng-class="getPlanLabel(project.plan)">{{ getPlanName(project.plan) | uppercase }}</span>
          </small></p>
          <p class="project-url ellipsis" ui-sref="project.edit({projectId: project._id})"><strong>{{ project.name }}</strong>.form.io</p>
          <p class="project-description ellipsis">{{ project.description | characters: 50 }}&nbsp;</p>
          <p class="progress-label text-center"><small>Monthly API Calls</small></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" ng-style="{width: project.apiCalls.used / project.apiCalls.limit * 100 + '%'}" ng-class="getProgressBarClass(project.apiCalls)"></div>
            <span><small>{{ project.apiCalls.used | number }} / {{ getAPICallsLimit(project.apiCalls) }}</small></span>
          </div>
          <ul class="list-inline" style="z-index:1000;">
            <li><a ui-sref="project.edit({projectId: project._id})" class="btn btn-default btn-sm">Manage</a></li>
            <li><a ng-href="{{getPreviewURL(project)}}" target="_blank" ng-disabled="!project.settings.preview"class="btn btn-default btn-sm">Preview</a></li>
            <li><a ui-sref="project.settings.plan({projectId: project._id})" class="btn btn-default btn-sm">Upgrade Plan</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<hr ng-if="projects.length != 0">
<div class="row" ng-if="projects.length != 0">
  <div class="col-md-4 col-vertical-center col-md-offset-1 col-sm-6">
    <h3>Bootstrap an application</h3>
    <p>If you're comfortable with a terminal, you can use our <strong>command line utility</strong> to <strong>bootstrap</strong> a working application from a template.</p>
    <p><small>Note: You must have <a target="_blank" href="https://nodejs.org">Node.js</a> installed on your machine.</small></p>
    <p><small>Other applications can be found @ <a target="_blank" href="https://github.com/formio?query=formio-app-">https://github.com/formio</a></small></p>
  </div>
  <div class="col-vertical-center col-md-5 col-sm-6">
  <pre>npm install -g formio-cli
formio bootstrap formio/formio-app-todo</pre>
  </div>
</div>
