<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron well clearfix">
      <h3 style="color:#666;">Welcome to <img height="34px;" src="images/formio-logo.png" /></h3>
      <p style="font-size: 1.3em;">Form.io is a platform that enables developers to rapidly build modern web and mobile applications. Our intuitive drag & drop interface allows you to create both the forms and the RESTful API's all in one easy step! <strong style="color:#666;">You build the app, we handle the Form I/O.</strong></p>
      <div class="row">
        <div class="col-sm-12">
          <iframe width="100%" height="275px" src="https://www.youtube.com/embed/hrggvEniXFI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div ng-click="startTutorial()">
            <button class="btn btn-info btn-block">Walk through tutorial</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="panel panel-success" ng-if="projects.length === 0">
        <div class="panel-heading">
          <h3 class="panel-title">Getting started is easy.</h3>
        </div>
        <div class="panel-body">
          <p>Use our <strong>command line utility</strong> to <strong>bootstrap</strong> a working application.</p>
          <p><pre>npm install -g formio-cli</pre></p>
          <p><pre>formio bootstrap formio/formio-app-todo</pre></p>
          <p><small>Note: You must have <a target="_blank" href="https://nodejs.org">Node.js</a> installed on your machine.</small></p>
          <p><small>Other applications can be found @ <a target="_blank" href="https://github.com/formio?query=formio-app-">https://github.com/formio</a></small></p>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><a ui-sref="projectIndex()" style="text-decoration:none;"><i class="fa fa-th-large"></i> My Projects</a></h3>
        </div>
        <div class="panel-body">
          <i id="projects-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <div class="well" ng-show="!projectsLoading">
            Projects are web-based HTML software. Whether you are building a new website, or a mobile application, you can
            create separate Projects used for each of these products.
          </div>
          <table ng-show="!projectsLoading && projects.length" class="table table-striped">
            <tbody>
            <tr ng-repeat="project in projects">
              <td>
                <div class="row">
                  <div class="col-sm-5">
                    <h4><a ui-sref="project.edit({projectId: project._id})">{{ project.title }}</a></h4>
                  </div>
                  <div class="col-sm-7">
                    <div class="button-group pull-right" style="display:flex;">
                      <a ui-sref="project.edit({projectId: project._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
                      <a ui-sref="project.delete({projectId: project._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 project-description">
                    {{ project.description }}
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer text-right">
          <a ui-sref="createProject()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Project</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><a ui-sref="teamIndex()" style="text-decoration:none;"><i class="fa fa-users"></i> My Teams</a></h3>
        </div>
        <div class="panel-body">
          <i id="team-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
          <div class="well" ng-show="!teamsLoading">
            Teams are groups of Form.io users that work together on projects. Teams are available for <a href="https://www.form.io/pricing">TeamPro</a> users.
          </div>
          <table ng-show="!teamsLoading && teams.length" class="table table-striped">
            <tbody>
            <tr ng-repeat="team in teams">
              <td>
                <div class="row">
                  <div class="col-sm-5">
                    <h4><a ui-sref="team.edit({teamId: team._id})">{{ team.data.name }}</a></h4>
                  </div>
                  <div class="col-sm-7">
                    <div class="button-group pull-right" style="display:flex;">
                      <a ui-sref="team.edit({teamId: team._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
                      <a ui-sref="team.delete({teamId: team._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer text-right">
          <a ui-sref="createTeam()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Team</a>
        </div>
      </div>
    </div>
  </div>
</div>
