<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form.IO</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/styles/base.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/ng-sortable/dist/ng-sortable.css" />
    <link rel="stylesheet" href="/bower_components/chartist/dist/chartist.min.css" />
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog.css" />
    <link rel="stylesheet" href="/bower_components/ng-dialog/css/ngDialog-theme-default.css" />
    <link rel="stylesheet" href="/bower_components/angular-swagger-ui/dist/css/swagger-ui.min.css" />
    <link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="/bower_components/ng-formio/css/formio.css" />
    <link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="/bower_components/ng-formio-builder/css/ngFormBuilder.css" />
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet" href="/bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.css" />
    <link rel="stylesheet" href="/bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- endinject -->
    <!-- endbuild -->

    <link rel="stylesheet" href="/lib/kendo-ui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/lib/kendo-ui/styles/kendo.bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body ng-app="formioApp">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="content">
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div ng-class="{container: !isActive('project')}" ng-cloak>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" title="Home" class="navbar-brand">
              <img height="25px;" src="images/formio-logo.png" />
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse navbar-menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-book"></i> Docs<b class="caret"></b></a>
                <ul class="dropdown-menu help-menu">
                  <li class="no-hover">
                    <div class="row docs-dropdown">
                      <div class="col-md-3">
                        <h5 class="section-heading"><i class="fa fa-book"></i> Guides</h5>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="https://help.form.io/intro/welcome/" target="_blank"><i class="fa fa-rocket"></i> Getting Started</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/intro/howworks/" target="_blank"><i class="fa fa-info-circle"></i> How it works</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/userguide/introduction/" target="_blank"><i class="fa fa-laptop"></i> User Guide</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/intro/appdev/" target="_blank"><i class="fa fa-server"></i> Application Development</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/intro/guide/" target="_blank"><i class="fa fa-book"></i> 30 minute guide</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h5 class="section-heading"><i class="fa fa-wrench"></i> Developer Info</h5>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="https://help.form.io/developer/info/welcome/" target="_blank"><i class="fa fa-code"></i> Developer Section</a></li>
                          <li class="list-group-item"><a href="https://documenter.getpostman.com/view/684631/formio-api/2Jvuks" target="_blank"><i class="fa fa-cloud-upload"></i> API Docs</a></li>
                          <li class="list-group-item"><a href="https://github.com/formio" target="_blank"><i class="fa fa-github"></i> Github Projects</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/libraries/angular/" target="_blank"><i class="fa fa-cubes"></i> App Libraries</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/libraries/cli/" target="_blank"><i class="fa fa-terminal"></i> CLI Tool</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/tutorials/walkthroughs/eventmanager/" target="_blank"><i class="fa fa-check-square-o"></i> Walkthroughs</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h5 class="section-heading"><i class="fa fa-cloud"></i> Integrations</h5>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="https://help.form.io/developer/integrations/email/" target="_blank"><i class="fa fa-envelope"></i> Email Providers</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/integrations/filestorage/" target="_blank"><i class="fa fa-file"></i> File Storage Providers</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/integrations/oauth/" target="_blank"><i class="fa fa-user"></i> OAuth Providers</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/info/lambda/" target="_blank"><i class="fa fa-amazon"></i> AWS Lamba</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/info/auth0/" target="_blank"><i class="fa fa-user"></i> Auth0</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <h5 class="section-heading"><i class="fa fa-space-shuttle"></i> Advanced Features</h5>
                        <ul class="list-group">
                          <li class="list-group-item"><a href="https://help.form.io/developer/info/bootstrap/" target="_blank"><i class="fa fa-copy"></i> Application Cloning</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/userguide/actions/" target="_blank"><i class="fa fa-cogs"></i> Form Actions</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/developer/info/offline/" target="_blank"><i class="fa fa-wifi"></i> Offline Mode</a></li>
                          <li class="list-group-item"><a href="https://help.form.io/userguide/docker/" target="_blank"><i class="fa fa-ship"></i> Docker Deployments</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="dropdown user-dropdown" ng-cloak>
                <a ng-if="authenticated" class="dropdown-toggle" id="user-menu" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i> {{ user.data.name }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a ui-sref="profile.view()"><i class="fa fa-user"></i> Profile</a></li>
                  <li ng-if="!onPrem"><a ui-sref="profile.payment.view()"><i class="fa fa-credit-card"></i> Payment Info</a></li>
                  <li class="divider"></li>
                  <li><a href="" id="logout" ng-click="logout()"><i class="fa fa-power-off"></i> Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="{{ mainClass }}" id="main-wrapper" ui-view ng-cloak></div>
      <formio-feedback></formio-feedback>
    </div>

    <footer>
      <div class="footer-banner"><img src="images/footerlogo-before.png" /></div>
      <div class="container footer-content">
        <div class="row" ng-if="$state.current.name === 'auth'">
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="http://blog.form.io/form.io-privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="http://blog.form.io/form-terms-of-use">Terms of Use</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="http://blog.form.io/form.io-software-licensing-agreement">Software Agreement</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-group">
              <li class="list-group-item"><a href="http://blog.form.io/form.io-open-source-license-agreement">Open Source License</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <span class="copyright">Made with <i class="fa fa-heart"></i> in Dallas, TX - &copy; Form.io LLC {{ appConfig.copyrightYear }}. All rights reserved</span> - <span>{{ appConfig.appVersion }}</span>
        </div>
      </div>
    </footer>

    <!-- JSLogger error loggin -->
    <script type="text/javascript">
      document.write('<script type="text/javascript" src="' + ('https:'==document.location.protocol?'https://':'http://c.') + 'jslogger.com/jslogger.js"><\/script>');
    </script>
    <script type="text/javascript">window.jslogger = new JSLogger();</script>
    <!-- End JSLogger -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58453303-1', 'auto');
    </script>
    <script src="/lib/ckeditor/ckeditor.js" type="text/javascript"></script>

    <!-- build:js scripts/vendor.js -->
    <script src="/node_modules/signature_pad/dist/signature_pad.min.js" type="text/javascript"></script>
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/ng-sortable/dist/ng-sortable.min.js"></script>
    <script src="/bower_components/angular-base64/angular-base64.min.js"></script>
    <script src="/bower_components/chartist/dist/chartist.min.js"></script>
    <script src="/bower_components/angular-chartist.js/dist/angular-chartist.min.js"></script>
    <script src="/bower_components/angular-paginate-anything/dist/paginate-anything-tpls.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/angular-truncate-2/dist/angular-truncate-2.min.js"></script>
    <script src="/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="/bower_components/angular-swagger-ui/dist/scripts/swagger-ui.min.js"></script>
    <script src="/bower_components/number-abbreviate/index.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
    <script src="/bower_components/angular-ui-mask/dist/mask.min.js"></script>
    <script src="/bower_components/blob-polyfill/Blob.js"></script>
    <script src="/bower_components/file-saver.js/FileSaver.js"></script>
    <script src="/bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
    <script src="/bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="/bower_components/angular-ui-select/dist/select.js"></script>
    <script src="/bower_components/angular-ckeditor/angular-ckeditor.js"></script>
    <script src="/bower_components/ng-formio/dist/formio.js"></script>
    <script src="/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="/bower_components/ng-formio-builder/dist/ngFormBuilder.js"></script>
    <script src="/bower_components/chance/chance.js"></script>
    <script src="/bower_components/qs/dist/qs.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="/bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/bower_components/seamless/build/seamless.parent.min.js"></script>
    <script src="/bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="/bower_components/semver/semver.browser.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/kendo.js -->
    <script src="/lib/kendo-ui/js/kendo.web.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.core.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.data.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.dropdownlist.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.filtermenu.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.grid.min.js" type="text/javascript"></script>
    <script src="/lib/kendo-ui/js/kendo.angular.min.js" type="text/javascript"></script>
    <!-- endbuild -->

    <!-- build:js scripts/app.js -->
    <!-- inject:js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/components/resourcefields.js"></script>
    <script src="scripts/controllers/access.js"></script>
    <script src="scripts/controllers/controllers.js"></script>
    <script src="scripts/controllers/feedback.js"></script>
    <script src="scripts/controllers/form.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/pdf.js"></script>
    <script src="scripts/controllers/project.js"></script>
    <script src="scripts/controllers/role.js"></script>
    <script src="scripts/controllers/team.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/providers/ProjectFrameworkSteps.js"></script>
    <script src="scripts/providers/ProjectFrameworks.js"></script>
    <script src="scripts/providers/primaryProject.js"></script>
    <script src="scripts/directives/stepFlow.js"></script>
    <script src="scripts/utils/utils.js"></script>
    <!-- endinject -->
    <!-- endbuild -->

    <script src="config.js" type="text/javascript"></script>
  </body>
</html>
