option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MONGO1
    value: <MONGO1>
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOST
    value: https://<ENVIRONMENT>.form.io
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FORMIOHOST
    value: https://formio.<ENVIRONMENT>.form.io
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPPort
    value: 80
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerHTTPSPort
    value: 443
  - namespace: aws:elb:loadbalancer
    option_name: SSLCertificateId
    value: arn:aws:iam::551091399009:server-certificate/formio
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerPortProtocol
    value: HTTP
  - namespace: aws:elb:loadbalancer
    option_name: LoadBalancerSSLPortProtocol
    value: HTTPS
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health
  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 30
  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: 5
  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: 2
  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: 2
