<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h2>Warning</h2>
    <span>You have unsaved changes. Would you like to save these changes before leaving the editor?</span>

    <div class="row" style="padding-top:20px">
      <div class="col-md-6">
        <button class="btn btn-danger btn-block" ng-click="confirmCancel()">
          Cancel Changes
        </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-success btn-block" ng-click="confirmSave()">
          Save and Continue
        </button>
      </div>
    </div>
  </div>
</div>