<div ng-if="forms.length === 0" class="alert alert-info text-center" style="margin-bottom:0;">
  There are currently no <span ng-if="formInfo.type === 'form'">forms</span><span ng-if="formInfo.type === 'resource'">resources</span> defined for this project.
</div>
<div class="panel panel-primary form-list-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h2>Forms <small><a href="https://help.form.io/intro/howworks/#formsandresources" target="_blank"><i class="fa fa-info-circle"></i></a></small></h2>
        <form-list forms="forms" form-name="'Form'" project="currentProject" form-type="'form'" list-mode="'form'"></form-list>
      </div>
      <div class="col-sm-6">
        <h2>Resource Forms</h2>
        <form-list forms="resources" form-name="'Resource Form'" project="currentProject" form-type="'resource'" list-mode="'form'"></form-list>
      </div>
    </div>
  </div>
</div>
