<ul class="nav nav-pills form-nav" ng-if="!formId">
  <li role="presentation"><span ng-switch="form.type" class="navbar-text form-title">New {{ capitalize(form.type) }}</span></li>
</ul>
<div ng-class="{'form-content': !formId}" class="form-edit">
  <form role="form" novalidate>
    <div class="row">
      <div class="col-md-2">
        <div id="form-group-title" class="form-group">
          <label for="title" class="control-label">Title</label>
          <input type="text" ng-model="form.title" ng-change="titleChange('{{form.title}}')" class="form-control" id="title" placeholder="Enter the form title" autofocus="!formId"/>
        </div>
      </div>
      <div class="col-md-2">
        <div id="form-group-name" class="form-group" ng-class="{'has-warning': originalForm.name && form.name !== originalForm.name && form.type === 'resource'}">
          <label for="name" class="control-label">Name</label>
          <input type="text" ng-model="form.name" class="form-control" id="name" placeholder="Enter the form machine name"/>
          <p ng-if="originalForm.name && form.name !== originalForm.name && form.type === 'resource'" class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span>
            Changing the name of a resource will break embedded components in other forms that refer to this resource.
          </p>
        </div>
      </div>
      <div class="col-md-2">
        <div id="form-group-display" class="form-group">
          <label for="name" class="control-label">Display as</label>
          <select class="form-control" name="form-display" id="form-display" ng-options="display.name as display.title for display in formDisplays" ng-model="form.display"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div id="form-group-path" class="form-group">
          <label for="path" class="control-label">API Path</label>
          <div class="input-group">
            <span class="input-group-addon" style="font-size:0.7em;">https://{{ currentProject.name }}.form.io/</span>
            <input type="text" class="form-control" id="path" ng-model="form.path" placeholder="example" style="text-transform: lowercase; width:120px;">
          </div>
        </div>
      </div>
      <div class="col-md-3 save-buttons">
        <div class="form-group pull-right">
          <a class="btn btn-default" ng-click="formId ? cancel() : $state.go('project.' + form.type + '.index')">Cancel</a>
          <input type="submit" class="btn btn-primary" ng-click="saveForm()" value="{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}" />
          </div>
      </div>
    </div>
    <input type="hidden" ng-model="form.type"/>
    <hr class="form-line">
    <form-builder src="formUrl" type="form.type" on-save="saveForm" on-cancel="cancel"></form-builder>
    <div ng-include="'views/form/form-settings.html'"></div>
    <div class="form-group pull-right">
      <a class="btn btn-default" ng-click="formId ? cancel() : $state.go('project.' + form.type + '.index')">Cancel</a>
      <input type="submit" class="btn btn-primary" ng-click="saveForm()" value="{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}" />
    </div>
  </form>
</div>
