<div class="row">
  <div class="col-md-8">
    <h3 style="margin-top: 0px;">Form Embedding</h3>
    <p>This form can be embedded into your application by referencing the following JSON schema URL within your application.</p>
    <p><span><pre><code><strong></strong>{{ projectUrl }}/{{ form.path }} <span class="pull-right">{<a href="{{ projectUrl }}/{{ form.path }}" target="_blank">Preview JSON</a>}</span></code></pre></span></p>
    <p class="text-muted">This is the url that can be used to embed this form into your application. Your form exists as a JSON object that defines how to render the form.</p>
    <ng-include src="embedView"></ng-include>
  </div>
  <div class="col-md-4">
    <div class="clearfix" style="margin-bottom:5px;">
      <div class="form-inline pull-right framework-control clear">
        <div class="form-group">
          <label class="control-label">Framework</label>
          <ui-select ng-model="primaryProject.framework" theme="bootstrap">
            <ui-select-match placeholder="Select framework">{{$select.selected.title}}</ui-select-match>
            <ui-select-choices repeat="framework.name as framework in frameworks | filter:$select.search">
              <span>{{ framework.title }}</span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <h3>Quick Inline Embed</h3>
    <p>To quickly embed this form without using any framework, you can use the following code snippit.</p>
    <p><pre><textarea style="width:100%;" rows="4" onclick="this.focus();this.select()" readonly="readonly" ng-model="embedCode"></textarea></pre></p>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">About Embedding Forms</h3>
      </div>
      <div class="panel-body">
        <h4>Need more help?</h4>
        <p>We have a lot of documentation @ <a target="_blank" href="https://help.form.io">https://help.form.io</a> that is there to help you get embedding working within your application. Of course, if you need additional help, please feel free to contact our <a href="https://help.form.io/support">Support</a>.</p>
      </div>
    </div>
  </div>
</div>
