<div class="panel panel-default">
  <div class="panel-heading">
    <a class="pull-right" ui-sref="project.{{ formInfo.type }}.form.share"><i class="fa fa-share-alt"></i> Share</a>
    <h3 class="panel-title">Preview</h3>
  </div>
  <div class="panel-body">
    <div ng-if="hasAuthAction" ng-cloak class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-exclamation-sign"></i> This preview is read only because this form contains an Authentication action.</div>
    <div ng-if="hasPremAction && (currentProject.plan === 'basic')" ng-cloak class="alert alert-warning" role="alert"><i class="glyphicon glyphicon-exclamation-sign"></i> This form contains a Premium action, upgrade your <a ui-sref="project.settings.plan">project plan</a> to enable it.</div>
    <formio src="formUrl" read-only="hasAuthAction"></formio>
  </div>
</div>
