<ul class="nav nav-pills form-nav" ng-if="!formId">
  <li role="presentation" ng-if="!isCopy"><span ng-switch="form.type" class="navbar-text form-title">New {{ capitalize(form.type) }}</span></li>
  <li role="presentation" ng-if="isCopy"><span ng-switch="form.type" class="navbar-text form-title">Copy {{ capitalize(form.type) }}</span></li>
</ul>
<div ng-class="{'form-content': !formId}" class="form-edit">
  <form role="form" novalidate>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div id="form-group-title" class="form-group">
          <label for="title" class="control-label field-required">Title</label>
          <input type="text" ng-model="form.title" ng-change="titleChange('{{form.title}}')" class="form-control" id="title" placeholder="Enter the form title" autofocus="!formId"/>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div id="form-group-name" class="form-group" ng-class="{'has-warning': originalForm.name && form.name !== originalForm.name && form.type === 'resource'}">
          <label for="name" class="control-label field-required">Name</label>
          <input type="text" ng-model="form.name" class="form-control" id="name" placeholder="Enter the form machine name"/>
          <p ng-if="originalForm.name && form.name !== originalForm.name && form.type === 'resource'" class="help-block"><span class="glyphicon glyphicon-exclamation-sign"></span>
            Changing the name of a resource will break embedded components in other forms that refer to this resource.
          </p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div id="form-group-display" class="form-group">
          <label for="name" class="control-label">Display as</label>
          <div class="input-group">
            <select class="form-control" name="form-display" id="form-display" ng-options="display.name as display.title for display in formDisplays" ng-model="form.display"></select>
            <span class="btn btn-primary input-group-addon" ng-click="uploadPDF()" ng-if="form.display === 'pdf' && !form.settings.pdf"><i class="fa fa-upload"></i></span>
            <span class="btn btn-primary input-group-addon" ng-click="removePDF()" ng-if="form.display === 'pdf' && form.settings.pdf"><i class="fa fa-times"></i></span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div id="form-group-path" class="form-group">
          <label for="path" class="control-label field-required">API Path</label>
          <div class="input-group">
            <span class="input-group-addon" style="font-size:0.7em;">{{ projectPath(currentProject) }}/</span>
            <input type="text" class="form-control" id="path" ng-model="form.path" placeholder="example" style="text-transform: lowercase; width:120px;">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 save-buttons pull-right">
        <div class="form-group pull-right">
          <a class="btn btn-default" ng-click="copy()" ng-if="formId" uib-tooltip="Copy this form" title="Copy this form"><span class="glyphicon glyphicon-copy"></span></a>
          <a class="btn btn-default" ng-click="formId ? cancel() : $state.go('project.' + form.type + '.index')">Cancel</a>
          <button ng-hide="highestRole === 'team_read'" type="submit" class="btn btn-primary" ng-click="saveForm()">{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-if="highestRole === 'team_read'" class="alert alert-warning">
          Your highest role is Team Read, so you may view the form, but no changes will be persisted.
        </div>
      </div>
    </div>
    <input type="hidden" ng-model="form.type"/>
    <hr class="form-line">
    <div ng-if="form.display === 'pdf' && !form.settings.pdf">
      <ng-include src="'views/form/upload.html'"></ng-include>
      <br/>
    </div>
    <div ng-if="form.display !== 'pdf' || form.settings.pdf">
      <form-builder url="formUrl" form="form" type="form.type" on-save="saveForm" on-cancel="cancel" ng-if="formReady" options="{baseUrl: baseUrl}"></form-builder>
    </div>
    <div ng-include="'views/form/form-settings.html'"></div>
    <div class="form-group pull-right">
      <a class="btn btn-default" ng-click="formId ? cancel() : $state.go('project.' + form.type + '.index')">Cancel</a>
      <button ng-hide="highestRole === 'team_read'" type="submit" class="btn btn-primary" ng-click="saveForm()">{{formId ? 'Save' : 'Create'}} {{ capitalize(form.type)  }}</button>
    </div>
  </form>
</div>
