<div>
  <div class="form-list">
    <ul class="list-group table table-striped">
      <li class="list-group-item" data-ng-repeat="form in forms">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <a ui-sref="project.{{ formType }}.form.view({formId: form._id})" ng-if="!listMode || (listMode == 'forms')"><h5 class="ellipsis">{{ form.title }}</h5></a>
            <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" ng-if="listMode == 'data'"><h5 class="ellipsis">{{ form.title }}</h5></a>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-6">
            <div class="form-list-buttons" ng-if="!listMode || (listMode == 'forms')">
              <a ui-sref="project.{{ formType }}.form.view({formId: form._id})" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View</a>
              <a ui-sref="project.{{ formType }}.form.edit({formId: form._id})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <span class="dropdown-button-menu hidden-lg">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Other
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="otherMenu">
                  <li><a ui-sref="project.{{ formType }}.form.embed({formId: form._id})"><i class="fa fa-code"></i> Embed</a></li>
                  <li><a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})"><i class="fa fa-table"></i> Data</a></li>
                  <li><a ui-sref="project.{{ formType }}.form.action.index({formId: form._id})"><i class="fa fa-paper-plane"></i> Actions</a></li>
                  <li><a ui-sref="project.{{ formType }}.form.permission({formId: form._id})"><i class="fa fa-lock"></i> Access</a></li>
                </ul>
              </span>
              <span class="hidden-md hidden-sm hidden-xs">
                <a ui-sref="project.{{ formType }}.form.embed({formId: form._id})" class="btn btn-default btn-xs"><i class="fa fa-code"></i> Embed</a>
                <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-xs"><i class="fa fa-table"></i> Data</a>
                <a ui-sref="project.{{ formType }}.form.action.index({formId: form._id})" class="btn btn-warning btn-xs"><i class="fa fa-paper-plane"></i> Actions</a>
                <a ui-sref="project.{{ formType }}.form.permission({formId: form._id})" class="btn btn-default btn-xs"><i class="fa fa-lock"></i> Access</a>
              </span>
              <a ui-sref="project.{{ formType }}.form.delete({formId: form._id, formType: formType})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
            </div>

            <div class="form-list-buttons" ng-if="listMode == 'data'">
              <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-xs"><i class="fa fa-table"></i> Data</a>
              <span class="dropdown-button-menu">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="exportMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="exportMenu">
                  <li><a ng-click="export(form, 'json')">{...} JSON</a></li>
                  <li><a ng-click="export(form, 'csv')"><i class="fa fa-file-text-o"></i> CSV</a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <bgf-pagination
    collection="forms"
    url="formsUrl"
    per-page="formsPerPage"
    template-url="./views/partials/pager.html"
  ></bgf-pagination>
</div>
