<div>
  <i id="form-loader" ng-if="!formsFinished" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Search</div>
            <input id="{{ formType }}-search" type="text" class="form-control" ng-model="search.name" placeholder="Find a {{ formType }}...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="project.{{ formType }}.create()" ng-if="!listMode || listMode ==='forms'" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New {{ formType | capitalize }}</a>
    </div>
  </div>
  <div class="form-list">
    <ul class="list-group">
      <li class="list-group-item" data-ng-repeat="form in forms | filter:search">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <i class="fa fa-database type-icon type-icon-resource" ng-if="form.type == 'resource'"></i>
            <i class="fa fa-tasks  type-icon type-icon-form" ng-if="form.type == 'form'"></i>
            <a ui-sref="project.{{ form.type }}.form.edit({formId: form._id})" ng-if="!listMode || listMode == 'data'"><h4 class="ellipsis">{{ form.title }}</h4></a>
            <a ui-sref="project.{{ form.type }}.form.submission.index({formId: form._id})" ng-if="listMode == 'data'"><h4 class="ellipsis">{{ form.title }}</h4></a>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-6">
            <div class="form-list-buttons" ng-if="!listMode || (listMode == 'forms')">
              <a ui-sref="project.{{ form.type }}.form.edit({formId: form._id})" class="btn btn-default btn-xs" ng-if="form.type === formType"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <span class="dropdown-button-menu hidden-lg hidden-md" ng-if="form.type === formType">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Other
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="otherMenu">
                  <a ui-sref="project.{{ formType }}.form.view({formId: form._id})" class="btn btn-default btn-xs" ng-if="formType === 'form'"><i class="fa fa-eye"></i> Preview</a>
                  <li><a ui-sref="project.{{ formType }}.form.action.index({formId: form._id})"><i class="fa fa-paper-plane"></i> Actions</a></li>
                  <li><a ui-sref="project.{{ formType }}.form.permission({formId: form._id})"><i class="fa fa-lock"></i> Access</a></li>
                </ul>
              </span>
              <span class="hidden-sm hidden-xs">
                <a ui-sref="project.{{ formType }}.form.view({formId: form._id})" class="btn btn-default btn-xs" ng-if="formType === 'form'"><i class="fa fa-eye"></i> Preview</a>
                <a ui-sref="project.{{ formType }}.form.action.index({formId: form._id})" class="btn btn-default btn-xs" ng-if="form.type === formType"><i class="fa fa-paper-plane"></i> Actions</a>
                <a ui-sref="project.{{ formType }}.form.permission({formId: form._id})" class="btn btn-default btn-xs" ng-if="form.type === formType"><i class="fa fa-lock"></i> Access</a>
              </span>
              <a ui-sref="project.{{ formType }}.form.delete({formId: form._id, formType: formType})" class="btn btn-default btn-xs" ng-if="form.type === formType"><span class="glyphicon glyphicon-trash"></span></a>
            </div>

            <div class="form-list-buttons" ng-if="listMode == 'data'">
              <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-xs"><i class="fa fa-table"></i> Data</a>
              <span class="dropdown-button-menu">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="exportMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="exportMenu">
                  <li><a ng-click="export(form, 'json')">{...} JSON</a></li>
                  <li><a ng-click="export(form, 'csv')"><i class="fa fa-file-text-o"></i> CSV</a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="row" ng-if="(!listMode || listMode === 'forms') && formType == 'form'">
          <div class="col-xs-12">
            <div>{{projectApi }}/{{ form.path }} <a ui-sref="project.{{ form.type }}.form.embed({formId: form._id})"><i class="fa fa-question-circle"></i></a></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
