<div class="alert alert-info">
  There are currently no resources defined for this project.
</div>
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">About Forms</h3>
    </div>
    <div class="panel-body">
      <p>Forms provide a mechanism for user input within your application. Form.io provides a <strong>form builder interface</strong> which allows you to drag and drop form components as well as reuse Resource fields to create robust, manageable, and reusable form interfaces for your web application.</p>
      <p><a ui-sref="project.{{ formInfo.type }}.create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create a new Form</a> <a class="btn btn-primary" href="{{ formInfo.help }}" target="_blank"><i class="fa fa-life-ring"></i> Help</a></p>
    </div>
  </div>
</div>
