<div>
  <i id="form-loader" ng-if="!formsFinished" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
  <div class="row" style="margin-bottom: 20px;" ng-if="listMode !== 'launch'">
    <div class="col-md-6">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Search</div>
            <input id="{{ formType }}-search" type="text" class="form-control" ng-model="search.title" placeholder="Find a {{ formName | lowercase }}...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right">
      <a ui-sref="project.{{ formType }}.new()" ng-if="'form' === formType" class="btn btn-success" ng-class="{disabled: protected}"><i class="fa fa-plus"></i> New {{ formType | capitalize }}</a>
      <a ui-sref="project.{{ formType }}.create()" ng-if="'resource' === formType" class="btn btn-success" ng-class="{disabled: protected}"><i class="fa fa-plus"></i> New {{ formType | capitalize }}</a>
      <a ui-sref="project.{{ formType }}.import()" ng-if="listMode === formType" class="btn btn-default" uib-tooltip="Import a {{ formType | capitalize }}" ng-class="{disabled: protected}"><span class="glyphicon glyphicon-cloud-download"></span></a>
    </div>
  </div>
  <div class="form-list">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="form in forms | filter:search">
        <div class="row">
          <div class="col-md-6 ellipsis">
            <i class="fa fa-database type-icon type-icon-resource" ng-if="form.type == 'resource'"></i>
            <i class="fa fa-tasks  type-icon type-icon-form" ng-if="form.type == 'form'"></i>
            <span ng-if="!protected">
              <a ui-sref="project.{{ form.type }}.form.edit({formId: form._id})" ng-if="listMode === form.type"><h4>{{ form.title }}</h4></a>
              <a ui-sref="project.{{ listMode }}.form.view({formId: form._id})" ng-if="listMode === 'form' && formType === 'resource'"><h4>{{ form.title }}</h4></a>
              <a ui-sref="project.{{ form.type }}.form.submission.index({formId: form._id})" ng-if="listMode === 'data'"><h4>{{ form.title }}</h4></a>
              <a ui-sref="project.{{ form.type }}.form.permission({formId: form._id})" ng-if="listMode === 'access'"><h4>{{ form.title }}</h4></a>
            </span>
            <h4 ng-if="protected">{{ form.title }}</h4>
            <h4 class="ellipsis" ng-if="listMode == 'launch'">{{ form.title }}</h4>
            <div class="form-list-description" ng-if="listMode === 'form'">GET&nbsp;{{ projectUrl }}/{{ form.path }}</div>
            <div class="form-list-description" ng-if="listMode === 'resource'">{{ componentCount(form.components) }} components on this resource.</div>
            <div class="form-list-description" ng-if="listMode === 'data'">GET&nbsp;{{ projectUrl }}/{{ form.path }}/submission</div>
            <div class="form-list-description" ng-if="listMode === 'access'">GET&nbsp;{{ projectUrl }}/{{ form.path }}</div>
            <div class="form-updated">Updated {{ form.modified | timeSince }} ago</div>
          </div>
          <div class="col-md-6">
            <div class="form-list-buttons" ng-if="listMode == 'form' || listMode == 'resource'">
              <div class="" style="margin-bottom: 5px;">
                <a ui-sref="project.{{ form.type }}.form.edit({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-class="{disabled: protected}" ng-if="formType == listMode"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a ui-sref="project.{{ listMode }}.form.view({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="formType == listMode"><i class="fa fa-check-square-o"></i> Use</a>
                <a ui-sref="project.{{ formType }}.form.api({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="listMode === 'resource'"><i class="fa fa-code"></i> API</a>
                <a ui-sref="project.{{ listMode }}.form.embed({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="listMode === 'form'"><i class="fa fa-code"></i> Embed</a>
                <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="formType === 'resource'"><i class="fa fa-table"></i> Data</a>
              </div>
              <div class="">
                <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="formType === 'form'"><i class="fa fa-table"></i> Data</a>
                <a ui-sref="project.{{ formType }}.form.action.index({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="formType === listMode" ng-class="{disabled: protected}"><i class="fa fa-paper-plane"></i> Actions</a>
                <a ui-sref="project.{{ formType }}.form.permission({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="formType === listMode" ng-class="{disabled: protected}"><i class="fa fa-lock"></i> Access</a>
                <a ui-sref="project.{{ formType }}.form.delete({formId: form._id, formType: formType})" class="btn btn-info btn-light btn-xs" ng-if="formType === listMode" ng-class="{disabled: protected}"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </div>

            <div class="form-list-buttons" ng-if="listMode == 'launch'">
              <a ui-sref="project.{{ form.type }}.form.share({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="listMode === 'launch'"><span class="fa fa-rocket"></span> Launch</a>
            </div>
            <div class="form-list-buttons" ng-if="listMode == 'data'">
              <a ui-sref="project.{{ form.type }}.form.share({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-if="listMode === 'launch'"><span class="fa fa-rocket"></span> Launch</a>
              <a ui-sref="project.{{ formType }}.form.submission.index({formId: form._id})" class="btn btn-info btn-light btn-xs"><i class="fa fa-table"></i> Data</a>
              <span class="dropdown-button-menu">
                <button class="btn btn-info btn-xs btn-light dropdown-toggle" type="button" id="exportMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Export
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="exportMenu">
                  <li><a ng-click="export(form, 'json')">{...} JSON</a></li>
                  <li><a ng-click="export(form, 'csv')"><i class="fa fa-file-text-o"></i> CSV</a></li>
                </ul>
              </span>
            </div>
            <div class="form-list-buttons" ng-if="listMode == 'access'">
              <a ui-sref="project.{{ formType }}.form.permission({formId: form._id})" class="btn btn-info btn-light btn-xs" ng-class="{disabled: protected}"><i class="fa fa-shield"></i> Edit {{ formType | capitalize }} Access</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
