<div class="row project-section-content">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-body">
        <i id="{{ formInfo.type }}-loader" style="font-size: 2em;" class="fa fa-spinner fa-pulse"></i>
        <form-list forms="forms" project="currentProject" form-type="formInfo.type" num-per-page="10"></form-list>
      </div>
      <div class="panel-footer text-right">
        <a ui-sref="project[formInfo.type].create()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New {{ formInfo.name }}</a>
      </div>
    </div>
  </div>
</div>
