<div class="well">
  <div class="container text-center">
    <h2>What kind of {{ capitalize(form.type) }} would you like to create?</h2>
    <div class="row">
      <div class="col col-sm-4 col-sm-offset-2">
        <div class="thumbnail" ui-sref="project.form.create" style="cursor:pointer;">
          <div class="caption">
            <h3>API Web Form</h3>
            <p>Use our powerful <strong>Drag-and-Drop</strong> form builder to create an API driven web form.</p>
          </div>
          <img src="images/webform.png">
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="thumbnail">
          <div class="caption" ng-click="uploadPDF()" style="cursor:pointer;">
            <h3>PDF Form</h3>
            <p>Our PDF Form feature allows you to upload a PDF and then convert it into a dynamic API driven fillable PDF form.</p>
          </div>
          <img src="images/w4.png">
        </div>
      </div>
    </div>
  </div>
</div>
