<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">About Resources</h3>
  </div>
  <div class="panel-body">
    <p>Resources are objects that can be used to create complex data structures within your application. Resources can be referenced within other forms to create complex nested resource relationships.</p>
    <p>Form.io utilizes a <strong>form builder interface</strong> to create new resources, which not only creates the data model and api, but also the resource form which can be found on the Forms page.</p>
    <p><a class="btn btn-primary" href="{{ formInfo.help }}" target="_blank"><i class="fa fa-book"></i> More info</a></p>
  </div>
</div>
