<div class="alert alert-info">
  There are currently no resources defined for this project.
</div>
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">About Resources</h3>
    </div>
    <div class="panel-body">
      <p>Resources are objects that can be used to create complex data structures within your application. The fields within a resource can be reused within other forms, as well as linked together to create complex nested resource relationships.</p>
      <p>Form.io utilizes a <strong>form builder interface</strong> to create new resources, which not only creates the data model, but also automatically reflects that model onto a RESTful interface.</p>
      <p><a ui-sref="project.{{ formInfo.type }}.create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create a new Resource</a> <a class="btn btn-primary" href="{{ formInfo.help }}" target="_blank"><i class="fa fa-life-ring"></i> Help</a></p>
    </div>
  </div>
</div>
