<h3>Upload a PDF</h3>
<div>
  <label class="btn btn-default btn-file btn-block">
    <div class="button" ngf-select="upload($file)" ngf-pattern="'application/pdf'" accept="application/pdf" ngf-max-size="20MB"><i class="fa fa-upload"></i> Upload PDF</div>
  </label>
  <div class="progress" ng-if="uploading">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%">
      <span class="sr-only">{{ uploadProgress }}% Complete</span>
    </div>
  </div>
</div>
