$icon-font-path: "../bower_components/bootstrap/fonts/";
// bower:scss
// endbower

.logo {
  font-family: 'Vast Shadow', cursive;
  font-size: 2em;
}

.dropdown-menu {
  font-size: 18px;
}

ul.dropdown-menu {
  padding-bottom: 5px;
}

table {
  font-size: 14px;
}
