<!-- Applies background to whole page, not just container -->
<style>
  body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% auto;
  }
</style>
<div class="container user-reset-page">
  <p class="text-center"><img src="images/formio-logo-with-slogan.png" alt="form.io: fastest FORM & API workflow - anywhere"></p>
  <div class="col-lg-10 col-md-12 col-sm-10 col-centered">
    <div class="col-lg-8 col-md-8 col-md-offset-2 reset-container">
      <div class="col-lg-10 col-md-10 col-centered">
        <p>&nbsp;</p>
        <h4>Awesome!, your account has been created, please check your inbox for email verification.</h4>
        <button class="btn btn-primary" ui-sref="auth">Back to Login</button>
      </div>
    </div>
  </div>

</div>
