<div class="row">
  <div class="col-sm-12">
    <h4>To begin development of your application you will need to set up a local development environment. There are three ways to do this. You can start with our StarterKit, start with another application framework or roll your own.</h4>
    <p>Your options are:</p>
    <ul class="list-group steps">
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">A</span>
          <h5>Clone the Form.io AngularJS StarterKit</h5>
        </div>
        <p>Our AngularJS StarterKit comes set up with Angular UI Router, ngFormio and lots of Providers that make it easy to set up and use our forms within AngularJS. This is the easiest route to getting a running application.</p>
        <p>In order to clone the github repo you must have git installed on your computer. If you don't already have it, you can get it at <a href="https://git-scm.com/" target="_blank">https://git-scm.com/</a>.</p>
        <p>Once you have git, go to your terminal and type</p>
        <p><pre>git clone https://github.com/formio/ng-app-starterkit.git
cd ng-app-starterkit</pre>
        </p>
        <p>If you do no have git installed, you can go to <a href="https://github.com/formio/ng-app-starterkit" target="_blank">https://github.com/formio/ng-app-starterkit</a> and click the <strong>Download Zip</strong> button and unzip it on your computer.</p>
        <p>Finally, be sure to install all the dependencies to get everything set up. From within the application root directory, type these commands</p>
        <p><pre>npm install
bower install</pre>
        </p>
      </li>
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">B</span>
          <h5>Use a Fountain.js Generator</h5>
        </div>
        <p><a href="http://fountainjs.io/" target="_blank">Fountain.js</a> is a yeoman generator that will build the framework of an application for you and has a lot of sane defaults. It is a good way to get started but does not come pre-configured with the Form.io libraries installed.</p>
        <p>To set it up, go to your terminal and type</p>
        <p><pre>npm install -g yo generator-fountain-webapp</pre></p>
        <p>Once the dependencies installed, simply launch the generator and answer the questions.</p>
        <p><pre>mkdir myapp
cd myapp
yo fountain-webapp</pre></p>
        <p>You can choose whatever you want for the options but we recommend the following</p>
        <p><pre>
? Which JavaScript framework do you want? Angular 1
? Which module management do you want? None with Bower and script injection
? Which JS preprocessor do you want? Pure old JavaScript
? Which CSS preprocessor do you want? SASS
? Which Continuous Integration platform do you want?
? Do you want a sample app? A working landing page
? Would you like a router? Angular UI Router</pre></p>
        <p>Be sure to install all the dependencies to get everything set up. From within the application root directory, type these commands</p>
        <p><pre>npm install
bower install</pre>
        </p>
        <p>Finally, add in the Form.io libraries that you want.</p>
        <ul>
          <li>
            <a href="https://github.com/formio/ngFormio">ngFormio</a> - The main AngularJS form renderer.
          </li>
          <li>
            <a href="https://github.com/formio/ngFormBuilder">ngFormBuilder</a> - The AngularJS form builder.
          </li>
          <li>
            <a href="https://github.com/formio/ngFormioHelper">ngFormioHelper</a> - The AngularJS helper library that includes providers for Authentication, Form Builder and more.
          </li>
        </ul>
        <br />
        <p>To add these to your application, type the following</p>
        <p><pre>bower install --save ng-formio ng-formio-builder ng-formio-helper</pre><p>
        <p>Then add them to your application by ensuring they are added to your module dependencies.</p>
        <p><pre>app.module('myapp', ['formio', 'ngFormBuilder', 'ngFormioHelper']);</pre><p>
      </li>
      <li class="list-group-item">
        <div class="list-group-item-title">
          <span class="count-badge">C</span>
          <h5>Roll your own application</h5>
        </div>
        <p>If you are have experience with and are comfortable setting up your own AngularJS application you can, of course, do so. This works best for teams that already have an application or have a different set of build tools or dependent libraries than the starterkits use.</p>
        <p>To add Form.io forms to your application, use one of the package managers and include the ngFormio library to your application. If you would like to do form building inside your app as well, include the ngFormBuilder library as well.</p>
        <ul>
          <li>
            <a href="https://github.com/formio/ngFormio">ngFormio</a> - The main AngularJS form renderer.
          </li>
          <li>
            <a href="https://github.com/formio/ngFormBuilder">ngFormBuilder</a> - The AngularJS form builder.
          </li>
        </ul>
        <br />
        <p>Then add them to your application by ensuring they are added to your module dependencies.</p>
        <p><pre>app.module('myapp', ['formio', 'ngFormBuilder']);</pre><p>
      </li>
    </ul>
  </div>
</div>
